<div class="card mx-auto bg-light" style="width: 50%;">
  <div class="card-body">
    <h3 class="text-center mb-md-3">
      Create Item Resource
    </h3>
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group row">
        <label for="title" class="col-sm-3 col-form-label">Title</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            name="title"
            [(ngModel)]="form.title"
            required
            minlength="3"
            #title="ngModel"
          />
        </div>
        <div class="alert-danger" *ngIf="f.submitted && title.invalid">
          <div *ngIf="title.errors.required">Title is required</div>
          <div *ngIf="title.errors.minlength">
            Title must be at least 3 characters
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="desc" class="col-sm-3 col-form-label">Description</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            name="desc"
            [(ngModel)]="form.desc"
            required
            minlength="3"
            #desc="ngModel"
          />
        </div>
        <div class="alert-danger" *ngIf="f.submitted && desc.invalid">
          <div *ngIf="desc.errors.required">Description is required</div>
          <div *ngIf="desc.errors.minlength">
            Description must be at least 3 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Create</button>
      </div>
      
      <div class="alert alert-warning" *ngIf="f.submitted && createFailed">
        Failed to create Item Resource! <br />{{ errorMessage }}
      </div>
    </form>
    <div class="alert alert-success" *ngIf="isSuccessful">
      Item Resource successfully created!
    </div>
    <div *ngIf=!isSuccessful>
      <div class="strike">
        <span>or</span>
      </div>
      <a href="/resource/createKnowledge" class="mt-md-2 btn btn-primary btn-block">Create Knowledge Resource</a>
      <a href="/resource/createManpower" class="mt-md-2 btn btn-primary btn-block">Create Manpower Resource</a>
      <a href="/resource/createVenue" class="mt-md-2 btn btn-primary btn-block">Create Venue Resource</a>
    </div>
  </div>
</div>