<div class="container p-3 my-3 bg-dark text-white">
    <div class="row">
        <div class="col-4">
            <div *ngIf="user.profilePic.length == 0">
                <img class="card-img-top rounded-circle img-fluid mx-auto d-block" src="../../assets/img/profilePic_Placeholder.png" style="margin: 10px; width: 130px; height: 130px; object-fit: cover;"
                alt="Profile picture">
            </div>
            <div *ngIf="user.profilePic.length != 0">
                <img class="card-img-top rounded-circle img-fluid mx-auto d-block" src={{user.profilePic}} style="margin: 10px; width: 130px; height: 130px; object-fit: cover;"
                alt="Profile picture">
            </div>
            <div *ngIf=isVerified>
                <img src="../../assets/img/verified.jpg" style="width: 30px; height: 30px;" class="center">
            </div>        
        </div>
        <div class="col-8">
            <h4 class="card-title text-left mt-md-3">{{ user.name }}
                <div style="font-size:medium; display: inline-block;">({{ user.username }})</div>
            </h4>
            <h6 class="card-title text-left mt-md-3">{{ user.country }}</h6>
            <h6 class="card-title text-left mt-md-1">{{ user.occupation }}</h6>
            <h6 class="card-title text-left mt-md-1">{{ user.address }}</h6>
            <h6 class="card-title text-left mt-md-1">{{ user.phone }}</h6>
            <h6 class="card-title text-left mt-md-1">{{ user.bio }}</h6>
            <h6 class="card-title text-left mt-md-1">{{ user.website }}</h6>
        </div>
    </div>
</div>

<div class="container p-3 my-3 bg-primary text-white">
        <div class="bg-primary text-white border-0">
            <h6 class="card-title text-left mt-md-3 center" style="margin: 15px">SDGs: 
                <div *ngIf="user.SDGs.length == 0" style="display:inline-block;">
                    -
                </div>
                <div *ngFor="let sdg of user.SDGs" style="display:inline-block;">
                    <button class="sdg sdg{{sdg}} mr-md-1">{{sdg}}</button>
                </div>
            </h6>
            <h6 *ngIf=isIndividual class="card-title text-left mt-md-3 center" style="margin: 15px">Skills:
                <div *ngIf="user.skills.length == 0" style="display:inline-block;">
                    -
                </div>
                <div *ngFor="let s of user.skills" style="display: inline-block;">
                    <button class="btn btn-secondary mr-md-1 rounded-pill">{{s}}</button>
                </div>
            </h6>
            <h6 *ngIf=isIndividual class="card-title text-left mt-md-3 center" style="margin: 15px">Gender: {{ user.gender }}</h6>
        </div>
</div>

<!-- <div class="card" style="width: 50%; float: left;">
    <div class="card-body w-100">
        <h5 class="card-title">My Current Projects</h5>
        <div *ngIf="currentProj.length == 0">
            Start or join a new project now!
        </div>
        <div *ngFor="let proj of currentProj">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        div class="card border-0" style="width:20%">
                            <div *ngIf="b.imgPath == '' ">
                                <img class="card-img-top rounded-circle img-fluid mx-auto d-block" src="../../assets/img/profilePic_Placeholder.png" style="margin:15px; width: 50px; height: 50px; object-fit: cover;"
                                    alt="Badge picture">
                            </div>
                            <div *ngIf="b.imgPath.length != 0">
                                <img class="card-img-top rounded-circle img-fluid mx-auto d-block" src={{b.imgPath}} style="margin:15px; width: 50px; height: 50px; object-fit: cover;"
                                    alt="Badge picture">
                            </div>
                        </div
                        <div class="card border-0" style="width:80%">
                            <h6 class="card-title text-left mt-md-3" style="margin-left: 5%;"> Title: {{proj.title}} </h6>
                            <h6 class="card-title text-left mt-md-3" style="margin-left: 5%;"> Description: {{proj.desc}} </h6>
                        </div>
                    </div>

                </li>
            </ul>
        </div>
    </div>

    <div class="card-body w-100">
        <h5 class="card-title">My Past Projects</h5>
        <div *ngIf="pastProj.length == 0">
            Start or join a new project now!
        </div>
        <div *ngFor="let project of pastProj">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        div class="card border-0" style="width:20%">
                                <div *ngIf="b.imgPath == '' ">
                                    <img class="card-img-top rounded-circle img-fluid mx-auto d-block" src="../../assets/img/profilePic_Placeholder.png" style="margin:15px; width: 50px; height: 50px; object-fit: cover;"
                                        alt="Badge picture">
                                </div>
                                <div *ngIf="b.imgPath.length != 0">
                                    <img class="card-img-top rounded-circle img-fluid mx-auto d-block" src={{b.imgPath}} style="margin:15px; width: 50px; height: 50px; object-fit: cover;"
                                        alt="Badge picture">
                                </div>
                            </div
                        <div class="card border-0" style="width:80%">
                            <h6 class="card-title text-left mt-md-3" style="margin-left: 5%;"> Title: {{project.title}} </h6>
                            <h6 class="card-title text-left mt-md-3" style="margin-left: 5%;"> Description: {{project.desc}} </h6>
                        </div>
                    </div>

                </li>
            </ul>
        </div>
    </div>
</div> -->
