<h2>
    Funding Marketplace
    <a href="/marketplace/resource" class="ml-md-2 mt-2 float-right" style="font-size: large;"><u>Resource Marketplace</u></a>
    <span class="float-right ml-md-2 mt-2" style="font-size: large;"> | </span>
    <a href="/marketplace/project" class="float-right mt-2" style="font-size: large;"><u>Project Marketplace</u></a>
</h2>

<p-toast key="toastMsg" [baseZIndex]="100"></p-toast>

<div class="card">
    <p-dataView #dv [value]="projects" [paginator]="true" [rows]="9" filterBy="title" [sortField]="sortField"
        [sortOrder]="sortOrder" layout="grid">
        <ng-template pTemplate="header">
            <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
                <p-multiSelect [options]="sdgOption" defaultLabel="All SDGs" [(ngModel)]="selectedSDGs"
                    (onChange)="onSDGChange($event)" optionLabel="name">
                    <ng-template let-value pTemplate="selectedItems">
                        <div class="country-item" style="display: inline-flex;" *ngFor="let option of selectedSDGs">
                            <span class="sdg sdg{{option.number}} mr-md-1">{{option.number}}</span>
                        </div>
                        <div *ngIf="!selectedSDGs || selectedSDGs.length === 0" class="country-placeholder">
                            Select SDGs
                        </div>
                    </ng-template>
                    <ng-template let-country pTemplate="item">
                        <div class="country-item">
                            <div>{{country.value.name}}</div>
                        </div>
                    </ng-template>
                </p-multiSelect>

                <p-dropdown [options]="countryOptions" [(ngModel)]="filterKeyCountry" placeholder="Filter By Country"
                    (onChange)="onFilterCountry($event)" styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
                <p-dropdown [options]="sortOptions" [(ngModel)]="sortKeyDate" placeholder="Sort By Date"
                    (onChange)="onSortChangeDate($event)" styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
                <span class="p-input-icon-left p-mb-2 p-mb-md-0">
                    <i class="pi pi-search"></i>
                    <input type="search" pInputText placeholder="Search Project by Title"
                        (input)="dv.filter($event.target.value)">
                </span>
            </div>
        </ng-template>
        <ng-template let-proj pTemplate="gridItem">
            <div class="p-col-12 p-md-4">
                <div class="product-grid-item card pt-2 pl-3 pr-3 pb-2">
                    <div class="mb-md-2">
                        <span class="mt-md-2"><span *ngFor="let sdg of proj.SDGs"
                            class="sdg sdg{{sdg}} mr-md-1 small">{{sdg}}</span></span>
                        <span class="float-right">{{formatDate(proj.createdAt)}}</span>
                    </div>
                    <div class="product-grid-item-content mb-md-3">
                        <div class="product-grid-item-content">
                            <img *ngIf="proj.imgPath.length == 0" src="../../../assets/img/team.jpg" class="img-fluid"
                                style="width: 100px; height: 100px; object-fit: cover;" [alt]="proj.title" />
                            <img *ngIf="proj.imgPath.length != 0" src="https://localhost:8080{{proj.imgPath}}"
                                class="img-fluid" style="width: 100px; height: 100px; object-fit: cover;"
                                [alt]="proj.title" />
                        </div>
                        <div class="product-name">{{proj.fundingTitle}}</div>
                        <div class="mb-md-1">from Project <a href="/project/projectDetails?id={{proj.id}}">{{proj.title}}</a></div>
                        <div class="product-description">{{proj.country}}</div>
                    </div>
                    <br><br><br>
                    <div style="bottom: 15%; width: 90%; position: absolute;">
                        <span>${{proj.receivedSum}} raised</span>
                        <span class="float-right">{{calculateProgress(proj.total, proj.receivedSum)}}%</span>
                        <p-progressBar [value]="calculateProgress(proj.total, proj.receivedSum)"
                            [style]="{'height':'6px'}">
                        </p-progressBar>
                        Remaining: ${{proj.total - proj.receivedSum - proj.pendingSum}}
                    </div>
                    
                    <div>
                        <button class="btn btn-primary mt-md-2" style="bottom: 2%; right: 3%; position: absolute;"
                            data-toggle="modal" data-target="#DonateModal" (click)=getForm(proj)>Donate</button>
                        <div class="modal fade" id="DonateModal" data-backdrop="static" tabindex="-1" role="dialog"
                            aria-labelledby="donateModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="donateModalLabel">Donate to {{projForm.title}}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <img *ngIf="projForm.imgPath.length == 0" class="img-fluid"
                                            src="../../../assets/img/team.jpg"
                                            style="height: 300px; width: 800px; object-fit: cover;">
                                        <img *ngIf="projForm.imgPath.length > 0" class="img-fluid"
                                            src="https://localhost:8080{{projForm.imgPath}}"
                                            style="height: 300px; width: 800px; object-fit: cover;">
                                        <br>
                                        <h5 class="mt-md-2" style="display: inline-block;"><a
                                                href="/project/projectDetails?id={{projForm.id}}">{{projForm.title}}</a>
                                        </h5> ({{projForm.country}})
                                        <span class="float-right medium mt-md-2">SDGs:&nbsp;<span
                                                *ngFor="let sdg of projForm.SDGs"
                                                class="sdg sdg{{sdg}}">{{sdg}}</span></span>
                                        <div class="medium">
                                            created by
                                            <img *ngIf="projForm.ownerImg.length == 0"
                                                src="../../../assets/img/profilePic_Placeholder.png"
                                                class="img-fluid rounded-circle"
                                                style="height: 40px; width: 40px; object-fit: cover;">
                                            <img *ngIf="projForm.ownerImg.length > 0"
                                                src="https://localhost:8080{{projForm.ownerImg}}"
                                                class="img-fluid rounded-circle"
                                                style="height: 40px; width: 40px; object-fit: cover;">

                                            <div *ngIf="projForm.ownerType == 'user'" style="display: inline-block;"
                                                class="ml-md-2">
                                                <a
                                                    href="/profile?username={{projForm.ownerUsername}}&userType=individual">{{projForm.ownerName}}</a>
                                            </div>
                                            <div *ngIf="projForm.ownerType != 'user'" style="display: inline-block;"
                                                class="ml-md-2">
                                                <a
                                                    href="/profile?username={{projForm.ownerUsername}}&userType=institution">{{projForm.ownerName}}</a>
                                            </div>
                                            at {{formatDate(projForm.createdAt)}}
                                        </div>

                                        <div class="row mt-md-3">
                                            <div class="col-6">
                                                <h6 class="m-0">{{projForm.fundingTitle}}</h6>
                                                <div class="mb-md-3">{{projForm.fundingDesc}}</div>

                                                <span>${{projForm.receivedSum}} raised</span>
                                                <span
                                                    class="float-right">{{calculateProgress(projForm.targetSum, projForm.receivedSum)}}%</span>
                                                <p-progressBar
                                                    [value]="calculateProgress(projForm.targetSum, projForm.receivedSum)"
                                                    [style]="{'height':'6px'}"></p-progressBar>
                                                Target Sum: ${{projForm.targetSum}} <br>
                                                Pending Sum: ${{projForm.pendingSum}} <br>
                                                Remaining Sum: ${{projForm.remainingSum}}
                                            </div>
                                            <div class="col-6">
                                                <div *ngIf="!isSuccessful">
                                                    <h6>Submit a request to donate</h6>
                                                    <form name="form" (ngSubmit)="f.form.valid && donate()" #f="ngForm"
                                                        novalidate>
                                                        <div class="form-group row">
                                                            <label for="moneySum"
                                                                class="col-sm-4 col-form-label">Amount</label>
                                                            <div class="col-sm-8">
                                                                <div class="input-group">
                                                                    <div class="input-group-prepend">
                                                                        <div class="input-group-text">USD</div>
                                                                    </div>
                                                                    <input type="text" class="form-control" name="moneySum"
                                                                        [(ngModel)]="projForm.amount" required
                                                                        #moneySum="ngModel" />
                                                                </div>
                                                            </div>
                                                            <div class="alert-danger"
                                                                *ngIf="f.submitted && moneySum.invalid">
                                                                <div *ngIf="moneySum.errors.required">Amount is required
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label for="desc"
                                                                class="col-sm-4 col-form-label">Message</label>
                                                            <div class="col-sm-8">
                                                                <textarea class="form-control" name="desc"
                                                                    [(ngModel)]="projForm.reqDesc" #desc="ngModel"
                                                                    rows="2"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <button class="btn btn-primary btn-block">Donate</button>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div *ngIf="isSuccessful">
                                                    <div class="alert alert-success">
                                                        Your request to donate has been submitted successfully! <br>
                                                        Please proceed to make the payment to this project.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>