<div class="row">
    <div class="card" style="width: 60%">
        <div class="ml-auto card" style="width: 100%">
            <div class="card-body">
                <h5 class="card-title">Admin Verification</h5>
                <ul class="nav">
                    <li class="nav-item">
                        <a href="#tab-01" aria-controls="tab-01" role="tab" data-toggle="tab" style="margin: 10px;">Individuals</a>
                    </li>
                    <li class="nav-item">
                        <a href="#tab-02" aria-controls="tab-02" role="tab" data-toggle="tab" style="margin: 10px;">Institutions</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tab-01">
                        <div *ngFor="let v of verify">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="card border-0" style="width: 30%; float: left">
                                        <img class="card-img-top img-fluid mx-auto d-block" style="float: left; width: 150px; height: 150px; object-fit: cover;"
                                            src="{{v.imgPath}}" alt="Profile picture">
                                        <!--img class="img-fluid" src="{{v.imgPath}}"-->
                                    </div>

                                    <div class="card border-0" style="width:50%; float: left">
                                        <h6 class="card-title text-left mt-md-3" style="margin: 5px;"> Name: {{v.name}} </h6>
                                        <h6 class="card-title text-left mt-md-3" style="margin: 5px;"> Username: {{v.username}} </h6>
                                        <h6 class="card-title text-left mt-md-3" style="margin: 5px;"> Status: {{v.status}} </h6>
                                        <!--h6 class="card-title text-left mt-md-3" style="margin: 5px;" id="vId"> Id: {{v.userId}} </h6-->
                                    </div>

                                    <button type="submit" class="btn btn-success mb-2 mr-2" style="float: left" id="verifyButton" data-toggle="modal" data-target="#checkModal"
                                        (click)="uVerify(v.requestId)">
                                        Verify
                                    </button>
                                    <button type="submit" class="btn btn-danger" style="float: left;" id="rejectButton" data-toggle="modal" data-target="#checkModal"
                                        (click)="uReject(v.requestId)">
                                        Reject
                                    </button>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab-02">
                        <div *ngFor="let i of verifyInstitution">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="card border-0" style="width:80%">
                                        <h6 class="card-title text-left mt-md-3" style="margin: 5px;"> Name: {{i.name}} </h6>
                                        <h6 class="card-title text-left mt-md-3" style="margin: 5px;"> Username: {{i.username}} </h6>
                                        <h6 class="card-title text-left mt-md-3" style="margin: 5px;"> Status: {{i.status}} </h6>
                                        <h6 class="card-title text-left mt-md-3" style="margin: 5px;"> Verified: {{i.isVerified}} </h6>
                                    </div>
                                    <button type="submit" class="btn btn-success mr-3" style="float: left" id="verifyButton" (click)="iVerify(i.id)">
                                        Verify
                                    </button>
                                    <button type="submit" class="btn btn-danger" style="float: left;" id="rejectButton" (click)="iReject(i.id)">
                                        Reject
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>