<h3>User Verification</h3>
<div class="row">
    <div class="card" style="width: 60%">
        <div class="ml-auto" style="width: 100%">
            <div class="card-body">
                <h5 *ngIf=isAdmin class="card-title">Admin Verification</h5>
                <h5 *ngIf=isRegional class="card-title">Regional Admin Verification</h5>
                <!--ul class="nav">
                    <li class="nav-item">
                        <a href="#tab-01" aria-controls="tab-01" role="tab" data-toggle="tab" style="margin: 10px;">Individuals</a>
                    </li>
                    <li class="nav-item">
                        <a href="#tab-02" aria-controls="tab-02" role="tab" data-toggle="tab" style="margin: 10px;">Institutions</a>
                    </li>
                </ul-->

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="search-tab" data-toggle="tab" href="#search" role="tab" aria-controls="search" aria-selected="true">Individuals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="adminLeads-tab" data-toggle="tab" href="#adminLeads" role="tab" aria-controls="adminLeads" aria-selected="false">Institutions</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade show active" id="search" role="tabpanel" aria-labelledby="search-tab">
                        <div class="alert alert-warning mt-md-2" *ngIf="verify.length == 0">
                            No request found.
                        </div>
                        
                        <div *ngFor="let v of verify">
                            <ul class="list-group">
                                <li class="list-group-item">

                                    <div class="row">
                                        <div class="col-3">
                                            <img class="card-img-top img-fluid mx-auto d-block"  style="margin: 10px; width: 150px; height: 150px; object-fit: cover;" src="{{v.imgPath}}" alt="Verify picture">
                                        </div>
                                        <div class="card border-0 col-4">
                                            <h6 class="card-title text-left mt-md-3" style="margin-left: 5%;"> Name: <a href="/profile?username={{v.username}}&userType=individual" target="_blank">{{v.name}}</a> </h6>
                                            <h6 class="card-title text-left mt-md-3" style="margin-left: 5%;"> Username: {{v.username}} </h6>
                                            <h6 class="card-title text-left mt-md-3" style="margin-left: 5%;"> Status: {{v.status}} </h6>
                                            <!--h6 class="card-title text-left mt-md-3" style="margin: 5px;" id="vId"> Id: {{v.userId}} </h6-->
                                        </div>

                                        <div class="card border-0 col-5">
                                            <div class="card-body">
                                                <button type="button" class="btn btn-danger" (click)="uReject(v)"
                                                    style="float: right; margin-right: 2%;">
                                                    Reject
                                                </button>
                                                <button type="button" class="btn btn-success" (click)="uVerify(v)"
                                                    style="float: right; margin-right: 2%;" id="verifyButton">
                                                    Verify
                                                </button>
                                            </div>
                                        </div>
                                    </div>
  
                                <a href="{{v.imgPath}}" target="_blank">View picture</a>

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=#ee>
    View picture
</button>
  
  <div class="modal fade" id="ee" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Verification picture</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <img class="card-img-top img-fluid mx-auto d-block" style="float: left; object-fit: cover;" src="{{v.imgPath}}" alt="Verify picture">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div> -->

                                    <!-- <p>
                                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
                                            aria-controls="collapseExample">
                                            View Verification Picture
                                        </button>
                                    </p>
                                    <div class="collapse" id="collapseExample">
                                        <div class="card card-body">
                                            <img class="card-img-top img-fluid mx-auto d-block" style="float: left; object-fit: cover;" src="{{v.imgPath}}" alt="Verify picture">
                                        </div>
                                    </div> -->

                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="adminLeads" role="tabpanel" aria-labelledby="adminLeads-tab">
                        <div class="alert alert-warning mt-md-2" *ngIf="verifyInstitution.length == 0">
                            No request found.
                        </div>
                        
                        <div *ngFor="let i of verifyInstitution">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="card border-0" style="width:50%">
                                            <h6 class="card-title text-left mt-md-3" style="margin-left: 5%;"> Name: <a href="/profile?username={{i.username}}&userType=institution" target="_blank">{{i.name}}</a></h6>
                                            <h6 class="card-title text-left mt-md-3" style="margin-left: 5%;"> Username: {{i.username}} </h6>
                                            <h6 class="card-title text-left mt-md-3" style="margin-left: 5%;"> Status: {{i.status}} </h6>
                                            <h6 class="card-title text-left mt-md-3" style="margin-left: 5%;"> Verified: {{i.isVerified}} </h6>
                                            
                                        </div>
                                        <div class="card border-0" style="width:50%; float: right">
                                            <div class="card-body">
                                                <button type="button" class="btn btn-danger" (click)="iReject(i)" 
                                                    style="float: right; margin-right: 2%;">
                                                    Reject
                                                </button>
                                                <button type="button" class="btn btn-success" (click)="iVerify(i)"
                                                    style="float: right; margin-right: 2%;">
                                                    Verify
                                                </button>
                                            </div>
                                            <button class="btn btn-primary" (click)="downloadAttachment(i.verifyFilePath)">
                                                <i class="pi pi-download"></i>&nbsp;Download attachment
                                            </button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>