<a href="/project/projectDetails?id={{projectId}}">
    <u>
        << Back to project</u>
</a>

<a *ngIf="isOwnerAdmin" href="/project/requests?id={{projectId}}" class="float-right">
    <u>See Project Requests >></u>
</a>

<h3 class="mt-md-2">Project Resources
    <!--button *ngIf="project.status=='ongoing'" class="btn btn-primary float-right" data-toggle="modal" data-target="#exampleModalScrollable">Request Contribution</button-->
    <button *ngIf="isOwnerAdmin && project.status == 'ongoing'" class="btn btn-primary float-right" data-toggle="modal" data-target="#CreateModal">
        Add Resource Need
    </button>
</h3>
<h4>Project: {{project.title}}</h4>
Overall Need Progress:
<p-progressBar [value]="progress"></p-progressBar>

<p-toast key="toastMsg" [baseZIndex]="100"></p-toast>

<div class="modal fade" data-backdrop="static" id="donateModal" tabindex="-1" role="dialog" aria-labelledby="donateModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="donateModalTitle">Donate</h5>
                <button type="button" (click)="closeModal()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngIf=!isDonateSuccessful>
                    <h6>Remaining Sum: ${{needForm.remainingSum}}</h6>

                    <form name="form" (ngSubmit)="fb.form.valid && donate()" #fb="ngForm" novalidate>
                        <div class="form-group row">
                            <label for="moneySum" class="col-sm-4 col-form-label">Amount</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">$</div>
                                    </div>
                                    <input type="text" class="form-control" name="moneySum" [(ngModel)]="needForm.amount" required #moneySum="ngModel" />
                                </div>
                            </div>
                            <div class="alert-danger" *ngIf="fb.submitted && moneySum.invalid">
                                <div *ngIf="moneySum.errors.required">Amount is required
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="desc" class="col-sm-4 col-form-label">Description</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" name="desc" [(ngModel)]="needForm.reqDesc" #desc="ngModel" rows="2"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block">Donate</button>
                        </div>
                    </form>
                </div>
                <div *ngIf="isDonateSuccessful">
                    <div class="alert alert-success">
                        Your request to donate has been submitted successfully!<br>
                        Please proceed to make the payment to this project.
                        <br><br> You can check your request status under
                        <a href="/myRequests">My Outgoing Requests</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" data-backdrop="static" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Request to Contribute</h5>
                <button type="button" class="close" (click)="closeModal()" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngIf="!isContributeSuccessful">
                    <div class="row">
                        <div class="col-12">
                            <h5>Select your resource:</h5>
                            <div *ngIf="tempType=='item' && item.length != 0">
                                <div *ngFor="let it of item; let i = index">
                                    <label>
                                        <input type="radio" name="res" value="i" [checked]="resMap[i]" (change)="updateCheckedRes(it.id, $event); isUpdateSuccessful=false"
                                        /> {{it.title}}
                                        <br>
                                        <small>{{it.desc}}</small>
                                    </label>
                                </div>
                            </div>
                            <div *ngIf="tempType=='item' && item.length== 0">
                                You have no item resources. Create one now!
                            </div>
                            <div *ngIf="tempType=='knowledge' && knowledge.length != 0">
                                <div *ngFor="let kn of knowledge; let i = index">
                                    <label>
                                        <input type="radio" name="res" value="i" [checked]="resMap[i]" (change)="updateCheckedRes(kn.id, $event); isUpdateSuccessful=false"
                                        /> {{kn.title}}
                                        <br>
                                        <small> {{kn.desc}}</small>
                                    </label>
                                </div>
                            </div>
                            <div *ngIf="tempType=='knowledge' && knowledge.length== 0">
                                You have no knowledge resources. Create one now!
                            </div>
                            <div *ngIf="tempType=='manpower' && manpower.length != 0">
                                <div *ngFor="let mn of manpower; let i = index">
                                    <label>
                                        <input type="radio" name="res" value="i" [checked]="resMap[i]" (change)="updateCheckedRes(mn.id, $event); isUpdateSuccessful=false"
                                        /> {{mn.title}}
                                        <br>
                                        <small>{{mn.desc}} </small>
                                    </label>
                                </div>
                            </div>
                            <div *ngIf="tempType=='manpower' && manpower.length== 0">
                                You have no manpower resources. Create one now!
                            </div>
                            <div *ngIf="tempType=='venue' && venue.length != 0">
                                <div *ngFor="let vn of venue; let i = index">
                                    <label>
                                        <input type="radio" name="res" value="i" [checked]="resMap[i]" (change)="updateCheckedRes(vn.id, $event); isUpdateSuccessful=false"
                                        /> {{vn.title}}
                                        <br>
                                        <small>{{vn.desc}}</small>
                                    </label>
                                </div>
                            </div>
                            <div *ngIf="tempType=='venue' && venue.length== 0">
                                You have no venue resources. Create one now!
                            </div>
                        </div>
                    </div>
                    <br>
                    <div *ngIf=checkBox class="row">
                        <div class="col-12">
                            Request Description:
                            <br>
                            <textarea class="form-control" name="reqDesc" [(ngModel)]="reqDescription" required #reqDesc="ngModel" rows="3" cols="60"></textarea>
                        </div>

                    </div>
                    <br>
                    <div *ngIf=checkBox class="form-group">
                        <button class="btn btn-primary btn-block" (click)=onReqSubmit()>Submit</button>
                    </div>
                </div>
                <div *ngIf="isContributeSuccessful">
                    <div class="alert alert-success">
                        Your request is submitted successfully!
                        <br> You can check your request status under
                        <a href="/myRequests">My Outgoing Requests</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Resource Need</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                    <div class="form-group row">
                        <label for="type" class="col-sm-3 col-form-label">Resource Type</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="type" [(ngModel)]="form.resourceType" required #resourceType="ngModel">
                                <option value="item">Item</option>
                                <option value="manpower">Manpower</option>
                                <option value="venue">Venue</option>
                                <option value="knowledge">Knowledge</option>
                                <option value="money">Money</option>
                            </select>
                        </div>
                        <div class="alert-danger" *ngIf="f.submitted && resourceType.invalid">
                            <div *ngIf="resourceType.errors.required">Resource type is required</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="title" class="col-sm-3 col-form-label">Title</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="title" [(ngModel)]="form.title" required #title="ngModel" />
                        </div>
                        <div class="alert-danger" *ngIf="f.submitted && title.invalid">
                            <div *ngIf="title.errors.required">Title is required</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="desc" class="col-sm-3 col-form-label">Description</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" name="desc" [(ngModel)]="form.desc" #desc="ngModel" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-group row" *ngIf="form.resourceType == 'money'">
                        <label for="total" class="col-sm-3 col-form-label">Target Sum</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">$</div>
                                </div>
                                <input type="text" class="form-control" name="total" [(ngModel)]="form.total" required #total="ngModel" />
                            </div>
                        </div>
                        <div class="alert-danger" *ngIf="f.submitted && total.invalid">
                            <div *ngIf="total.errors.required">Target sum is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="mt-md-2">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="need-tab" data-toggle="tab" href="#need" role="tab" aria-controls="need" aria-selected="true">Resource Needs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="obtained-tab" data-toggle="tab" href="#obtained" role="tab" aria-controls="obtained" aria-selected="false">Resources Obtained</a>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="need" role="tabpanel" aria-labelledby="need-tab">
            <div class="row">
                <div class="col-8">
                    <div class="card">
                        <p-dataView #mp [value]="resourceNeeds" [paginator]="true" [rows]="9" filterBy="title" [sortField]="sortFieldNeeds" [sortOrder]="sortOrderNeeds"
                            layout="list">
                            <ng-template pTemplate="header">
                                <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
                                    <!-- <p-dropdown [options]="sortOptions" [(ngModel)]="sortKeyNeeds" placeholder="Sort By Date" (onChange)="onSortChangeNeeds($event)" styleClass="p-mb-2 p-mb-md-0"></p-dropdown> -->
                                    <p-dropdown [options]="filterStatusOptions" [(ngModel)]="filterKeyNeeds" placeholder="Filter By Status" (onChange)="filterNeedsStatus($event)"
                                        styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
                                    <p-dropdown [options]="filterTypeOptions" [(ngModel)]="filterKeyNeedType" placeholder="Filter By Type" (onChange)="filterNeedsType($event)"
                                        styleClass="p-mb-2 p-mb-md-0"></p-dropdown>

                                    <span class="p-input-icon-left p-mb-2 p-mb-md-0">
                                        <i class="pi pi-search"></i>
                                        <input type="search" pInputText placeholder="Search by Title" (input)="mp.filter($event.target.value)">
                                    </span>
                                </div>
                            </ng-template>
                            <ng-template let-need pTemplate="listItem">
                                <div class="p-col-12">
                                    <div class="row p-3">
                                        <div class="col-8">
                                            <div class="product-name">{{need.title}}</div>
                                            <div>{{need.desc}}</div>
                                            <div *ngIf="need.type == 'money'">Target Sum: ${{need.total}}</div>
                                            <div *ngIf="need.type == 'money'">Pending Sum: ${{need.pendingSum}},
                                                <span *ngIf="need.type == 'money'">Received Sum: ${{need.receivedSum}}</span>
                                            </div>
                                            <div *ngIf="need.type == 'money'">Remaining Sum Needed: ${{calculateRemaining(need.pendingSum, need.receivedSum,
                                                need.total)}}
                                            </div>
                                            <span class="product-category">Completion: {{need.completion}}%</span>
                                        </div>
                                        <div class="col-4">
                                            <div class="row">
                                                <i class="pi pi-tag product-category-icon"></i>
                                                <span class="{{need.type}}type rounded-sm text-white">&nbsp;{{need.type}}&nbsp;</span>

                                            </div>
                                            <div *ngIf="isOwnerAdmin && project.status == 'ongoing'" class="row mt-md-2">
                                                <button class="btn btn-success" (click)="markCompleteNeed(need)" title="Mark as complete">
                                                    <i class="pi pi-check"></i>
                                                </button>
                                                <button class="btn btn-primary" data-toggle="modal" data-target="#EditModal" (click)=getForm(need) title="Edit">
                                                    <i class="pi pi-pencil"></i>
                                                </button>
                                                <button class="btn btn-danger" (click)="deleteNeed(need)" title="Delete">
                                                    <i class="pi pi-trash"></i>
                                                </button>

                                                <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="editModalLabel">Edit Resource Need</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form name="form" (ngSubmit)="f.form.valid && editResourceNeed()" #f="ngForm" novalidate>
                                                                    <div class="form-group row">
                                                                        <label for="title" class="col-sm-3 col-form-label">Title</label>
                                                                        <div class="col-sm-8">
                                                                            <input type="text" class="form-control" name="title" [(ngModel)]="updateForm.title" required #title="ngModel" />
                                                                        </div>
                                                                        <div class="alert-danger" *ngIf="f.submitted && title.invalid">
                                                                            <div *ngIf="title.errors.required">Title is required</div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label for="desc" class="col-sm-3 col-form-label">Description</label>
                                                                        <div class="col-sm-8">
                                                                            <textarea class="form-control" name="desc" [(ngModel)]="updateForm.desc" #desc="ngModel" rows="3"></textarea>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row" *ngIf="updateForm.type == 'money'">
                                                                        <label for="total" class="col-sm-3 col-form-label">Target Sum</label>
                                                                        <div class="col-sm-8">
                                                                            <div class="input-group">
                                                                                <div class="input-group-prepend">
                                                                                    <div class="input-group-text">$</div>
                                                                                </div>
                                                                                <input type="text" class="form-control" name="total" [(ngModel)]="updateForm.total" required #total="ngModel" />
                                                                            </div>
                                                                        </div>
                                                                        <div class="alert-danger" *ngIf="f.submitted && total.invalid">
                                                                            <div *ngIf="total.errors.required">Target sum is required</div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row" *ngIf="updateForm.type != 'money'">
                                                                        <label for="completion" class="col-sm-3 col-form-label">Completion</label>
                                                                        <div class="col-sm-8">
                                                                            <input type="number" class="form-control" name="completion" [(ngModel)]="updateForm.completion" required min="0" max="100"
                                                                                #completion="ngModel" />
                                                                        </div>
                                                                        <div class="alert-danger" *ngIf="f.submitted && completion.invalid">
                                                                            <div *ngIf="completion.errors.required">Completion rate is required</div>
                                                                            <div *ngIf="completion.errors.min">
                                                                                Completion cannot be below 0
                                                                            </div>
                                                                            <div *ngIf="completion.errors.max">
                                                                                Completion cannot be above 100
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <button class="btn btn-primary btn-block">Update</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf="isOwnerAdmin && project.status != 'ongoing'" class="mt-md-2 row">
                                                <button class="btn btn-success" disabled title="Mark as complete">
                                                    <i class="pi pi-check"></i>
                                                </button>
                                                <button class="btn btn-primary" disabled title="Edit">
                                                    <i class="pi pi-pencil"></i>
                                                </button>
                                                <button class="btn btn-danger" disabled title="Delete">
                                                    <i class="pi pi-trash"></i>
                                                </button>
                                            </div>
                                            <div class="row">
                                                <button *ngIf="need.type == 'money'&&checkCompletion(need.completion)" style="width: 130px" class="btn btn-dark" data-toggle="modal"
                                                    data-target="#donateModal" (click)=getDonateForm(need)>
                                                    Donate
                                                </button>
                                                <button *ngIf="checkMp(need.type)&&checkCompletion(need.completion)" style="width: 130px" class="btn btn-dark float-right"
                                                    data-toggle="modal" data-target="#exampleModalScrollable" (click)=setReqParams(need.id,need.type)>
                                                    Contribute
                                                </button>
                                                <br>
                                                <button *ngIf="isOwnerAdmin && need.type != 'money'&& checkCompletion(need.completion)" style="width: 130px" class="btn btn-info"
                                                    (click)="getSuggestedRes(need.id, need.type)" title="Delete">
                                                    Suggest
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </p-dataView>
                    </div>
                </div>
                <div class="col-4" *ngIf="isOwnerAdmin">
                    <div class="sticky">
                        <div *ngIf=!checkClick class="alert alert-info">Click on the 'Suggest' button on a resource need to see suggested resources!</div>
                        <h5 *ngIf=checkClick> Suggested Resources: </h5>
                        <div *ngFor="let r of resNeedSuggestion">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <a href="/resource/resourceDetails?id={{r.id}}&type={{suggestedType}}">
                                        <strong>{{r.title}} </strong>
                                    </a>
                                    <br>
                                    <div *ngIf="suggestedType!='knowledge'">
                                        <span *ngIf="r.ownerImg.length == 0">
                                            <img src="../../../assets/img/profilePic_Placeholder.png" class="img-fluid rounded-circle" style="width: 30px; height: 30px; object-fit: cover;">
                                        </span>
                                        <span *ngIf="r.ownerImg.length > 0">
                                            <img src="https://localhost:8080{{r.ownerImg}}" class="img-fluid rounded-circle" style="width: 30px; height: 30px; object-fit: cover;">
                                        </span>
                                        <h6 style="display: inline-block;" class="ml-md-1">{{r.ownerName}}</h6>
                                        <br>
                                    </div>
                                    <small>{{r.desc}}</small>
                                    <br>
                                    <small>Last updated: {{formatDate(r.updatedAt)}}</small>
                                </li>
                            </ul>
                        </div>
                        <div *ngIf="checkClick && resNeedSuggestion.length==0">
                            There are no suggested resources for now.
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="obtained" role="tabpanel" aria-labelledby="obtained-tab">
            <div class="row">
                <div class="col-8">
                    <div class="card">
                        <p-dataView #cb [value]="contributions" [paginator]="true" [rows]="9" filterBy="resourceTitle" [sortField]="sortFieldCb"
                            [sortOrder]="sortOrderCb" layout="list">
                            <ng-template pTemplate="header">
                                <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
                                    <p-dropdown [options]="filterTypeOptions" [(ngModel)]="filterKeyCbType" placeholder="Filter By Type" (onChange)="filterCbType($event)"
                                        styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
                                    <span class="p-input-icon-left p-mb-2 p-mb-md-0">
                                        <i class="pi pi-search"></i>
                                        <input type="search" pInputText placeholder="Search by Title" (input)="cb.filter($event.target.value)">
                                    </span>
                                </div>
                            </ng-template>
                            <ng-template let-cb pTemplate="listItem">
                                <div class="p-col-12">
                                    <div class="row p-3">
                                        <div class="col-8">
                                            <div class="product-name">{{cb.resourceTitle}}</div>
                                            <div>{{cb.desc}}</div>
                                            <div *ngIf="cb.contributorType == 'user'">
                                                <div>
                                                    <a href="/profile?username={{cb.contributorUsername}}&userType=individual" target="_blank">
                                                        <b>{{cb.contributorName}}</b>
                                                    </a>
                                                    <span style="font-size: small;">({{cb.contributorUsername}})</span>
                                                </div>
                                            </div>
                                            <div *ngIf="cb.contributorType == 'institution'">
                                                <div>
                                                    <a href="/profile?username={{cb.contributorUsername}}&userType=institution" target="_blank">
                                                        <b>{{cb.contributorName}}</b>
                                                    </a>
                                                    <span style="font-size: small;">({{cb.contributorUsername}})</span>
                                                </div>
                                            </div>
                                            <div>Contributed to
                                                <b>{{cb.needTitle}}</b>
                                            </div>
                                            <div>Rating:
                                                <div *ngFor="let starIcon of [].constructor(cb.rating)" style="display: inline-block;">
                                                    <i class="pi pi-star" style="color: #FD4;"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="float-right">
                                                <i class="pi pi-tag product-category-icon"></i>
                                                <span class="{{cb.resType}}type rounded-sm text-white">&nbsp;{{cb.resType}}&nbsp;</span>
                                            </div>
                                            <br/>

                                            <button *ngIf="isOwnerAdmin && project.status == 'ongoing'" class="btn btn-danger mt-md-2 float-right" (click)="deleteObtained(cb)"
                                                title="Delete">
                                                <i class="pi pi-trash"></i>
                                            </button>
                                            <button *ngIf="isOwnerAdmin && project.status != 'ongoing'" class="btn btn-danger mt-md-2 float-right disabled" (click)="deleteObtained(cb)"
                                                title="Delete">
                                                <i class="pi pi-trash"></i>
                                            </button>
                                            <button *ngIf="isOwnerAdmin && project.status == 'ongoing'" class="btn btn-secondary mt-md-2 float-right" data-toggle="modal"
                                                data-target="#updateRatingModal" (click)="getContributionForm(cb)" title="Rating">
                                                <i class="pi pi-star-o"></i>
                                            </button>
                                            <button *ngIf="isOwnerAdmin && project.status != 'ongoing'" class="btn btn-secondary mt-md-2 float-right disabled" title="Rating">
                                                <i class="pi pi-star-o"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </p-dataView>
                        <div class="modal fade" id="updateRatingModal" tabindex="-1" role="dialog" aria-labelledby="updateRatingModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="updateRatingModalLabel">Update Contribution Rating</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div *ngIf="!isURated">
                                            <form name="form" (ngSubmit)="fa.form.valid && updateContributionRating()" #fa="ngForm" novalidate>
                                                <div class="form-group row">
                                                    <label for="title" class="col-sm-5 col-form-label">Resource Need:</label>
                                                    <div class="col-sm-7">
                                                        <input readonly type="text" class="form-control" name="title" [(ngModel)]="contributionForm.need" required #title="ngModel"
                                                        />
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="desc" class="col-sm-5 col-form-label">Resource Provided:</label>
                                                    <div class="col-sm-7">
                                                        <input readonly type="text" class="form-control" name="desc" [(ngModel)]="contributionForm.res" #desc="ngModel" />
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="desc" class="col-sm-5 col-form-label">Resource Owner:</label>
                                                    <div class="col-sm-7">
                                                        <input readonly type="text" class="form-control" name="owner" [(ngModel)]="contributionForm.user" #owner="ngModel" />
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="rating" class="col-sm-5 col-form-label">Rating:</label>
                                                    <div class="col-sm-7">
                                                        <div class="stars">
                                                            <form action="">
                                                                <input class="star star-5" value="5" id="star-5" [checked]="checkNum(5)" type="radio" name="star" (change)="clickRating(5, $event)"
                                                                />
                                                                <label class="star star-5" for="star-5"></label>
                                                                <input class="star star-4" value="4" id="star-4" [checked]="checkNum(4)" type="radio" name="star" (change)="clickRating(4, $event)"
                                                                />
                                                                <label class="star star-4" for="star-4"></label>
                                                                <input class="star star-3" value="3" id="star-3" [checked]="checkNum(3)" type="radio" name="star" (change)="clickRating(3, $event)"
                                                                />
                                                                <label class="star star-3" for="star-3"></label>
                                                                <input class="star star-2" value="2" id="star-2" [checked]="checkNum(2)" type="radio" name="star" (change)="clickRating(2, $event)"
                                                                />
                                                                <label class="star star-2" for="star-2"></label>
                                                                <input class="star star-1" value="1" id="star-1" [checked]="checkNum(1)" type="radio" name="star" (change)="clickRating(1, $event)"
                                                                />
                                                                <label class="star star-1" for="star-1"></label>
                                                            </form>
                                                        </div>
                                                        <!--select class="form-control" name="rating" [(ngModel)]="contributionForm.rating" required #rating="ngModel">
                                                        <option value="" selected hidden>Choose...</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                    </select>
                                                    <div class="alert-danger" *ngIf="fa.submitted && rating.invalid">
                                                        <div *ngIf="rating.errors.required">Rating is required</div>
                                                    </div-->
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <button class="btn btn-primary btn-block">Update</button>
                                                </div>
                                            </form>
                                        </div>
                                        <div *ngIf="isURated">
                                            <div class="alert alert-success">
                                                Contribution rating has been updated!
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>