<p-toast key="toastMsg" [baseZIndex]="100"></p-toast>

<div class="alert alert-info p-3">
    <b *ngIf="isIndividual">Are you {{user.name}}?</b> 
    <b *ngIf="!isIndividual">Is {{user.name}} your institution?</b>
    Claim this profile to have access to KoCoSD platform.
    <button class="btn btn-primary ml-2" data-toggle="modal" data-target="#claim">Claim this profile</button>
</div>

<div class="container p-3 bg-light mt-2">
    <div class="row">
        <div class="col-3">
            <div *ngIf="user.profilePic.length == 0">
                <img class="card-img-top rounded-circle img-fluid mx-auto d-block" src="../../assets/img/profilePic_Placeholder.png" style="width: 150px; height: 150px; object-fit: cover;"
                    alt="Profile picture">
            </div>
            <div *ngIf="user.profilePic.length != 0">
                <img class="card-img-top rounded-circle img-fluid mx-auto d-block" src={{user.profilePic}} style="width: 150px; height: 150px; object-fit: cover;"
                    alt="Profile picture">
            </div>
            <div *ngIf=isVerified>
                <img src="../../assets/img/verified.jpg" style="width: 30px; height: 30px;" class="center mt-2">
            </div>
        </div>
        <div class="col-7">
            <h4 class="card-title text-left mt-md-3">{{ user.name }}</h4>
            <div *ngIf="user.email" class="mt-md-3"><i class="pi pi-envelope"></i>&nbsp;{{user.email}}</div>
            <div *ngIf="user.country" class="mt-md-1"><i class="pi pi-map-marker"></i>&nbsp;{{ user.country }}</div>
            <div *ngIf="user.address" class="mt-md-1"><i class="pi pi-home"></i>&nbsp;{{ user.address }}</div>
            <div *ngIf="user.website" class="mt-md-1">
                <i class="pi pi-globe"></i>&nbsp;<a [href]="user.website">{{ user.website }}</a>
            </div>
        </div>
        <!-- <div class="col-2">
            <button *ngIf="isUnclaimed" class="btn btn-primary" data-toggle="modal" data-target="#claim">Claim</button>
        </div> -->

        <!-- Modal -->
        <div class="modal fade" id="claim" tabindex="-1" role="dialog" aria-labelledby="claimTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-dark" id="exampleModalLongTitle">Claim Profile</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-dark">
                        <div *ngIf="!claimSuccess">
                            <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                                <div class="form-group row">
                                    <label for="username" class="col-sm-4 col-form-label">Create a username</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required minlength="3" maxlength="20"
                                            #username="ngModel" />
                                    </div>
                                    <div class="alert-danger" *ngIf="f.submitted && username.invalid">
                                        <div *ngIf="username.errors.required">Username is required</div>
                                        <div *ngIf="username.errors.minlength">
                                            Username must be at least 3 characters
                                        </div>
                                        <div *ngIf="username.errors.maxlength">
                                            Username must be at most 20 characters
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="email" class="col-sm-4 col-form-label">Email</label>
                                    <div class="col-sm-8">
                                        <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required email #email="ngModel" />
                                    </div>
                                    <div class="alert-danger" *ngIf="f.submitted && email.invalid">
                                        <div *ngIf="email.errors.required">Email is required</div>
                                        <div *ngIf="email.errors.email">
                                            Email must be a valid email address
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="password" class="col-sm-4 col-form-label">Password</label>
                                    <div class="col-sm-8">
                                        <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required minlength="6" #password="ngModel"
                                        />
                                    </div>
                                    <div class="alert-danger" *ngIf="f.submitted && password.invalid">
                                        <div *ngIf="password.errors.required">Password is required</div>
                                        <div *ngIf="password.errors.minlength">
                                            Password must be at least 6 characters
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="confirmPassword" class="col-sm-4 col-form-label">Confirm Password</label>
                                    <div class="col-sm-8">
                                        <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="form.confirmPassword" required minlength="6"
                                            #confirmPassword="ngModel" />
                                    </div>
                                    <div class="alert-danger" *ngIf="f.submitted && confirmPassword.invalid">
                                        <div *ngIf="confirmPassword.errors.required">Password is required</div>
                                        <div *ngIf="confirmPassword.errors.minlength">
                                            Password must be at least 6 characters
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="file">Upload a file to verify that you are the owner of this profile</label>
                                    <form>
                                        <input type="file" name="file" (change)="selectImage($event)" />
                                    </form>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary btn-block">Claim</button>
                                </div>
                            </form>
                        </div>
                        <div *ngIf="claimSuccess">
                            <div class="alert alert-success">
                                Your request to claim this account has been sent!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="user.bio" class="bg-light mt-2 p-3">
    <h5>Bio</h5>
    {{user.bio}}
</div>

<div class="bg-light mt-2 p-3">
    <h5>SDGs</h5>
    <div *ngIf="user.SDGs.length == 0">
        -
    </div>
    <span *ngFor="let sdg of user.SDGs">
        <button class="sdg sdg{{sdg}} mr-md-1">{{sdg}}</button>
    </span>
</div>

<div *ngIf=isIndividual class="bg-light mt-2 p-3">
    <h5 class="mt-2">Skills</h5>
    <div *ngIf="user.skills.length == 0">
        -
    </div>
    <span *ngFor="let s of user.skills">
        <button class="btn btn-secondary mr-md-1 rounded-pill">{{s}}</button>
    </span>
</div>