<div class="jumbotron jumbotron-fluid bg-light">
    <div class="container-fluid">
        <h1>KoCoSD</h1>
        <p>The <b>K</b>n<b>o</b>wledge <b>Co</b>mmunity for <b>S</b>ustainable <b>D</b>evelopment Consortium</p>
        <p class="text-justify">This platform allows individual and institutional stakeholders to list projects and resources, with a matching 
            algorithm that will connect relevant projects and resources together. We welcome all who are looking for resources 
            for their projects, or are looking to offer resources, to join our platform and collaborate towards a worthy cause.</p>
        <a href="/signup" class="btn btn-primary btn-lg">Join now</a>
    </div>
</div>