<h2>My Outgoing Requests</h2>
This page shows your submitted requests to contribute your resource to projects. <br>
For requests submitted for projects, you can view them on the respective project page. <br>
Access your projects under <a [href]="myProjectsLink">My Projects</a>.

<br><br>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="pending-tab" data-toggle="tab" href="#pending" role="tab" aria-controls="pending" aria-selected="true">Pending</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="accepted-tab" data-toggle="tab" href="#accepted" role="tab" aria-controls="accepted" aria-selected="false">Accepted</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="declined-tab" data-toggle="tab" href="#declined" role="tab" aria-controls="declined" aria-selected="false">Declined</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="cancelled-tab" data-toggle="tab" href="#cancelled" role="tab" aria-controls="cancelled" aria-selected="false">Cancelled</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="pending" role="tabpanel" aria-labelledby="pending-tab">
      <div class="card">
        <p-dataView #dv [value]="pendingProjectReqs" [paginator]="true" [rows]="9" filterBy="title" layout="list">
          <ng-template pTemplate="header">
            <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
              <p-dropdown [options]="filterTypeOptions" [(ngModel)]="filterKeyTypePending" placeholder="Filter By Type" (onChange)="filterPendingReqs($event)"
                styleClass="p-mb-2 p-mb-md-0"></p-dropdown><br/>
            </div>
          </ng-template>
          <ng-template let-req pTemplate="listItem">
            <div class="p-col-12">
              <div class="row p-2">
                <div class="col-2">
                  <i class="pi pi-tag product-category-icon"></i>
                  <span class="{{req.resType}}type rounded-sm text-white">&nbsp;{{req.resType}}&nbsp;</span>
                </div>
                <div class="col-4">
                  <div class="req-name" *ngIf="req.resType != 'money'">Your resource: <a href="/resource/resourceDetails?id={{req.resourceId}}&type={{req.resType}}">{{req.resourceTitle}}</a></div>
                  <div class="req-name" *ngIf="req.resType == 'money'">Your resource: Funds of ${{req.moneySum}}</div>
                </div>
                <div class="col-4">
                    <div class="req-name">You requested to contribute to: <a href="/project/projectDetails?id={{req.projectId}}">{{req.projectTitle}}</a></div>
                </div>
                <div class="col-2">
                  Request sent at:<br/>
                  {{formatDate(req.createdAt)}}<br/><br/>
                </div>
                <div class="col-2"></div>
                <div class="col-8">
                  <p *ngIf="req.desc.length != 0">Description: {{req.desc}}
                  <p *ngIf="req.desc.length == 0">Description: -<br/></p>
                </div>
                <div class="col-2 d-flex flex-column">
                  <button class="btn btn-danger align-self-end mt-auto" type="button" (click)="cancelProjectReq(req.id)">
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </ng-template>
        </p-dataView>
      </div>
    </div>
    <div class="tab-pane fade" id="accepted" role="tabpanel" aria-labelledby="accepted-tab">
      <div class="card">
        <p-dataView #dv [value]="acceptedProjectReqs" [paginator]="true" [rows]="9" filterBy="title" layout="list">
          <ng-template pTemplate="header">
            <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
              <p-dropdown [options]="filterTypeOptions" [(ngModel)]="filterKeyTypeAccepted" placeholder="Filter By Type" (onChange)="filterAcceptedReqs($event)"
                styleClass="p-mb-2 p-mb-md-0"></p-dropdown><br/>
            </div>
          </ng-template>
          <ng-template let-req pTemplate="listItem">
            <div class="p-col-12">
              <div class="row p-2">
                <div class="col-2">
                  <i class="pi pi-tag product-category-icon"></i>
                  <span class="{{req.resType}}type rounded-sm text-white">&nbsp;{{req.resType}}&nbsp;</span>
                </div>
                <div class="col-4">
                  <div class="req-name" *ngIf="req.resType != 'money'">Your resource: <a href="/resource/resourceDetails?id={{req.resourceId}}&type={{req.resType}}">{{req.resourceTitle}}</a></div>
                  <div class="req-name" *ngIf="req.resType == 'money'">Your resource: Funds of ${{req.moneySum}}</div>
                </div>
                <div class="col-4">
                    <div class="req-name">You requested to contribute to: <a href="/project/projectDetails?id={{req.projectId}}">{{req.projectTitle}}</a></div>
                </div>
                <div class="col-2">
                  Request accepted at:<br/>
                  {{formatDate(req.updatedAt)}}<br/><br/>
                </div>
                <div class="col-2"></div>
                <div class="col-8">
                  <p *ngIf="req.desc.length != 0">Description: {{req.desc}}
                  <p *ngIf="req.desc.length == 0">Description: -<br/></p>
                </div>
                <div class="col-2 d-flex flex-column">
                  <button class="btn btn-danger align-self-end mt-auto" type="button" (click)="cancelProjectReq(req.id)">
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </ng-template>
        </p-dataView>
      </div>
    </div>
    <div class="tab-pane fade" id="declined" role="tabpanel" aria-labelledby="declined-tab">
      <div class="card">
        <p-dataView #dv [value]="declinedProjectReqs" [paginator]="true" [rows]="9" filterBy="title" layout="list">
          <ng-template pTemplate="header">
            <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
              <p-dropdown [options]="filterTypeOptions" [(ngModel)]="filterKeyTypeDeclined" placeholder="Filter By Type" (onChange)="filterDeclinedReqs($event)"
                styleClass="p-mb-2 p-mb-md-0"></p-dropdown><br/>
            </div>
          </ng-template>
          <ng-template let-req pTemplate="listItem">
            <div class="p-col-12">
              <div class="row p-2">
                <div class="col-2">
                  <i class="pi pi-tag product-category-icon"></i>
                  <span class="{{req.resType}}type rounded-sm text-white">&nbsp;{{req.resType}}&nbsp;</span>
                </div>
                <div class="col-4">
                  <div class="req-name" *ngIf="req.resType != 'money'">Your resource: <a href="/resource/resourceDetails?id={{req.resourceId}}&type={{req.resType}}">{{req.resourceTitle}}</a></div>
                  <div class="req-name" *ngIf="req.resType == 'money'">Your resource: Funds of ${{req.moneySum}}</div>
                </div>
                <div class="col-4">
                    <div class="req-name">You requested to contribute to: <a href="/project/projectDetails?id={{req.projectId}}">{{req.projectTitle}}</a></div>
                </div>
                <div class="col-2">
                  Request declined at:<br/>
                  {{formatDate(req.updatedAt)}}<br/><br/>
                </div>
                <div class="col-2"></div>
                <div class="col-8">
                  <p *ngIf="req.desc.length != 0">Description: {{req.desc}}
                  <p *ngIf="req.desc.length == 0">Description: -<br/></p>
                </div>
                <div class="col-2"></div>
              </div>
            </div>
          </ng-template>
        </p-dataView>
      </div>
    </div>
    <div class="tab-pane fade" id="cancelled" role="tabpanel" aria-labelledby="cancelled-tab">
      <div class="card">
        <p-dataView #dv [value]="cancelledProjectReqs" [paginator]="true" [rows]="9" filterBy="title" layout="list">
          <ng-template pTemplate="header">
            <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
              <p-dropdown [options]="filterTypeOptions" [(ngModel)]="filterKeyTypeCancelled" placeholder="Filter By Type" (onChange)="filterCancelledReqs($event)"
                styleClass="p-mb-2 p-mb-md-0"></p-dropdown><br/>
            </div>
          </ng-template>
          <ng-template let-req pTemplate="listItem">
            <div class="p-col-12">
              <div class="row p-2">
                <div class="col-2">
                  <i class="pi pi-tag product-category-icon"></i>
                  <span class="{{req.resType}}type rounded-sm text-white">&nbsp;{{req.resType}}&nbsp;</span>
                </div>
                <div class="col-4">
                  <div class="req-name" *ngIf="req.resType != 'money'">Your resource: <a href="/resource/resourceDetails?id={{req.resourceId}}&type={{req.resType}}">{{req.resourceTitle}}</a></div>
                  <div class="req-name" *ngIf="req.resType == 'money'">Your resource: Funds of ${{req.moneySum}}</div>
                </div>
                <div class="col-4">
                    <div class="req-name">You requested to contribute to: <a href="/project/projectDetails?id={{req.projectId}}">{{req.projectTitle}}</a></div>
                </div>
                <div class="col-2">
                  Request cancelled at:<br/>
                  {{formatDate(req.updatedAt)}}<br/><br/>
                </div>
                <div class="col-2"></div>
                <div class="col-8">
                  <p *ngIf="req.desc.length != 0">Description: {{req.desc}}
                  <p *ngIf="req.desc.length == 0">Description: -<br/></p>
                </div>
                <div class="col-2">
                  <p *ngIf="req.cancelType == 'project'">
                    Cancelled by: project
                  </p>
                  <p *ngIf="req.cancelType == 'contributor'">
                    Cancelled by: you
                  </p>
                </div>
              </div>
            </div>
          </ng-template>
        </p-dataView>
      </div>
    </div>
</div>