<h2>My Outgoing Project Requests</h2>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="pending-tab" data-toggle="tab" href="#pending" role="tab" aria-controls="pending" aria-selected="true">Pending</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="accepted-tab" data-toggle="tab" href="#accepted" role="tab" aria-controls="accepted" aria-selected="false">Accepted</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="declined-tab" data-toggle="tab" href="#declined" role="tab" aria-controls="declined" aria-selected="false">Declined</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="cancelled-tab" data-toggle="tab" href="#cancelled" role="tab" aria-controls="cancelled" aria-selected="false">Cancelled</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="pending" role="tabpanel" aria-labelledby="pending-tab">
      <br/>
      <div *ngIf="pendingProjectReqs.length == 0">You have no pending project requests.</div>
      <div *ngIf="pendingProjectReqs.length != 0">
        You have {{pendingProjectReqs.length}} pending project request(s):<br/>
        <div *ngFor="let req of pendingProjectReqs">
          <div class="card bg-light" style="width: 80%">
            <div class="card-body">
              <div class="row">
                <div class="col-2">
                  <i class="pi pi-tag product-category-icon"></i>
                  <span class="{{req.resType}}type rounded-sm text-white">&nbsp;{{req.resType}}&nbsp;</span>
                </div>
                <div class="col-6">
                  <b>Your resource: <a href="/resource/resourceDetails?id={{req.resourceId}}&type={{req.resType}}">{{req.resourceTitle}}</a></b><br/>
                  <b>Project: <a href="/project/projectDetails?id={{req.projectId}}">{{req.projectTitle}}</a></b><br/>
                  Description: {{req.desc}}<br/>
                </div>
                <div class="col-4">
                  Request sent at: {{formatDate(req.createdAt)}}<br/><br/>
                  <button class="btn btn-danger float-right" type="button" (click)="cancelProjectReq(req.id)">
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="accepted" role="tabpanel" aria-labelledby="accepted-tab">
      <br/>
      <div *ngIf="acceptedProjectReqs.length == 0">You have no accepted project requests.</div>
      <div *ngIf="acceptedProjectReqs.length != 0">
        You have {{acceptedProjectReqs.length}} accepted project request(s):<br/>
        <div *ngFor="let req of acceptedProjectReqs">
            <div class="card bg-light" style="width: 80%">
                <div class="card-body">
                  <div class="row">
                    <div class="col-2">
                      <i class="pi pi-tag product-category-icon"></i>
                      <span class="{{req.resType}}type rounded-sm text-white">&nbsp;{{req.resType}}&nbsp;</span>
                    </div>
                    <div class="col-6">
                      <b>Your resource: <a href="/resource/resourceDetails?id={{req.resourceId}}&type={{req.resType}}">{{req.resourceTitle}}</a></b><br/>
                      <b>Project: <a href="/project/projectDetails?id={{req.projectId}}">{{req.projectTitle}}</a></b><br/>
                      Description: {{req.desc}}
                    </div>
                    <div class="col-4">
                      Request accepted at: {{formatDate(req.updatedAt)}}<br/><br/>
                      <button class="btn btn-danger float-right mt-auto" type="button" (click)="cancelProjectReq(req.id)">
                        Cancel
                      </button>
                    </div>
                  </div>   
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="declined" role="tabpanel" aria-labelledby="declined-tab">
      <br/>
      <div *ngIf="declinedProjectReqs.length == 0">You have no declined project requests.</div>
      <div *ngIf="declinedProjectReqs.length != 0">
        You have {{declinedProjectReqs.length}} declined project request(s):<br/>
        <div *ngFor="let req of declinedProjectReqs">
            <div class="card bg-light" style="width: 80%">
                <div class="card-body">
                  <div class="row">
                    <div class="col-2">
                      <i class="pi pi-tag product-category-icon"></i>
                      <span class="{{req.resType}}type rounded-sm text-white">&nbsp;{{req.resType}}&nbsp;</span>
                    </div>
                    <div class="col-6">
                      <b>Your resource: <a href="/resource/resourceDetails?id={{req.resourceId}}&type={{req.resType}}">{{req.resourceTitle}}</a></b><br/>
                      <b>Project: <a href="/project/projectDetails?id={{req.projectId}}">{{req.projectTitle}}</a></b><br/>
                      Description: {{req.desc}}
                    </div>
                    <div class="col-4">
                      Request declined at: {{formatDate(req.updatedAt)}}<br/><br/>
                    </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="cancelled" role="tabpanel" aria-labelledby="cancelled-tab">
      <br/>
      <div *ngIf="cancelledProjectReqs.length == 0">You have no cancelled project requests.</div>
      <div *ngIf="cancelledProjectReqs.length != 0">
        You have {{cancelledProjectReqs.length}} cancelled project request(s):<br/>
        <div *ngFor="let req of cancelledProjectReqs">
            <div class="card bg-light" style="width: 80%">
                <div class="card-body">
                  <div class="row">
                    <div class="col-2">
                      <i class="pi pi-tag product-category-icon"></i>
                      <span class="{{req.resType}}type rounded-sm text-white">&nbsp;{{req.resType}}&nbsp;</span>
                    </div>
                    <div class="col-6">
                      <b>Your resource: <a href="/resource/resourceDetails?id={{req.resourceId}}&type={{req.resType}}">{{req.resourceTitle}}</a></b><br/>
                      <b>Project: <a href="/project/projectDetails?id={{req.projectId}}">{{req.projectTitle}}</a></b><br/>
                      Description: {{req.desc}}
                    </div>
                    <div class="col-4">
                      Request cancelled at: {{formatDate(req.updatedAt)}}<br/><br/>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>