<h2>My Outgoing Project Requests</h2>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="pending-tab" data-toggle="tab" href="#pending" role="tab" aria-controls="pending" aria-selected="true">Pending</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="accepted-tab" data-toggle="tab" href="#accepted" role="tab" aria-controls="accepted" aria-selected="false">Accepted</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="declined-tab" data-toggle="tab" href="#declined" role="tab" aria-controls="declined" aria-selected="false">Declined</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="cancelled-tab" data-toggle="tab" href="#cancelled" role="tab" aria-controls="cancelled" aria-selected="false">Cancelled</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="pending" role="tabpanel" aria-labelledby="pending-tab">
      <p-dropdown [options]="filterTypeOptions" [(ngModel)]="filterKeyTypePending" placeholder="Filter By Type" (onChange)="filterPendingReqs($event)"
        styleClass="p-mb-2 p-mb-md-0"></p-dropdown><br/>
      <div *ngIf="pendingProjectReqs.length == 0">You have no pending project requests.</div>
      <div *ngIf="pendingProjectReqs.length != 0">
        You have {{pendingProjectReqs.length}} pending project request(s):<br/>
        <div *ngFor="let req of pendingProjectReqs">
          <div class="card bg-light" style="width: 80%">
            <div class="card-body">
              <div class="row">
                <div class="col-2">
                  <i class="pi pi-tag product-category-icon"></i>
                  <span class="{{req.resType}}type rounded-sm text-white">&nbsp;{{req.resType}}&nbsp;</span>
                </div>
                <div class="col-7">
                  <p><b>Project: <a href="/project/projectDetails?id={{req.projectId}}">{{req.projectTitle}}</a></b></p>
                  <p *ngIf="req.resType != 'money'">
                    <b>Your resource: <a href="/resource/resourceDetails?id={{req.resourceId}}&type={{req.resType}}">{{req.resourceTitle}}</a></b><br/>
                  </p>
                  <p *ngIf="req.resType == 'money'">
                    <b>Your resource:</b> Funds of ${{req.moneySum}}
                  </p>
                  <p *ngIf="req.desc.length != 0">Description: {{req.desc}}<br/></p>
                  <p *ngIf="req.desc.length == 0">Description: -<br/></p>
                </div>
                <div class="col-3 d-flex flex-column">
                  Request sent at:<br/>
                  {{formatDate(req.createdAt)}}<br/><br/>
                  <button class="btn btn-danger align-self-end mt-auto" type="button" (click)="cancelProjectReq(req.id)">
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="accepted" role="tabpanel" aria-labelledby="accepted-tab">
      <p-dropdown [options]="filterTypeOptions" [(ngModel)]="filterKeyTypeAccepted" placeholder="Filter By Type" (onChange)="filterAcceptedReqs($event)"
        styleClass="p-mb-2 p-mb-md-0"></p-dropdown><br/>
      <div *ngIf="acceptedProjectReqs.length == 0">You have no accepted project requests.</div>
      <div *ngIf="acceptedProjectReqs.length != 0">
        You have {{acceptedProjectReqs.length}} accepted project request(s):<br/>
        <div *ngFor="let req of acceptedProjectReqs">
            <div class="card bg-light" style="width: 80%">
                <div class="card-body">
                  <div class="row">
                    <div class="col-2">
                      <i class="pi pi-tag product-category-icon"></i>
                      <span class="{{req.resType}}type rounded-sm text-white">&nbsp;{{req.resType}}&nbsp;</span>
                    </div>
                    <div class="col-7">
                      <p><b>Project: <a href="/project/projectDetails?id={{req.projectId}}">{{req.projectTitle}}</a></b></p>
                      <p *ngIf="req.resType != 'money'">
                        <b>Your resource: <a href="/resource/resourceDetails?id={{req.resourceId}}&type={{req.resType}}">{{req.resourceTitle}}</a></b><br/>
                      </p>
                      <p *ngIf="req.resType == 'money'">
                        <b>Your resource:</b> Funds of ${{req.moneySum}}
                      </p>
                      <p *ngIf="req.desc.length != 0">Description: {{req.desc}}<br/></p>
                      <p *ngIf="req.desc.length == 0">Description: -<br/></p>
                    </div>
                    <div class="col-3 d-flex flex-column">
                      Request accepted at:<br/>
                      {{formatDate(req.updatedAt)}}<br/>
                      <button class="btn btn-danger align-self-end mt-auto" type="button" (click)="cancelProjectReq(req.id)">
                        Cancel
                      </button>
                    </div>
                  </div>   
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="declined" role="tabpanel" aria-labelledby="declined-tab">
      <p-dropdown [options]="filterTypeOptions" [(ngModel)]="filterKeyTypeDeclined" placeholder="Filter By Type" (onChange)="filterDeclinedReqs($event)"
        styleClass="p-mb-2 p-mb-md-0"></p-dropdown><br/>
      <div *ngIf="declinedProjectReqs.length == 0">You have no declined project requests.</div>
      <div *ngIf="declinedProjectReqs.length != 0">
        You have {{declinedProjectReqs.length}} declined project request(s):<br/>
        <div *ngFor="let req of declinedProjectReqs">
            <div class="card bg-light" style="width: 80%">
                <div class="card-body">
                  <div class="row">
                    <div class="col-2">
                      <i class="pi pi-tag product-category-icon"></i>
                      <span class="{{req.resType}}type rounded-sm text-white">&nbsp;{{req.resType}}&nbsp;</span>
                    </div>
                    <div class="col-7">
                      <p><b>Project: <a href="/project/projectDetails?id={{req.projectId}}">{{req.projectTitle}}</a></b></p>
                      <p *ngIf="req.resType != 'money'">
                        <b>Your resource: <a href="/resource/resourceDetails?id={{req.resourceId}}&type={{req.resType}}">{{req.resourceTitle}}</a></b><br/>
                      </p>
                      <p *ngIf="req.resType == 'money'">
                        <b>Your resource:</b> Funds of ${{req.moneySum}}
                      </p>
                      <p *ngIf="req.desc.length != 0">Description: {{req.desc}}<br/></p>
                      <p *ngIf="req.desc.length == 0">Description: -<br/></p>
                    </div>
                    <div class="col-3 d-flex flex-column">
                      Request declined at:<br/>
                      {{formatDate(req.updatedAt)}}<br/><br/>
                    </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="cancelled" role="tabpanel" aria-labelledby="cancelled-tab">
      <p-dropdown [options]="filterTypeOptions" [(ngModel)]="filterKeyTypeCancelled" placeholder="Filter By Type" (onChange)="filterCancelledReqs($event)"
        styleClass="p-mb-2 p-mb-md-0"></p-dropdown><br/>
      <div *ngIf="cancelledProjectReqs.length == 0">You have no cancelled project requests.</div>
      <div *ngIf="cancelledProjectReqs.length != 0">
        You have {{cancelledProjectReqs.length}} cancelled project request(s):<br/>
        <div *ngFor="let req of cancelledProjectReqs">
            <div class="card bg-light" style="width: 80%">
                <div class="card-body">
                  <div class="row">
                    <div class="col-2">
                      <i class="pi pi-tag product-category-icon"></i>
                      <span class="{{req.resType}}type rounded-sm text-white">&nbsp;{{req.resType}}&nbsp;</span>
                    </div>
                    <div class="col-7">
                      <p><b>Project: <a href="/project/projectDetails?id={{req.projectId}}">{{req.projectTitle}}</a></b></p>
                      <p *ngIf="req.resType != 'money'">
                        <b>Your resource: <a href="/resource/resourceDetails?id={{req.resourceId}}&type={{req.resType}}">{{req.resourceTitle}}</a></b><br/>
                      </p>
                      <p *ngIf="req.resType == 'money'">
                        <b>Your resource:</b> Funds of ${{req.moneySum}}
                      </p>
                      <p *ngIf="req.desc.length != 0">Description: {{req.desc}}<br/></p>
                      <p *ngIf="req.desc.length == 0">Description: -<br/></p>
                    </div>
                    <div class="col-3 d-flex flex-column">
                      Request cancelled at:<br/>
                      {{formatDate(req.updatedAt)}}<br/>
                      <p *ngIf="req.cancelType == 'project'">
                        Cancelled by: project
                      </p>
                      <p *ngIf="req.cancelType == 'contributor'">
                        Cancelled by: you
                      </p>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>