<h1>About KoCoSD</h1>
<br/>
<p>The <b>K</b>n<b>o</b>wledge <b>Co</b>mmunity for <b>S</b>ustainable <b>D</b>evelopment Consortium (KoCoSD) was formed when 
a group of non-governmental organisations (NGOs) and non-profit organisations (NPOs) in Singapore came together with a 
common objective of developing a knowledge community for sustainable development.</p>

<p>The group hopes that the knowledge community will bring together stakeholders from all over 6 the world, and tap on their 
collective wisdom and resources to achieve the <b>17 Sustainable Development Goals (SDGs)</b> defined by the United Nations (UN). 
These 17 SDGs are also known as the Global Goals, and were adopted by all UN Member States in 2015 as a universal call 
to action to end poverty, protect the planet and ensure that all people enjoy peace and prosperity by 2030.</p>

<p>This platform allows individual and institutional stakeholders to list projects and resources, with a matching algorithm
that will connect relevant projects and resources together. We welcome all who are looking for resources for their projects, 
or are looking to offer resources, to join our platform and collaborate towards a worthy cause.</p>

<p>We also have a motivation and reward system where individual and institutional stakeholders can offer and redeem rewards.
We welcome reward offerings from external organisations, to help us motivate our stakeholders to keep doing the good work they do. 
If your company would like to offer rewards on our platform, do contact our KoCoSD admins at the email address below.</p>
<br/>
<h3>Contact Us</h3>
<p>For enquiries or collaborations: email us at kocosdofficial@gmail.com</p>
<br/>
<h3>The 17 Sustainable Development Goals (SDGs)</h3>
<br/>
<div class="card-deck">
    <div class="card">
        <div class="sdg1 rounded-sm">
            <div class="card-header">
                <a href="https://www.undp.org/content/undp/en/home/sustainable-development-goals/goal-1-no-poverty.html" target="_blank" class="text-white">SDG 1</a>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">No Poverty</h5>
            <p class="card-text">End poverty in all its forms everywhere</p>
        </div>
    </div>
    <div class="card">
        <div class="sdg2 rounded-sm">
            <div class="card-header">
                <a href="https://www.undp.org/content/undp/en/home/sustainable-development-goals/goal-2-zero-hunger.html" target="_blank" class="text-white">SDG 2</a>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">Zero Hunger</h5>
            <p class="card-text">End hunger, achieve food security and improved nutrition, and improve agriculture</p>
        </div>
    </div>
    <div class="card">
        <div class="sdg3 rounded-sm">
            <div class="card-header">
                <a href="https://www.undp.org/content/undp/en/home/sustainable-development-goals/goal-3-good-health-and-well-being.html" target="_blank" class="text-white">SDG 3</a>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">Good Health and Well-being</h5>
            <p class="card-text">Ensure healthy lives and promote well-being for all at all ages</p>
            
        </div>
    </div>
    <div class="card">
        <div class="sdg4 rounded-sm">
            <div class="card-header">
                <a href="https://www.undp.org/content/undp/en/home/sustainable-development-goals/goal-4-quality-education.html" target="_blank" class="text-white">SDG 4</a>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">Quality Education</h5>
            <p class="card-text">Ensure inclusive and equitable quality education and promote lifelong learning opportunities for all</p>
        </div>
    </div>
</div>
<br/>
<div class="card-deck">
    <div class="card">
        <div class="sdg5 rounded-sm">
            <div class="card-header">
                <a href="https://www.undp.org/content/undp/en/home/sustainable-development-goals/goal-5-gender-equality.html" target="_blank" class="text-white">SDG 5</a>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">Gender Equality</h5>
            <p class="card-text">End all gender-based discrimination and empowering women and girls for a more sustainable future for all</p>
        </div>
    </div>
    <div class="card">
        <div class="sdg6 rounded-sm">
            <div class="card-header">
                <a href="https://www.undp.org/content/undp/en/home/sustainable-development-goals/goal-6-clean-water-and-sanitation.html" target="_blank" class="text-white">SDG 6</a>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">Clean Water and Sanitation</h5>
            <p class="card-text">Ensure the availability of safe and affordable drinking water for all</p>
        </div>
    </div>
    <div class="card">
        <div class="sdg7 rounded-sm">
            <div class="card-header">
                <a href="https://www.undp.org/content/undp/en/home/sustainable-development-goals/goal-7-affordable-and-clean-energy.html" target="_blank" class="text-white">SDG 7</a>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">Affordable and Clean Energy</h5>
            <p class="card-text">Ensure access to affordable, reliable, sustainable and modern energy for all</p>
        </div>
    </div>
    <div class="card">
        <div class="sdg8 rounded-sm">
            <div class="card-header">
                <a href="https://www.undp.org/content/undp/en/home/sustainable-development-goals/goal-8-decent-work-and-economic-growth.html" target="_blank" class="text-white">SDG 8</a>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">Decent Work and Economic Growth</h5>
            <p class="card-text">Ensuring the availability of safe and affordable drinking water for all</p>
        </div>
    </div>
</div>
<br/>
<div class="card-deck">
    <div class="card">
        <div class="sdg9 rounded-sm">
            <div class="card-header">
                <a href="https://www.undp.org/content/undp/en/home/sustainable-development-goals/goal-9-industry-innovation-and-infrastructure.html"  target="_blank" class="text-white">SDG 9</a>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">Industry, Innovation and Infrastructure</h5>
            <p class="card-text">Build resilient infrastructure, promote inclusive and sustainable industrialization and foster innovation</p>
        </div>
    </div>
    <div class="card">
        <div class="sdg10 rounded-sm">
            <div class="card-header">
                <a href="https://www.undp.org/content/undp/en/home/sustainable-development-goals/goal-10-reduced-inequalities.html" target="_blank" class="text-white">SDG 10</a>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">Reduced Inequalities</h5>
            <p class="card-text">Reduce inequality in and among countries</p>
        </div>
    </div>
    <div class="card">
        <div class="sdg11 rounded-sm">
            <div class="card-header">
                <a href="https://www.undp.org/content/undp/en/home/sustainable-development-goals/goal-11-sustainable-cities-and-communities.html" target="_blank" class="text-white">SDG 11</a>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">Sustainable Cities and Communities</h5>
            <p class="card-text">Make cities and human settlements inclusive, safe, resilient and sustainable</p>
        </div>
    </div>
    <div class="card">
        <div class="sdg12 rounded-sm">
            <div class="card-header">
                <a href="https://www.undp.org/content/undp/en/home/sustainable-development-goals/goal-12-responsible-consumption-and-production.html" target="_blank" class="text-white">SDG 12</a>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">Responsible Consumption and Production</h5>
            <p class="card-text">Ensure sustainable consumption and production patterns</p>
        </div>
    </div>
</div>
<br/>
<div class="card-deck">
    <div class="card">
        <div class="sdg13 rounded-sm">
            <div class="card-header">
                <a href="https://www.undp.org/content/undp/en/home/sustainable-development-goals/goal-13-climate-action.html" target="_blank" class="text-white">SDG 13</a>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">Climate Action</h5>
            <p class="card-text">Take urgent action to combat climate change and its impacts</p>
        </div>
    </div>
    <div class="card">
        <div class="sdg14 rounded-sm">
            <div class="card-header">
                <a href="https://www.undp.org/content/undp/en/home/sustainable-development-goals/goal-14-life-below-water.html" target="_blank" class="text-white">SDG 14</a>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">Life Below Water</h5>
            <p class="card-text">Conserve and sustainably use the oceans, seas, and marine resources for sustainable development</p>
        </div>
    </div>
    <div class="card">
        <div class="sdg15 rounded-sm">
            <div class="card-header">
                <a href="https://www.undp.org/content/undp/en/home/sustainable-development-goals/goal-15-life-on-land.html" target="_blank" class="text-white">SDG 15</a>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">Life on Land</h5>
            <p class="card-text">Protect, restore and promote sustainable use of terrestial ecosystems, sustainably manage forests, combat desertification, and halt and reverse land degredation and halt biodiversity loss</p>
        </div>
    </div>
    <div class="card">
        <div class="sdg16 rounded-sm">
            <div class="card-header">
                <a href="https://www.undp.org/content/undp/en/home/sustainable-development-goals/goal-16-peace-justice-and-strong-institutions.html" target="_blank" class="text-white">SDG 16</a>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">Peace, Justice and Strong Institutions</h5>
            <p class="card-text">Promote peaceful and inclusive societies for sustainable development, provide access to justice for all and build effective, accountable and inclusive institutions at all levels</p>
        </div>
    </div>
</div>
<br/>
<div class="card-deck">
    <div class="card">
        <div class="sdg17 rounded-sm">
            <div class="card-header">
                <a href="https://www.undp.org/content/undp/en/home/sustainable-development-goals/goal-17-partnerships-for-the-goals.html" target="_blank" class="text-white">SDG 17</a>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">Partnerships for the Goals</h5>
            <p class="card-text">Strengthen the means of implementation and revitalize the global partnership for sustainable development</p>
        </div>
    </div>
    <div class="card border-primary mb-3">
        <!-- <div class="card-header"></div> -->
        <div class="card-body text-primary">
            <h5 class="card-title">Join us now!</h5>
            <a href="/signup" class="btn btn-primary">Sign up as Individual</a> &nbsp;
            <a href="/signup/institution" class="btn btn-primary">Sign up as Institution</a>
        </div>
    </div>
</div>
<br/>