<div class="row bg-light p-2">
    <div class="col-2">
        <div *ngIf="isUser">
            <div *ngIf="user.profilePic.length == 0">
                <img class="rounded-circle img-fluid mt-2" src="../../assets/img/profilePic_Placeholder.png" style="width: 80px; height: 80px; object-fit: cover;"
                    alt="Profile picture">
            </div>
            <div *ngIf="user.profilePic.length != 0">
                <img class="rounded-circle img-fluid mt-2" src={{user.profilePic}} style="width: 80px; height: 80px; object-fit: cover;"
                    alt="Profile picture">
            </div>
        </div>

        <div *ngIf="isProject">
            <div *ngIf="project.imgPath.length == 0">
                <img class="rounded-circle img-fluid mt-2" src="../../assets/img/team.jpg" style="width: 80px; height: 80px; object-fit: cover;"
                    alt="Profile picture">
            </div>
            <div *ngIf="project.imgPath.length != 0">
                <img class="rounded-circle img-fluid mt-2" src={{imgString}} style="width: 80px; height: 80px; object-fit: cover;"
                    alt="Profile picture">
            </div>
        </div>

        <div *ngIf="isReward">
            <div *ngIf="reward.imgPath.length == 0">
                <img class="rounded-circle img-fluid mt-2" src="../../assets/img/rewardPlaceholder.png" style="width: 80px; height: 80px; object-fit: cover;"
                    alt="Profile picture">
            </div>
            <div *ngIf="reward.imgPath.length != 0">
                <img class="rounded-circle img-fluid mt-2" src={{imgString}} style="width: 80px; height: 80px; object-fit: cover;"
                    alt="Profile picture">
            </div>
        </div>

    </div>
    <div [ngClass]="{'col-6': isUser || isProject, 'col-10': isReward}">
        <div *ngIf="isUser">
            <h4 class="card-title text-left mt-md-3 mb-md-0">
                <span *ngIf="user.status != 'unclaimed'">
                    <a href="/profile?username={{user.username}}&userType={{userType}}">{{ user.name }}</a>
                </span>
                <span *ngIf="user.status == 'unclaimed'">
                    <a href="view-Profile?id={{user.id}}&userType={{userType}}">{{user.name}}</a>
                </span>
            </h4>
            <div><b>Username:</b> {{ user.username }}</div>
            <span><b>Country:</b> {{user.country}}</span> 
            <span *ngIf="user.role"> | <b>Role:</b> {{user.role}}</span>
            <span> | <b>Status:</b> {{user.status}}</span>
        </div>
        <div *ngIf="isProject">
            <h4 class="card-title text-left mt-md-3 mb-md-0">
                <a href="/project/projectDetails?id={{project.id}}">{{ project.title }}</a>
            </h4>
            <div><b>Code:</b> {{project.code}}</div>
            <span><b>Country:</b> {{ project.country }}</span>
            <span> | <b>Status:</b> {{project.status}}</span>
        </div>
        <div *ngIf="isReward">
            <h4 class="card-title text-left mt-md-3 mb-md-0">
                {{ reward.title }}
            </h4>
            <span><b>Country:</b> {{ reward.country }}</span>
            <span> | <b>Status:</b> {{reward.status}}</span>
            <br>
            <span><b>Min Tier: </b>{{reward.minTier}}</span>
            <span> | <b>Points: </b> {{reward.point}}</span>
            <span> | <b>Quota: </b> {{reward.quota}}</span>
            <span> | <b>Start Date: </b> {{formatDateNoTime(reward.startDate)}}</span>
            <span> | <b>End Date: </b> {{formatDateNoTime(reward.endDate)}}</span>
        </div>
    </div>
    <div [ngClass]="{'col-4': isUser || isProject}">
        <div *ngIf="userType=='individual'">
            <div *ngIf="checkAccess()">
                <button class="p-button p-button-danger float-right ml-2 mt-3" (click)="suspendUser()">
                    <i class="pi pi-times-circle"></i>&nbsp;Suspend
                </button>
                <button class="p-button p-button-success float-right mt-3" (click)="activateUser()">
                    <i class="pi pi-check-circle"></i>&nbsp;Activate
                </button>
            </div>
        </div>
        <div *ngIf="userType=='institution'">
            <button class="p-button p-button-danger float-right ml-2 mt-3" (click)="suspendInstitution()">
                <i class="pi pi-times-circle"></i>&nbsp;Suspend
            </button>
            <button class="p-button p-button-success float-right mt-3" (click)="activateInstitution()">
                <i class="pi pi-check-circle"></i>&nbsp;Activate
            </button>
        </div>
        <div *ngIf="isProject">
            <div *ngIf="project.status != 'completed' && project.status != 'close'">
                <button class="p-button p-button-danger float-right ml-2 mt-3" (click)="suspendProject()">
                    <i class="pi pi-times-circle"></i>&nbsp;Suspend
                </button>
                <button class="p-button p-button-success float-right mt-3" (click)="activateProject()">
                    <i class="pi pi-check-circle"></i>&nbsp;Activate
                </button>
            </div>
            <div *ngIf="project.status == 'completed' || project.status == 'close'">
                <button disabled="true" class="p-button p-button-danger float-right ml-2 mt-3">
                    <i class="pi pi-times-circle"></i>&nbsp;Suspend
                </button>
                <button disabled="true" class="p-button p-button-success float-right mt-3">
                    <i class="pi pi-check-circle"></i>&nbsp;Activate
                </button>
            </div>
            <!-- <button *ngIf="!disableActivate" class="btn btn-success float-right mt-3" type="button" aria-haspopup="true" aria-expanded="false"
                (click)="activateProject()">
                Activate
            </button>
            <button *ngIf="disableActivate" disabled class="btn btn-success float-right mt-3" type="button" aria-haspopup="true" aria-expanded="false">
                Activate
            </button> -->
        </div>
    </div>
</div>

<div class=" mt-2 mb-2">
    <div class="row">
        <div class="mt-2" *ngIf="isAdminLead&&checkAdmin">
            Please select audit type
        </div>

        <div class="ml-2" *ngIf="(isAdminLead&&checkAdmin)">
            <select class="form-control" style="width: fit-content;" name="type" [(ngModel)]="auditType" required #type="ngModel">
                <option value="user">User</option>
                <option value="admin">Admin</option>
            </select>
        </div>
    </div>

    <div *ngIf="checkLoading()" class="row mt-4">
        <i class="pi pi-spin pi-spinner mx-auto" style="font-size: 3em"></i>
    </div>

    <div *ngIf="!checkLoading()">
        <div *ngIf="auditType=='user'">
            <h4>User Audit Log
                <a *ngIf="userAudit.length > 0" href="https://localhost:8080{{userAuditFile}}" class="btn btn-primary float-right" target="_blank">
                    <i class="pi pi-upload"></i>&nbsp;Export
                </a>
            </h4>
            <div *ngIf="userAudit.length==0">
                There are no user audit logs for now.
            </div>
            <p-table #dt1 [value]="userAudit" [rowHover]="true" [rows]="10" [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
                [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Action</th>
                        <th pSortableColumn="createdAt">Created at
                            <p-sortIcon field="createdAt"></p-sortIcon>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <input pInputText type="text" (input)="dt1.filter($event.target.value, 'action', 'contains')" [value]="dt1.filters['action']?.value" placeholder="Search by Action" class="p-column-filter">
                        </th>
                        <th>
                            <p-calendar [baseZIndex]="90" [(ngModel)]="rangeDates" [style]="{'width':'60%'}" placeholder="Filter by date range" (onSelect)="filterByDateRange('user')" selectionMode="range" 
                                [readonlyInput]="true" inputId="range" [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2015:2020" showButtonBar="true" (onClearClick)="loadAudit('user')"></p-calendar>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-a>
                    <tr>
                        <td>{{a.action}}</td>
                        <td>{{formatDate(a.createdAt)}}</td>
                    </tr>
                </ng-template>
            </p-table>
            <!-- <div *ngFor="let user of userAudit">
                <div class="card">
                    <div class="card-body">
                        Action: {{user.action}}
                        <br/>
                        <small>Created At: {{formatDate(user.createdAt)}}</small>
                    </div>
                </div>
            </div> -->
        </div>
        <div *ngIf="auditType=='admin'">
            <h4>Admin Audit Log
                <a *ngIf="userAudit.length > 0 && isAdminLead" href="https://localhost:8080{{adminAuditFile}}" class="btn btn-primary float-right" target="_blank">
                    <i class="pi pi-upload"></i>&nbsp;Export
                </a>
            </h4>
            <div *ngIf="adminAudit.length==0">
                There are no admin audit logs for now.
            </div>
            <p-table #dt2 [value]="adminAudit" [rowHover]="true" [rows]="10" [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
                [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Action</th>
                        <th pSortableColumn="createdAt">Created at
                            <p-sortIcon field="createdAt"></p-sortIcon>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <input pInputText type="text" (input)="dt2.filter($event.target.value, 'action', 'contains')" [value]="dt2.filters['action']?.value" placeholder="Search by Action" class="p-column-filter">
                        </th>
                        <th>
                            <p-calendar [baseZIndex]="90" [(ngModel)]="rangeDates" [style]="{'width':'60%'}" placeholder="Filter by date range" (onSelect)="filterByDateRange('admin')" selectionMode="range" 
                                [readonlyInput]="true" inputId="range" [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2015:2020" showButtonBar="true" (onClearClick)="loadAudit('admin')"></p-calendar>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-a>
                    <tr>
                        <td>{{a.action}}</td>
                        <td>{{formatDate(a.createdAt)}}</td>
                    </tr>
                </ng-template>
            </p-table>
            <!-- <div *ngFor="let admin of adminAudit">
                <div class="card" style="width:80%">
                    <div class="card-body">
                        Action: {{admin.action}}
                        <br/>
                        <small>Created At: {{formatDate(admin.createdAt)}}</small>
                    </div>
                </div>
            </div> -->
        </div>
        <div *ngIf="(auditType==null)&&(isNullUser)">
            <h4>User Audit Log
                <a *ngIf="userAudit.length > 0" href="https://localhost:8080{{userAuditFile}}" class="btn btn-primary float-right" target="_blank">
                    <i class="pi pi-upload"></i>&nbsp;Export
                </a>
            </h4>
            <div *ngIf="userAudit.length==0">
                There are no user audit logs for now.
            </div>
            <p-table #dt3 [value]="userAudit" [rowHover]="true" [rows]="10" [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
                [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Action</th>
                        <th pSortableColumn="createdAt">Created at
                            <p-sortIcon field="createdAt"></p-sortIcon>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <input pInputText type="text" (input)="dt3.filter($event.target.value, 'action', 'contains')" [value]="dt3.filters['action']?.value" placeholder="Search by Action" class="p-column-filter">
                        </th>
                        <th>
                            <p-calendar [baseZIndex]="90" [(ngModel)]="rangeDates" [style]="{'width':'60%'}" placeholder="Filter by date range" (onSelect)="filterByDateRange('institution')" selectionMode="range" 
                                [readonlyInput]="true" inputId="range" [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2015:2020" showButtonBar="true" (onClearClick)="loadAudit('institution')"></p-calendar>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-a>
                    <tr>
                        <td>{{a.action}}</td>
                        <td>{{formatDate(a.createdAt)}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div *ngIf="(auditType==null)&&(isNullProj)">
            <h4>Project Audit Log
                <a *ngIf="userAudit.length > 0" href="https://localhost:8080{{userAuditFile}}" class="btn btn-primary float-right" target="_blank">
                    <i class="pi pi-upload"></i>&nbsp;Export
                </a>
            </h4>
            <div *ngIf="userAudit.length==0">
                There are no project audit logs for now.
            </div>
            
            <p-table #dt4 [value]="userAudit" [rowHover]="true" [rows]="10" [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
                [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Action</th>
                        <th pSortableColumn="createdAt">Created at
                            <p-sortIcon field="createdAt"></p-sortIcon>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <input pInputText type="text" (input)="dt4.filter($event.target.value, 'action', 'contains')" [value]="dt4.filters['action']?.value" placeholder="Search by Action" class="p-column-filter">
                        </th>
                        <th>
                            <p-calendar [baseZIndex]="90" [(ngModel)]="rangeDates" [style]="{'width':'60%'}" placeholder="Filter by date range" (onSelect)="filterByDateRange('project')" selectionMode="range" 
                                [readonlyInput]="true" inputId="range" [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2015:2020" showButtonBar="true" (onClearClick)="loadAudit('project')"></p-calendar>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-a>
                    <tr>
                        <td>{{a.action}}</td>
                        <td>{{formatDate(a.createdAt)}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div *ngIf="(auditType==null)&&(isNullReward)">
            <h4>Reward Audit Log
                <a *ngIf="userAudit.length > 0" href="https://localhost:8080{{userAuditFile}}" class="btn btn-primary float-right" target="_blank">
                    <i class="pi pi-upload"></i>&nbsp;Export
                </a>
            </h4>
            <div *ngIf="userAudit.length==0">
                There are no reward audit logs for now.
            </div>
            <p-table #dt5 [value]="userAudit" [rowHover]="true" [rows]="10" [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
                [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Action</th>
                        <th pSortableColumn="createdAt">Created at
                            <p-sortIcon field="createdAt"></p-sortIcon>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <input pInputText type="text" (input)="dt5.filter($event.target.value, 'action', 'contains')" [value]="dt5.filters['action']?.value" placeholder="Search by Action" class="p-column-filter">
                        </th>
                        <th>
                            <p-calendar [baseZIndex]="90" [(ngModel)]="rangeDates" [style]="{'width':'60%'}" placeholder="Filter by date range" (onSelect)="filterByDateRange('reward')" selectionMode="range" 
                                [readonlyInput]="true" inputId="range" [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2015:2020" showButtonBar="true" (onClearClick)="loadAudit('reward')"></p-calendar>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-a>
                    <tr>
                        <td>{{a.action}}</td>
                        <td>{{formatDate(a.createdAt)}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<!-- <div class="row">
    <span *ngIf="(auditType=='admin')&&(isAdminLead&&checkAdmin)">
        <a href="https://localhost:8080{{adminAuditFile}}" class="btn btn-primary float-right" aria-haspopup="true"
            aria-expanded="false" target="_blank">
            Export
        </a>
    </span>
    <div *ngIf="(auditType=='user')&&(isAdminLead&&checkAdmin)">
        <a href="https://localhost:8080{{userAuditFile}}" class="btn btn-primary float-right text-white" type="button" aria-haspopup="true"
            aria-expanded="false" target="_blank">
            Export
        </a>
    </div>
    <div *ngIf="(auditType==null)&&(isNullUser || isNullProj || isNullReward)">
        <a href="https://localhost:8080{{userAuditFile}}" class="btn btn-primary float-right text-white" type="button" aria-haspopup="true"
            aria-expanded="false" target="_blank">
            Export
        </a>
    </div>
</div> -->