<!-- <div class="input-group mb-3">
    <div class="input-group-prepend">
      <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select</button>
      <div class="dropdown-menu">
        <a class="dropdown-item">User</a>
        <a class="dropdown-item">Project</a>
      </div>
    </div>
    <input type="text" class="form-control" aria-label="Text input with dropdown button">
</div> -->

<form name="form" (ngSubmit)="f.form.valid && searchUsers()" #f="ngForm" novalidate>
    <div class="form-group">
        <input type="text" class="form-control" name="search" [(ngModel)]="keyword" #search="ngModel" placeholder="Search" />
        <br>
        <button class="btn btn-primary" (click)=searchUsers()>Search</button>
    </div>
</form>
<div class="alert alert-warning" *ngIf="f.submitted && !isSearchSuccessful">
    {{ errorMsgSearch }}
</div>
<div *ngIf=isSearchSuccessful>
    <div class="alert alert-warning" *ngIf="searchResults.length == 0">
        No user found
    </div>
    <div *ngFor="let user of searchResults">
        <div class="card">
            <div class="card-body">
                <div *ngIf="user.profilePic.length > 0">
                    <img src={{user.profilePic}} class="rounded-circle img-fluid" style="width: 80px; height: 80px; object-fit: cover;" alt="Profile picture"
                    />
                </div>
                <div *ngIf="user.profilePic.length == 0">
                    <img src="../../assets/img/profilePic_Placeholder.png" class="rounded-circle img-fluid" style="width: 90px; height: 90px; object-fit: cover;"
                        alt="Profile picture" />
                </div>
                {{user.name}}
                <br/> {{user.username}}
                <div class="text-secondary">{{user.role}}</div>
                <div class="text-secondary">{{user.status}}</div>
                <div *ngIf="user.role == 'user' || thisUser.role == 'adminlead' && user.username != thisUser.username">
                    <div class="btn-group float-right">
                        <a [href]="viewUser(user.username)" class="btn btn-primary">User Management Profile</a>
                    </div>
                    <br><br>
                    <button class="btn btn-danger float-right ml-2" type="button" aria-haspopup="true" aria-expanded="false" (click)=suspendUser(user.id)>
                        Suspend
                    </button>
                    <button class="btn btn-success float-right" type="button" aria-haspopup="true" aria-expanded="false" (click)=activateUser(user.id)>
                        Activate
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>