<h2>Reward Management
    <span class="btn btn-primary float-right"><a class="text-white" href="/admin/create-reward">Create New Reward</a></span>
</h2>

<p-toast key="toastMsg" [baseZIndex]="100"></p-toast>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="pending-tab" data-toggle="tab" href="#pending" role="tab" aria-controls="pending" aria-selected="true">Pending</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="accepted-tab" data-toggle="tab" href="#accepted" role="tab" aria-controls="accepted" aria-selected="true">Accepted</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" id="active-tab" data-toggle="tab" href="#open" role="tab" aria-controls="open" aria-selected="false">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="rejected-tab" data-toggle="tab" href="#rejected" role="tab" aria-controls="rejected" aria-selected="false">Rejected</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="close-tab" data-toggle="tab" href="#close" role="tab" aria-controls="close" aria-selected="false">Expired</a>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="pending" role="tabpanel" aria-labelledby="pending-tab">
        <div class="card">
            <p-dataView #re [value]="pending" [paginator]="true" [rows]="9" filterBy="title" [sortField]="sortField"
                [sortOrder]="sortOrder" layout="grid">
                <ng-template pTemplate="header">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
                        <p-dropdown [options]="countryOptions" [(ngModel)]="filterKeyCountry" placeholder="Filter By Country"
                            (onChange)="onFilterCountry($event , [(pp)])" styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
                        <!-- <p-dropdown [options]="sortOptions" [(ngModel)]="sortKeyMpw" placeholder="Sort By Date"
                            (onChange)="onSortChangeManpower($event)" styleClass="p-mb-2 p-mb-md-0"></p-dropdown> -->
                        <span class="p-input-icon-left p-mb-2 p-mb-md-0">
                            <i class="pi pi-search"></i>
                            <input type="search" pInputText placeholder="Search by Title" (input)="re.filter($event.target.value)">
                        </span>
                    </div>
                </ng-template>
                <ng-template let-reward pTemplate="gridItem">
                    <div class="p-col-12 p-md-3">
                        <div class="product-grid-item card p-2">
                            <div class="product-grid-item-top">
                                <div class="small">Created at: {{formatDate(reward.createdAt)}}</div>
                            </div>
                            <div class="product-grid-item-content">
                                <img *ngIf="reward.imgPath.length == 0" src="../../../assets/img/rewardPlaceholder.png"
                                    class="img-fluid" style="width: 150px; height: 150px; object-fit: cover;" alt="Reward pic" />
                                <img *ngIf="reward.imgPath.length != 0" src="https://localhost:8080{{reward.imgPath}}"
                                    class="img-fluid" style="width: 150px; height: 150px; object-fit: cover;" alt="Reward pic" />
                                <div class="product-name">
                                    <button class="btn" data-toggle="modal" data-target="#ViewModal" (click)=getForm(reward)>
                                        {{reward.title}}
                                    </button>
                                </div>
                                <div>{{reward.country}}</div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataView>

            <div class="modal fade" id="ViewModal" tabindex="-1" role="dialog" aria-labelledby="viewModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="viewModalLabel">View Reward</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <span class="product-category">{{editForm.country}}</span>
                            <span class="float-right">Created: {{formatDate(editForm.createdAt)}}</span>
                            <br>
                            <img *ngIf="editForm.rewardImg.length == 0" src="../../../assets/img/rewardPlaceholder.png"
                                class="img-fluid" style="width: 500px; height: 200px; object-fit: cover;" alt="Reward pic" />
                            <img *ngIf="editForm.rewardImg.length != 0" src="https://localhost:8080{{editForm.rewardImg}}"
                                class="img-fluid" style="width: 500px; height: 200px; object-fit: cover;" alt="Reward pic" />
                            <br/><br/>
                            <h5>{{editForm.title}}
                                <span class="small float-right">&nbsp;Status: <span class="pendingStatus rounded-pill text-white pl-2 pr-2">pending</span>&nbsp;</span>
                            </h5>
                            <div>Description: {{editForm.desc}}</div>
                            <div>Created by 
                                <img *ngIf="editForm.accountImgPath.length == 0" src="../../../assets/img/profilePic_Placeholder.png"
                                    class="img-fluid rounded-circle mr-md-2" style="width: 60px; height: 60px; object-fit: cover;" alt="Profile pic" />
                                <img *ngIf="editForm.accountImgPath.length > 0" src="https://localhost:8080{{editForm.accountImgPath}}"
                                    class="img-fluid rounded-circle mr-md-2" style="width: 60px; height: 60px; object-fit: cover;" alt="Profile pic" />
                                <span *ngIf="editForm.sponsorType == 'user'">
                                    <a href="/profile?username={{editForm.accountUsername}}&userType=individual">{{editForm.accountName}}</a>
                                </span>
                                <span *ngIf="editForm.sponsorType == 'institution'">
                                    <a href="/profile?username={{editForm.accountUsername}}&userType=institution">{{editForm.accountName}}</a>
                                </span>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    Points needed: {{editForm.point}} <br>
                                    Quota: {{editForm.quota}} <br>
                                    Tier: <span class="rounded-pill pl-2 pr-2 {{editForm.minTier}}">{{editForm.minTier}}</span>
                                </div>
                                <div class="col-6">
                                    Start Date: {{formatDate(editForm.startDate)}}<br/>
                                    End Date: {{formatDate(editForm.endDate)}}
                                </div>
                            </div>
                            Download verification file: <button pButton class="p-button-rounded" title="Download attachment" icon="pi pi-download" (click)="downloadAttachment(editForm.verifyFile)"></button>
                            <br>
                            <button class="btn btn-primary" (click)="viewAudit(editForm.id)">View Audit</button>
                            <button class="btn btn-danger ml-1 float-right" (click)="rejectReq(editForm.id)">Reject</button>
                            <button class="btn btn-success mr-md-2 float-right" (click)="approveReq(editForm.id)">Approve</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="accepted" role="tabpanel" aria-labelledby="accepted-tab">
        <div class="card">
            <p-dataView #re [value]="accepted" [paginator]="true" [rows]="9" filterBy="title" [sortField]="sortField"
                [sortOrder]="sortOrder" layout="grid">
                <ng-template pTemplate="header">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
                        <p-dropdown [options]="countryOptions" [(ngModel)]="filterKeyCountryAcc" placeholder="Filter By Country"
                            (onChange)="onFilterCountry($event , [(pp)])" styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
                        <!-- <p-dropdown [options]="sortOptions" [(ngModel)]="sortKeyMpw" placeholder="Sort By Date"
                            (onChange)="onSortChangeManpower($event)" styleClass="p-mb-2 p-mb-md-0"></p-dropdown> -->
                        <span class="p-input-icon-left p-mb-2 p-mb-md-0">
                            <i class="pi pi-search"></i>
                            <input type="search" pInputText placeholder="Search by Title" (input)="re.filter($event.target.value)">
                        </span>
                    </div>
                </ng-template>
                <ng-template let-reward pTemplate="gridItem">
                    <div class="p-col-12 p-md-3">
                        <div class="product-grid-item card p-2">
                            <div class="product-grid-item-top">
                                <div class="small">Created at: {{formatDate(reward.createdAt)}}</div>
                            </div>
                            <div class="product-grid-item-content">
                                <img *ngIf="reward.imgPath.length == 0" src="../../../assets/img/rewardPlaceholder.png"
                                    class="img-fluid" style="width: 150px; height: 150px; object-fit: cover;" alt="Reward pic" />
                                <img *ngIf="reward.imgPath.length != 0" src="https://localhost:8080{{reward.imgPath}}"
                                    class="img-fluid" style="width: 150px; height: 150px; object-fit: cover;" alt="Reward pic" />
                                <div class="product-name">
                                    <button class="btn" data-toggle="modal" data-target="#ViewModalAcc" (click)=getForm(reward)>
                                        {{reward.title}}
                                    </button>
                                </div>
                                <div>{{reward.country}}</div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataView>

            <div class="modal fade" id="ViewModalAcc" tabindex="-1" role="dialog" aria-labelledby="viewModalAccLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="viewModalLabel">View Reward</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div *ngIf="!isEdit">
                                <span class="product-category">{{editForm.country}}</span>
                                <span class="float-right">Created: {{formatDate(editForm.createdAt)}}</span>
                                <br>
                                <img *ngIf="editForm.rewardImg.length == 0" src="../../../assets/img/rewardPlaceholder.png"
                                    class="img-fluid" style="width: 500px; height: 200px; object-fit: cover;" alt="Reward pic" />
                                <img *ngIf="editForm.rewardImg.length != 0" src="https://localhost:8080{{editForm.rewardImg}}"
                                    class="img-fluid" style="width: 500px; height: 200px; object-fit: cover;" alt="Reward pic" />
                                <br/><br/>
                                <h5>{{editForm.title}}
                                    <span class="small float-right">&nbsp;Status: <span class="acceptedStatus rounded-pill text-white pl-2 pr-2">accepted</span>&nbsp;</span>
                                </h5>
                                <div>Description: {{editForm.desc}}</div>
                                <div class="mt-md-2">
                                    Created by
                                    <span *ngIf="editForm.sponsorType == 'external'">
                                        external sponsor <b>{{editForm.externalName}}</b>
                                    </span>
                                    <span *ngIf="editForm.sponsorType != 'external'">
                                        <img *ngIf="editForm.accountImgPath.length == 0" src="../../../assets/img/profilePic_Placeholder.png"
                                            class="img-fluid rounded-circle mr-md-2" style="width: 80px; height: 80px; object-fit: cover;" alt="Profile pic" />
                                        <img *ngIf="editForm.accountImgPath.length > 0" src="https://localhost:8080{{editForm.accountImgPath}}"
                                            class="img-fluid rounded-circle mr-md-2" style="width: 60px; height: 60px; object-fit: cover;" alt="Profile pic" />
                                        <span *ngIf="editForm.sponsorType == 'user'">
                                            <a href="/profile?username={{editForm.accountUsername}}&userType=individual">{{editForm.accountName}}</a>
                                        </span>
                                        <span *ngIf="editForm.sponsorType == 'institution'">
                                            <a href="/profile?username={{editForm.accountUsername}}&userType=institution">{{editForm.accountName}}</a>
                                        </span>
                                    </span>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        Points needed: {{editForm.point}} <br>
                                        Quota: {{editForm.quota}} <br>
                                        Tier: <span class="rounded-pill pl-2 pr-2 {{editForm.minTier}}">{{editForm.minTier}}</span>
                                    </div>
                                    <div class="col-6">
                                        Start Date: {{formatDate(editForm.startDate)}}<br/>
                                        End Date: {{formatDate(editForm.endDate)}}
                                    </div>
                                </div>
                                <button class="btn btn-danger ml-1 float-right" (click)="deleteReward(editForm.id)">
                                    <i class="pi pi-trash"></i>&nbsp;Delete
                                </button>
                                <button class="btn btn-primary mr-md-2 float-right" (click)=editReward() title="Edit">
                                    <i class="pi pi-pencil"></i>&nbsp;Edit
                                </button>
                            </div>
                            <div *ngIf="isEdit">
                                <form name="form" (ngSubmit)="fs.form.valid && updateReward()" #fs="ngForm" novalidate>
                                    <div class="form-group row">
                                        <label for="title" class="col-sm-3 col-form-label">Title</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" name="title" [(ngModel)]="editForm.title" required #title="ngModel" />
                                        </div>
                                        <div class="alert-danger" *ngIf="fs.submitted && title.invalid">
                                            <div *ngIf="title.errors.required">Title is required</div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="desc" class="col-sm-3 col-form-label">Description</label>
                                        <div class="col-sm-9">
                                            <textarea class="form-control" name="desc" [(ngModel)]="editForm.desc" #desc="ngModel" rows="3"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="country" class="col-sm-3 col-form-label">Country</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" name="country" [(ngModel)]="editForm.country" required #country="ngModel">
                                            <option *ngFor="let c of countries" value={{c}}>{{c}}</option>
                                            </select>
                                        </div>
                                        <div class="alert-danger" *ngIf="fs.submitted && country.invalid">
                                            <div *ngIf="country.errors.required">Country is required</div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="point" class="col-sm-3 col-form-label">Point</label>
                                        <div class="col-sm-9">
                                            <input type="number" class="form-control" name="point" [(ngModel)]="editForm.point" required min="0"
                                                #point="ngModel" />
                                        </div>
                                        <div class="alert-danger" *ngIf="fs.submitted && point.invalid">
                                            <div *ngIf="point.errors.required">Point is required</div>
                                            <div *ngIf="point.errors.min">
                                                Point cannot be below 0
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="quota" class="col-sm-3 col-form-label">Quota</label>
                                        <div class="col-sm-9">
                                            <input type="number" class="form-control" name="quota" [(ngModel)]="editForm.quota" required min="0"
                                                #quota="ngModel" />
                                        </div>
                                        <div class="alert-danger" *ngIf="fs.submitted && quota.invalid">
                                            <div *ngIf="quota.errors.required">Quota is required</div>
                                            <div *ngIf="quota.errors.min">
                                                Quota cannot be below 0
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="tier" class="col-sm-3 col-form-label">Tier</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" name="tier" [(ngModel)]="editForm.minTier" required #tier="ngModel">
                                                <option>gold</option>
                                                <option>silver</option>
                                                <option>bronze</option>
                                            </select>
                                        </div>
                                        <div class="alert-danger" *ngIf="fs.submitted && tier.invalid">
                                            <div *ngIf="tier.errors.required">Tier is required</div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="startDate" class="col-sm-3 col-form-label">Start Date</label>
                                        <div class="col-sm-9">
                                            <p-calendar name="startDate" [(ngModel)]="editForm.startDate" dateFormat="yy-mm-dd" [showIcon]="true" [minDate]="minimumDate"
                                            [monthNavigator]="true" [yearNavigator]="true" yearRange="2020:2025" [style]="{'height':'40px'}" required #startDate="ngModel"></p-calendar>
                                        </div>
                                        <div class="alert-danger" *ngIf="fs.submitted && startDate.invalid">
                                            <div *ngIf="startDate.errors.required">Start date is required</div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="endDate" class="col-sm-3 col-form-label">End Date</label>
                                        <div class="col-sm-9">
                                            <p-calendar name="endDate" [(ngModel)]="editForm.endDate" dateFormat="yy-mm-dd" [showIcon]="true" [minDate]="minimumDate"
                                            [monthNavigator]="true" [yearNavigator]="true" yearRange="2020:2025" [style]="{'height':'40px'}" required #endDate="ngModel"></p-calendar>
                                        </div>
                                        <div class="alert-danger" *ngIf="fs.submitted && endDate.invalid">
                                            <div *ngIf="endDate.errors.required">End date is required</div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="file" class="col-sm-3 col-form-label">Image</label>
                                        <form class="col-sm-9">
                                        <input type="file" name="file" (change)="selectImage($event)" />
                                        </form>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-6">
                                                <button type="submit" class="btn btn-primary btn-block">Update</button>
                                            </div>
                                            <div class="col-6">
                                                <button class="btn btn-secondary btn-block" (click)="cancelEdit()">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <button class="btn btn-primary" (click)="viewAudit(editForm.id)">View Audit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="open" role="tabpanel" aria-labelledby="open-tab">
        <div class="card">
            <p-dataView #op [value]="open" [paginator]="true" [rows]="9" filterBy="title" [sortField]="sortField"
                [sortOrder]="sortOrder" layout="grid">
                <ng-template pTemplate="header">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
                        <p-dropdown [options]="countryOptions" [(ngModel)]="filterKeyCountryOpen" placeholder="Filter By Country"
                            (onChange)="onFilterCountry($event, [(oo)])" styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
                        <!-- <p-dropdown [options]="sortOptions" [(ngModel)]="sortKeyMpw" placeholder="Sort By Date"
                            (onChange)="onSortChangeManpower($event)" styleClass="p-mb-2 p-mb-md-0"></p-dropdown> -->
                        <span class="p-input-icon-left p-mb-2 p-mb-md-0">
                            <i class="pi pi-search"></i>
                            <input type="search" pInputText placeholder="Search by Title" (input)="op.filter($event.target.value)">
                        </span>
                    </div>
                </ng-template>
                <ng-template let-reward pTemplate="gridItem">
                    <div class="p-col-12 p-md-3">
                        <div class="product-grid-item card p-2">
                            <div class="product-grid-item-top">
                                <div class="small">Created at: {{formatDate(reward.createdAt)}}</div>
                            </div>
                            <div class="product-grid-item-content">
                                <img *ngIf="reward.imgPath.length == 0" src="../../../assets/img/rewardPlaceholder.png"
                                    class="img-fluid" style="width: 150px; height: 150px; object-fit: cover;" alt="Reward pic" />
                                <img *ngIf="reward.imgPath.length != 0" src="https://localhost:8080{{reward.imgPath}}"
                                    class="img-fluid" style="width: 150px; height: 150px; object-fit: cover;" alt="Reward pic" />
                                <div class="product-name">
                                    <button class="btn" data-toggle="modal" data-target="#ViewModalOpen" (click)=getForm(reward)>
                                        {{reward.title}}
                                    </button>
                                </div>
                                <div>{{reward.country}}</div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataView>

            <div class="modal fade" id="ViewModalOpen" tabindex="-1" role="dialog" aria-labelledby="viewModalLabelOpen" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="viewModalLabelOpen">View Reward</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div *ngIf="!isEdit">
                                <span class="product-category">{{editForm.country}}</span>
                                <span class="float-right">Created: {{formatDate(editForm.createdAt)}}</span>
                                <br>
                                <img *ngIf="editForm.rewardImg.length == 0" src="../../../assets/img/rewardPlaceholder.png"
                                    class="img-fluid" style="width: 500px; height: 200px; object-fit: cover;" alt="Reward pic" />
                                <img *ngIf="editForm.rewardImg.length != 0" src="https://localhost:8080{{editForm.rewardImg}}"
                                    class="img-fluid" style="width: 500px; height: 200px; object-fit: cover;" alt="Reward pic" />
                                <br/><br/>
                                <h5>{{editForm.title}}
                                    <span class="small float-right">&nbsp;Status: <span class="activeStatus rounded-pill text-white pl-2 pr-2">active</span>&nbsp;</span>
                                </h5>
                                <div>Description: {{editForm.desc}}</div>
                                <div class="mt-md-2">
                                    Created by
                                    <span *ngIf="editForm.sponsorType == 'external'">
                                        external sponsor <b>{{editForm.externalName}}</b>
                                    </span>
                                    <span *ngIf="editForm.sponsorType != 'external'">
                                        <img *ngIf="editForm.accountImgPath.length == 0" src="../../../assets/img/profilePic_Placeholder.png"
                                            class="img-fluid rounded-circle mr-md-2" style="width: 80px; height: 80px; object-fit: cover;" alt="Profile pic" />
                                        <img *ngIf="editForm.accountImgPath.length > 0" src="https://localhost:8080{{editForm.accountImgPath}}"
                                            class="img-fluid rounded-circle mr-md-2" style="width: 60px; height: 60px; object-fit: cover;" alt="Profile pic" />
                                        <span *ngIf="editForm.sponsorType == 'user'">
                                            <a href="/profile?username={{editForm.accountUsername}}&userType=individual">{{editForm.accountName}}</a>
                                        </span>
                                        <span *ngIf="editForm.sponsorType == 'institution'">
                                            <a href="/profile?username={{editForm.accountUsername}}&userType=institution">{{editForm.accountName}}</a>
                                        </span>
                                    </span>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        Points needed: {{editForm.point}} <br>
                                        Quota: {{editForm.quota}} <br>
                                        Tier: <span class="rounded-pill pl-2 pr-2 {{editForm.minTier}}">{{editForm.minTier}}</span>
                                    </div>
                                    <div class="col-6">
                                        Start Date: {{formatDate(editForm.startDate)}}<br/>
                                        End Date: {{formatDate(editForm.endDate)}}
                                    </div>
                                </div>
                                <div *ngIf="editForm.sponsorType == 'user'">
                                    Download verification file: <button pButton class="p-button-rounded" title="Download attachment" icon="pi pi-download" (click)="downloadAttachment(editForm.verifyFile)"></button>
                                </div>
                                <br>
                                <button class="btn btn-danger ml-1 float-right" (click)="deleteReward(editForm.id)">
                                    <i class="pi pi-trash"></i>&nbsp;Delete
                                </button>
                                <button class="btn btn-primary mr-md-2 float-right" (click)=editReward() title="Edit">
                                    <i class="pi pi-pencil"></i>&nbsp;Edit
                                </button>
                            </div>
                            <div *ngIf="isEdit">
                                <form name="form" (ngSubmit)="f.form.valid && updateReward()" #f="ngForm" novalidate>
                                    <div class="form-group row">
                                        <label for="title" class="col-sm-3 col-form-label">Title</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" name="title" [(ngModel)]="editForm.title" required #title="ngModel" />
                                        </div>
                                        <div class="alert-danger" *ngIf="f.submitted && title.invalid">
                                            <div *ngIf="title.errors.required">Title is required</div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="desc" class="col-sm-3 col-form-label">Description</label>
                                        <div class="col-sm-9">
                                            <textarea class="form-control" name="desc" [(ngModel)]="editForm.desc" #desc="ngModel" rows="3"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="country" class="col-sm-3 col-form-label">Country</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" name="country" [(ngModel)]="editForm.country" required #country="ngModel">
                                            <option *ngFor="let c of countries" value={{c}}>{{c}}</option>
                                            </select>
                                        </div>
                                        <div class="alert-danger" *ngIf="f.submitted && country.invalid">
                                            <div *ngIf="country.errors.required">Country is required</div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="point" class="col-sm-3 col-form-label">Point</label>
                                        <div class="col-sm-9">
                                            <input type="number" class="form-control" name="point" [(ngModel)]="editForm.point" required min="0"
                                                #point="ngModel" />
                                        </div>
                                        <div class="alert-danger" *ngIf="f.submitted && point.invalid">
                                            <div *ngIf="point.errors.required">Point is required</div>
                                            <div *ngIf="point.errors.min">
                                                Point cannot be below 0
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="quota" class="col-sm-3 col-form-label">Quota</label>
                                        <div class="col-sm-9">
                                            <input type="number" class="form-control" name="quota" [(ngModel)]="editForm.quota" required min="0"
                                                #quota="ngModel" />
                                        </div>
                                        <div class="alert-danger" *ngIf="f.submitted && quota.invalid">
                                            <div *ngIf="quota.errors.required">Quota is required</div>
                                            <div *ngIf="quota.errors.min">
                                                Quota cannot be below 0
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="tier" class="col-sm-3 col-form-label">Tier</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" name="tier" [(ngModel)]="editForm.minTier" required #tier="ngModel">
                                                <option>gold</option>
                                                <option>silver</option>
                                                <option>bronze</option>
                                            </select>
                                        </div>
                                        <div class="alert-danger" *ngIf="f.submitted && tier.invalid">
                                            <div *ngIf="tier.errors.required">Tier is required</div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="startDate" class="col-sm-3 col-form-label">Start Date</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" id="startDate" type="text" placeholder="{{editForm.startDate}}" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="endDate" class="col-sm-3 col-form-label">End Date</label>
                                        <div class="col-sm-9">
                                            <p-calendar name="endDate" [(ngModel)]="editForm.endDate" dateFormat="yy-mm-dd" [showIcon]="true" [minDate]="minimumDate"
                                            [monthNavigator]="true" [yearNavigator]="true" yearRange="2020:2025" [style]="{'height':'40px'}" required #endDate="ngModel"></p-calendar>
                                        </div>
                                        <div class="alert-danger" *ngIf="f.submitted && endDate.invalid">
                                            <div *ngIf="endDate.errors.required">End date is required</div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="file" class="col-sm-3 col-form-label">Image</label>
                                        <form class="col-sm-9">
                                        <input type="file" name="file" (change)="selectImage($event)" />
                                        </form>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-6">
                                                <button type="submit" class="btn btn-primary btn-block">Update</button>
                                            </div>
                                            <div class="col-6">
                                                <button class="btn btn-secondary btn-block" (click)="cancelEdit()">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="rejected" role="tabpanel" aria-labelledby="rejected-tab">
        <div class="card">
            <p-dataView #rj [value]="rejected" [paginator]="true" [rows]="9" filterBy="title" [sortField]="sortField"
                [sortOrder]="sortOrder" layout="grid">
                <ng-template pTemplate="header">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
                        <p-dropdown [options]="countryOptions" [(ngModel)]="filterKeyCountryRej" placeholder="Filter By Country"
                            (onChange)="onFilterCountry($event, [(rr)])" styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
                        <!-- <p-dropdown [options]="sortOptions" [(ngModel)]="sortKeyMpw" placeholder="Sort By Date"
                            (onChange)="onSortChangeManpower($event)" styleClass="p-mb-2 p-mb-md-0"></p-dropdown> -->
                        <span class="p-input-icon-left p-mb-2 p-mb-md-0">
                            <i class="pi pi-search"></i>
                            <input type="search" pInputText placeholder="Search by Title" (input)="rj.filter($event.target.value)">
                        </span>
                    </div>
                </ng-template>
                <ng-template let-reward pTemplate="gridItem">
                    <div class="p-col-12 p-md-3">
                        <div class="product-grid-item card p-2">
                            <div class="product-grid-item-top">
                                <div class="small">Created at: {{formatDate(reward.createdAt)}}</div>
                            </div>
                            <div class="product-grid-item-content">
                                <img *ngIf="reward.imgPath.length == 0" src="../../../assets/img/rewardPlaceholder.png"
                                    class="img-fluid" style="width: 150px; height: 150px; object-fit: cover;" alt="Reward pic" />
                                <img *ngIf="reward.imgPath.length != 0" src="https://localhost:8080{{reward.imgPath}}"
                                    class="img-fluid" style="width: 150px; height: 150px; object-fit: cover;" alt="Reward pic" />
                                <div class="product-name">
                                    <button class="btn" data-toggle="modal" data-target="#ViewModalRej" (click)=getForm(reward)>
                                        {{reward.title}}
                                    </button>
                                </div>
                                <div>
                                    {{reward.country}}
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataView>

            <div class="modal fade" id="ViewModalRej" tabindex="-1" role="dialog" aria-labelledby="ViewModalRej" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ViewModalRej">View Reward</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <span class="product-category">{{editForm.country}}</span>
                            <span class="float-right">{{formatDate(editForm.createdAt)}}</span>
                            <br>
                            <img *ngIf="editForm.rewardImg.length == 0" src="../../../assets/img/rewardPlaceholder.png"
                                class="img-fluid" style="width: 500px; height: 200px; object-fit: cover;" alt="Reward pic" />
                            <img *ngIf="editForm.rewardImg.length != 0" src="https://localhost:8080{{editForm.rewardImg}}"
                                class="img-fluid" style="width: 500px; height: 200px; object-fit: cover;" alt="Reward pic" />
                            <br/><br/>
                            <h5>{{editForm.title}}
                                <span class="small float-right">&nbsp;Status: <span class="rejectedStatus rounded-pill text-white pl-2 pr-2">rejected</span>&nbsp;</span> 
                            </h5>
                            <div>Description: {{editForm.desc}}</div>
                            <div class="mt-md-2">
                                Created by
                                <span *ngIf="editForm.sponsorType == 'external'">
                                    external sponsor <b>{{editForm.externalName}}</b>
                                </span>
                                <span *ngIf="editForm.sponsorType != 'external'">
                                    <img *ngIf="editForm.accountImgPath.length == 0" src="../../../assets/img/profilePic_Placeholder.png"
                                        class="img-fluid rounded-circle mr-md-2" style="width: 80px; height: 80px; object-fit: cover;" alt="Profile pic" />
                                    <img *ngIf="editForm.accountImgPath.length > 0" src="https://localhost:8080{{editForm.accountImgPath}}"
                                        class="img-fluid rounded-circle mr-md-2" style="width: 60px; height: 60px; object-fit: cover;" alt="Profile pic" />
                                    <span *ngIf="editForm.sponsorType == 'user'">
                                        <a href="/profile?username={{editForm.accountUsername}}&userType=individual">{{editForm.accountName}}</a>
                                    </span>
                                    <span *ngIf="editForm.sponsorType == 'institution'">
                                        <a href="/profile?username={{editForm.accountUsername}}&userType=institution">{{editForm.accountName}}</a>
                                    </span>
                                </span>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    Point: {{editForm.point}} <br>
                                    Quota: {{editForm.quota}} <br>
                                    Tier: <span class="rounded-pill pl-2 pr-2 {{editForm.minTier}}">{{editForm.minTier}}</span>
                                </div>
                                <div class="col-6">
                                    Start Date: {{formatDate(editForm.startDate)}}<br/>
                                    End Date: {{formatDate(editForm.endDate)}}
                                </div>
                            </div>
                            Download verification file: <button pButton class="p-button-rounded" title="Download attachment" icon="pi pi-download" (click)="downloadAttachment(editForm.verifyFile)"></button>
                            <br><button class="btn btn-primary" (click)="viewAudit(editForm.id)">View Audit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="close" role="tabpanel" aria-labelledby="close-tab">
        <div class="card">
            <p-dataView #rj [value]="close" [paginator]="true" [rows]="9" filterBy="title" [sortField]="sortField"
                [sortOrder]="sortOrder" layout="grid">
                <ng-template pTemplate="header">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
                        <p-dropdown [options]="countryOptions" [(ngModel)]="filterKeyCountryClose" placeholder="Filter By Country"
                            (onChange)="onFilterCountry($event, [(cc)])" styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
                        <!-- <p-dropdown [options]="sortOptions" [(ngModel)]="sortKeyMpw" placeholder="Sort By Date"
                            (onChange)="onSortChangeManpower($event)" styleClass="p-mb-2 p-mb-md-0"></p-dropdown> -->
                        <span class="p-input-icon-left p-mb-2 p-mb-md-0">
                            <i class="pi pi-search"></i>
                            <input type="search" pInputText placeholder="Search by Title" (input)="rj.filter($event.target.value)">
                        </span>
                    </div>
                </ng-template>
                <ng-template let-reward pTemplate="gridItem">
                    <div class="p-col-12 p-md-3">
                        <div class="product-grid-item card p-2">
                            <div class="product-grid-item-top">
                                <div class="small">Created at: {{formatDate(reward.createdAt)}}</div>
                            </div>
                            <div class="product-grid-item-content">
                                <img *ngIf="reward.imgPath.length == 0" src="../../../assets/img/rewardPlaceholder.png"
                                    class="img-fluid" style="width: 150px; height: 150px; object-fit: cover;" alt="Reward pic" />
                                <img *ngIf="reward.imgPath.length != 0" src="https://localhost:8080{{reward.imgPath}}"
                                    class="img-fluid" style="width: 150px; height: 150px; object-fit: cover;" alt="Reward pic" />
                                <div class="product-name">
                                    <button class="btn" data-toggle="modal" data-target="#ViewModalClose" (click)=getForm(reward)>
                                        {{reward.title}}
                                    </button>
                                </div>
                                <div>{{reward.country}}</div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataView>

            <div class="modal fade" id="ViewModalClose" tabindex="-1" role="dialog" aria-labelledby="ViewModalClose" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ViewModalClose">View Reward</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <span class="product-category">{{editForm.country}}</span>
                            <span class="float-right">{{formatDate(editForm.createdAt)}}</span>
                            <br>
                            <img *ngIf="editForm.rewardImg.length == 0" src="../../../assets/img/rewardPlaceholder.png"
                                class="img-fluid" style="width: 500px; height: 200px; object-fit: cover;" alt="Reward pic" />
                            <img *ngIf="editForm.rewardImg.length != 0" src="https://localhost:8080{{editForm.rewardImg}}"
                                class="img-fluid" style="width: 500px; height: 200px; object-fit: cover;" alt="Reward pic" />
                            <br/><br/>
                            <h5>{{editForm.title}}
                                <span class="small float-right">&nbsp;Status: <span class="expiredStatus rounded-pill pl-2 pr-2 text-white">expired</span>&nbsp;</span>
                            </h5>
                            <div>Description: {{editForm.desc}}</div>
                            <div class="mt-md-2">
                                Created by
                                <span *ngIf="editForm.sponsorType == 'external'">
                                    external sponsor <b>{{editForm.externalName}}</b>
                                </span>
                                <span *ngIf="editForm.sponsorType != 'external'">
                                    <img *ngIf="editForm.accountImgPath.length == 0" src="../../../assets/img/profilePic_Placeholder.png"
                                        class="img-fluid rounded-circle mr-md-2" style="width: 80px; height: 80px; object-fit: cover;" alt="Profile pic" />
                                    <img *ngIf="editForm.accountImgPath.length > 0" src="https://localhost:8080{{editForm.accountImgPath}}"
                                        class="img-fluid rounded-circle mr-md-2" style="width: 60px; height: 60px; object-fit: cover;" alt="Profile pic" />
                                    <span *ngIf="editForm.sponsorType == 'user'">
                                        <a href="/profile?username={{editForm.accountUsername}}&userType=individual">{{editForm.accountName}}</a>
                                    </span>
                                    <span *ngIf="editForm.sponsorType == 'institution'">
                                        <a href="/profile?username={{editForm.accountUsername}}&userType=institution">{{editForm.accountName}}</a>
                                    </span>
                                </span>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    Point: {{editForm.point}} <br>
                                    Quota: {{editForm.quota}} <br>
                                    Tier: <span class="rounded-pill pl-2 pr-2 {{editForm.minTier}}">{{editForm.minTier}}</span>
                                </div>
                                <div class="col-6">
                                    Start Date: {{formatDate(editForm.startDate)}}<br/>
                                    End Date: {{formatDate(editForm.endDate)}}
                                </div>
                            </div>
                            Download verification file: <button pButton class="p-button-rounded" title="Download attachment" icon="pi pi-download" (click)="downloadAttachment(editForm.verifyFile)"></button>
                            <br><button class="btn btn-primary" (click)="viewAudit(editForm.id)">View Audit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

