<h1>Admin Management</h1>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="search-tab" data-toggle="tab" href="#search" role="tab" aria-controls="search" aria-selected="true">Search</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="adminLeads-tab" data-toggle="tab" href="#adminLeads" role="tab" aria-controls="adminLeads" aria-selected="false">Admin Leads</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="admins-tab" data-toggle="tab" href="#admins" role="tab" aria-controls="admins" aria-selected="false">Admins</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="regionalAdmins-tab" data-toggle="tab" href="#regionalAdmins" role="tab" aria-controls="regionalAdmins" aria-selected="false">Regional Admins</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="search" role="tabpanel" aria-labelledby="search-tab">
      <form
        name="form"
        (ngSubmit)="f.form.valid && searchUsers()"
        #f="ngForm"
        novalidate
      >
        <div class="form-group">
            <input
              type="text"
              class="form-control"
              name="search"
              [(ngModel)]="keyword"
              #search="ngModel"
              placeholder="Search"
            />
            <button class="btn btn-primary" (click)=searchUsers()>Search</button>
        </div>
      </form>

      <div class="alert alert-warning" *ngIf="f.submitted && !isSearchSuccessful">
          {{ errorMsgSearch }}
      </div>
      <div *ngIf=isSearchSuccessful>
        <div *ngFor="let user of searchResults">
            <div class="card">
                <div class="card-body">
                    <div *ngIf="user.profilePic.length > 0">
                        <img
                          src={{user.profilePic}}
                          class="rounded-circle img-fluid"
                          style="width: 80px; height: 80px; object-fit: cover;"
                          alt="Profile picture"
                        />
                    </div>
                    <div *ngIf="user.profilePic.length == 0">
                        <img
                          src="../../assets/img/profilePic_Placeholder.png"
                          class="rounded-circle img-fluid"
                          style="width: 90px; height: 90px; object-fit: cover;"
                          alt="Profile picture"
                        />
                    </div>
                    {{user.name}} <br/>
                    {{user.username}}
                    <div class="dropdown float-right">
                      <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Assign role
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item btn" (click)=assignAdminLead(user.id)>Admin Lead</a>
                        <a class="dropdown-item btn" (click)=assignAdmin(user.id)>Admin</a>
                        <a class="dropdown-item btn" (click)=assignRegionalAdmin(user.id)>Regional Admin</a>
                        <a class="dropdown-item btn" (click)=assignUser(user.id)>User</a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="adminLeads" role="tabpanel" aria-labelledby="adminLeads-tab">
        <div *ngFor="let c of adminLeads">
            <div class="card">
                <div class="card-body">
                    <div *ngIf="c.profilePic.length > 0">
                        <img
                          src={{c.profilePic}}
                          class="rounded-circle img-fluid"
                          style="width: 80px; height: 80px; object-fit: cover;"
                          alt="Profile picture"
                        />
                    </div>
                    <div *ngIf="c.profilePic.length == 0">
                        <img
                          src="../../../assets/img/profilePic_Placeholder.png"
                          class="rounded-circle img-fluid"
                          style="width: 80px; height: 80px; object-fit: cover;"
                          alt="Profile picture"
                        />
                    </div>
                    {{c.name}} <br/>
                    {{c.username}}
                    <div class="dropdown float-right">
                      <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Assign role
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item btn" (click)=assignAdmin(c.id)>Admin</a>
                        <a class="dropdown-item btn" (click)=assignRegionalAdmin(c.id)>Regional Admin</a>
                        <a class="dropdown-item btn" (click)=assignUser(c.id)>User</a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="admins" role="tabpanel" aria-labelledby="admins-tab">
        <div *ngFor="let a of admins">
            <div class="card">
                <div class="card-body">
                    <div *ngIf="a.profilePic.length > 0">
                        <img
                          src={{a.profilePic}}
                          class="rounded-circle img-fluid"
                          style="width: 80px; height: 80px; object-fit: cover;"
                          alt="Profile picture"
                        />
                    </div>
                    <div *ngIf="a.profilePic.length == 0">
                        <img
                          src="../../../assets/img/profilePic_Placeholder.png"
                          class="rounded-circle img-fluid"
                          style="width: 80px; height: 80px; object-fit: cover;"
                          alt="Profile picture"
                        />
                    </div>
                    {{a.name}} <br/>
                    {{a.username}}
                    <div class="dropdown float-right">
                      <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Assign role
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item btn" (click)=assignAdminLead(a.id)>Admin Lead</a>
                        <a class="dropdown-item btn" (click)=assignRegionalAdmin(a.id)>Regional Admin</a>
                        <a class="dropdown-item btn" (click)=assignUser(a.id)>User</a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="regionalAdmins" role="tabpanel" aria-labelledby="regionalAdmins-tab">
        <div *ngFor="let r of regionalAdmins">
            <div class="card">
                <div class="card-body">
                    <div *ngIf="r.profilePic.length > 0">
                        <img
                          src={{r.profilePic}}
                          class="rounded-circle img-fluid"
                          style="width: 80px; height: 80px; object-fit: cover;"
                          alt="Profile picture"
                        />
                    </div>
                    <div *ngIf="r.profilePic.length == 0">
                        <img
                          src="../../../assets/img/profilePic_Placeholder.png"
                          class="rounded-circle img-fluid"
                          style="width: 80px; height: 80px; object-fit: cover;"
                          alt="Profile picture"
                        />
                    </div>
                    {{r.name}} <br/>
                    {{r.username}}
                    <div class="dropdown float-right">
                      <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Assign role
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item btn" (click)=assignAdminLead(r.id)>Admin Lead</a>
                        <a class="dropdown-item btn" (click)=assignAdmin(r.id)>Admin</a>
                        <a class="dropdown-item btn" (click)=assignUser(r.id)>User</a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


