<h1>Admin Management</h1>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="search-tab" data-toggle="tab" href="#search" role="tab" aria-controls="search" aria-selected="true">Search</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="adminLeads-tab" data-toggle="tab" href="#adminLeads" role="tab" aria-controls="adminLeads" aria-selected="false">Admin Leads</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="admins-tab" data-toggle="tab" href="#admins" role="tab" aria-controls="admins" aria-selected="false">Admins</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="regionalAdmins-tab" data-toggle="tab" href="#regionalAdmins" role="tab" aria-controls="regionalAdmins" aria-selected="false">Regional Admins</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="search" role="tabpanel" aria-labelledby="search-tab">Test</div>
    <div class="tab-pane fade" id="adminLeads" role="tabpanel" aria-labelledby="adminLeads-tab">
        <div *ngFor="let c of adminLeads">
            <div class="card">
                <div class="card-body">
                    <div *ngIf="c.profilePic.length > 0">
                        <img
                          src={{c.profilePic}}
                          class="rounded-circle img-fluid"
                          style="width: 80px; height: 80px; object-fit: cover;"
                          alt="Profile picture"
                        />
                    </div>
                    <div *ngIf="c.profilePic.length == 0">
                        <img
                          src="../../../assets/img/profilePic_Placeholder.png"
                          class="rounded-circle img-fluid"
                          style="width: 80px; height: 80px; object-fit: cover;"
                          alt="Profile picture"
                        />
                    </div>
                    {{c.name}} <br/>
                    {{c.username}}
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="admins" role="tabpanel" aria-labelledby="admins-tab">
        <div *ngFor="let a of admins">
            <div class="card">
                <div class="card-body">
                    <div *ngIf="a.profilePic.length > 0">
                        <img
                          src={{a.profilePic}}
                          class="rounded-circle img-fluid"
                          style="width: 80px; height: 80px; object-fit: cover;"
                          alt="Profile picture"
                        />
                    </div>
                    <div *ngIf="a.profilePic.length == 0">
                        <img
                          src="../../../assets/img/profilePic_Placeholder.png"
                          class="rounded-circle img-fluid"
                          style="width: 80px; height: 80px; object-fit: cover;"
                          alt="Profile picture"
                        />
                    </div>
                    {{a.name}} <br/>
                    {{a.username}}
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="regionalAdmins" role="tabpanel" aria-labelledby="regionalAdmins-tab">
        <div *ngFor="let r of regionalAdmins">
            <div class="card">
                <div class="card-body">
                    <div *ngIf="r.profilePic.length > 0">
                        <img
                          src={{r.profilePic}}
                          class="rounded-circle img-fluid"
                          style="width: 80px; height: 80px; object-fit: cover;"
                          alt="Profile picture"
                        />
                    </div>
                    <div *ngIf="r.profilePic.length == 0">
                        <img
                          src="../../../assets/img/profilePic_Placeholder.png"
                          class="rounded-circle img-fluid"
                          style="width: 80px; height: 80px; object-fit: cover;"
                          alt="Profile picture"
                        />
                    </div>
                    {{r.name}} <br/>
                    {{r.username}}
                </div>
            </div>
        </div>
    </div>
</div>


