<h1>Admin Management</h1>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="search-tab" data-toggle="tab" href="#search" role="tab" aria-controls="search" aria-selected="true">Search</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="adminLeads-tab" data-toggle="tab" href="#adminLeads" role="tab" aria-controls="adminLeads" aria-selected="false">Admin Leads</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="admins-tab" data-toggle="tab" href="#admins" role="tab" aria-controls="admins" aria-selected="false">Admins</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="regionalAdmins-tab" data-toggle="tab" href="#regionalAdmins" role="tab" aria-controls="regionalAdmins" aria-selected="false">Regional Admins</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="search" role="tabpanel" aria-labelledby="search-tab">
      <form
        name="form"
        (ngSubmit)="f.form.valid && searchUsers()"
        #f="ngForm"
        novalidate
      >
        <div class="form-group row" style="width: 60%">
          <div class="col-10">
            <input
              type="text"
              class="form-control"
              name="search"
              [(ngModel)]="keyword"
              #search="ngModel"
              placeholder="Enter a username"
            />
          </div>
          <div class="col">
            <button class="btn btn-primary" (click)=searchUsers()>
              <fa-icon [icon]="faSearch" size="1x"></fa-icon>
            </button>
          </div>
        </div>
      </form>

      <div class="alert alert-warning" style="width: 60%;" *ngIf="f.submitted && !isSearchSuccessful">
          {{ errorMsgSearch }}
      </div>
      <div *ngIf=isSearchSuccessful>
        <select class="form-control" style="width: 30%;" [(ngModel)]="filterUserCountryKey" (change)="filterUsersByCountry()">
          <option hidden selected>{{filterUserCountryKey}}</option>
          <option *ngFor="let c of countries" value={{c}}>{{c}}</option>
        </select>
        <div class="alert alert-warning" style="width: 30%;" *ngIf="searchResults.length == 0">
          No user found in this country
        </div>
        <div *ngFor="let user of searchResults">
            <div class="card" style="width: 70%">
                <div class="card-body row">
                  <div class="col-3">
                    <div *ngIf="user.profilePic.length > 0">
                        <img
                          src={{user.profilePic}}
                          class="rounded-circle img-fluid"
                          style="width: 80px; height: 80px; object-fit: cover;"
                          alt="Profile picture"
                        />
                    </div>
                    <div *ngIf="user.profilePic.length == 0">
                        <img
                          src="../../assets/img/profilePic_Placeholder.png"
                          class="rounded-circle img-fluid"
                          style="width: 90px; height: 90px; object-fit: cover;"
                          alt="Profile picture"
                        />
                    </div>
                  </div>
                  <div class="col-5">
                    Name: <a *ngIf="user.username != thisUser.username" href="/profile?username={{user.username}}&userType=individual" target="_blank">{{user.name}}<br/></a> 
                    <a *ngIf="user.username == thisUser.username" href="/ownProfile" target="_blank">{{user.name}}<br/></a> 
                    Username: {{user.username}} <br/>
                    Role: {{user.role}} <br/>
                    Country: {{user.country}}
                  </div>
                  <div class="col-4">
                    <div class="dropdown float-right" *ngIf="user.username != thisUser.username">
                      <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Assign role
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item btn" (click)=assignAdminLead(user.id)>Admin Lead</a>
                        <a class="dropdown-item btn" (click)=assignAdmin(user.id)>Admin</a>
                        <a class="dropdown-item btn" (click)=assignRegionalAdmin(user.id)>Regional Admin</a>
                        <a class="dropdown-item btn" (click)=assignUser(user.id)>User</a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="adminLeads" role="tabpanel" aria-labelledby="adminLeads-tab">
        <select class="form-control" style="width: 30%;" [(ngModel)]="filterAdminLeadsCountryKey" (change)="filterAdminLeadsByCountry()">
          <option hidden selected>{{filterAdminLeadsCountryKey}}</option>
          <option *ngFor="let c of countries" value={{c}}>{{c}}</option>
        </select>
        <div class="alert alert-warning" style="width: 30%;" *ngIf="adminLeads.length == 0">
          No admin leads in this country
        </div>
        <div *ngFor="let c of adminLeads">
            <div class="card" style="width: 70%">
                <div class="card-body row">
                  <div class="col-3">
                    <div *ngIf="c.profilePic.length > 0">
                        <img
                          src={{c.profilePic}}
                          class="rounded-circle img-fluid"
                          style="width: 80px; height: 80px; object-fit: cover;"
                          alt="Profile picture"
                        />
                    </div>
                    <div *ngIf="c.profilePic.length == 0">
                        <img
                          src="../../../assets/img/profilePic_Placeholder.png"
                          class="rounded-circle img-fluid"
                          style="width: 80px; height: 80px; object-fit: cover;"
                          alt="Profile picture"
                        />
                    </div>
                  </div>
                  <div class="col-5">
                    <a href="/profile?username={{c.username}}&userType=individual" target="_blank">{{c.name}}</a> ({{c.username}}) <br/> 
                    <div class="text-secondary">{{c.role}}</div>
                    <div class="text-secondary">{{c.country}}</div>
                  </div>
                  <div class="col-4">
                    <div class="dropdown float-right" *ngIf="c.username != thisUser.username">
                      <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Assign role
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item btn" (click)=assignAdmin(c.id)>Admin</a>
                        <a class="dropdown-item btn" (click)=assignRegionalAdmin(c.id)>Regional Admin</a>
                        <a class="dropdown-item btn" (click)=assignUser(c.id)>User</a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="admins" role="tabpanel" aria-labelledby="admins-tab">
        <select class="form-control" style="width: 30%;" [(ngModel)]="filterAdminsCountryKey" (change)="filterAdminsByCountry()">
          <option hidden selected>{{filterAdminsCountryKey}}</option>
          <option *ngFor="let c of countries" value={{c}}>{{c}}</option>
        </select>
        <div class="alert alert-warning" style="width: 30%;" *ngIf="admins.length == 0">
          No admins in this country
        </div>
        <div *ngFor="let a of admins">
            <div class="card" style="width: 70%">
                <div class="card-body row">
                  <div class="col-3">
                    <div *ngIf="a.profilePic.length > 0">
                        <img
                          src={{a.profilePic}}
                          class="rounded-circle img-fluid"
                          style="width: 80px; height: 80px; object-fit: cover;"
                          alt="Profile picture"
                        />
                    </div>
                    <div *ngIf="a.profilePic.length == 0">
                        <img
                          src="../../../assets/img/profilePic_Placeholder.png"
                          class="rounded-circle img-fluid"
                          style="width: 80px; height: 80px; object-fit: cover;"
                          alt="Profile picture"
                        />
                    </div>
                  </div>
                  <div class="col-5">
                    <a href="/profile?username={{a.username}}&userType=individual" target="_blank">{{a.name}}</a> ({{a.username}}) <br/>
                    <div class="text-secondary">{{a.role}}</div>
                    <div class="text-secondary">{{a.country}}</div>
                  </div>
                  <div class="col-4">
                    <div class="dropdown float-right">
                      <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Assign role
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item btn" (click)=assignAdminLead(a.id)>Admin Lead</a>
                        <a class="dropdown-item btn" (click)=assignRegionalAdmin(a.id)>Regional Admin</a>
                        <a class="dropdown-item btn" (click)=assignUser(a.id)>User</a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="regionalAdmins" role="tabpanel" aria-labelledby="regionalAdmins-tab">
        <select class="form-control" style="width: 30%;" [(ngModel)]="filterRegionalAdminsCountryKey" (change)="filterRegionalAdminsByCountry()">
          <option hidden selected>{{filterRegionalAdminsCountryKey}}</option>
          <option *ngFor="let c of countries" value={{c}}>{{c}}</option>
        </select>
        <div class="alert alert-warning" style="width: 30%;" *ngIf="regionalAdmins.length == 0">
          No regional admins in this country
        </div>
        <div *ngFor="let r of regionalAdmins">
            <div class="card" style="width: 70%">
                <div class="card-body row">
                  <div class="col-3">
                    <div *ngIf="r.profilePic.length > 0">
                        <img
                          src={{r.profilePic}}
                          class="rounded-circle img-fluid"
                          style="width: 80px; height: 80px; object-fit: cover;"
                          alt="Profile picture"
                        />
                    </div>
                    <div *ngIf="r.profilePic.length == 0">
                        <img
                          src="../../../assets/img/profilePic_Placeholder.png"
                          class="rounded-circle img-fluid"
                          style="width: 80px; height: 80px; object-fit: cover;"
                          alt="Profile picture"
                        />
                    </div>
                  </div>
                  <div class="col-5">
                    <a href="/profile?username={{r.username}}&userType=individual" target="_blank">{{r.name}}</a> ({{r.username}}) <br/>
                    <div class="text-secondary">{{r.role}}</div>
                    <div class="text-secondary">{{r.country}}</div>
                  </div>
                  <div class="col-4">
                    <div class="dropdown float-right">
                      <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Assign role
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item btn" (click)=assignAdminLead(r.id)>Admin Lead</a>
                        <a class="dropdown-item btn" (click)=assignAdmin(r.id)>Admin</a>
                        <a class="dropdown-item btn" (click)=assignUser(r.id)>User</a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>


