<h2>Resource details</h2>

<p-toast key="toastMsg" [baseZIndex]="100"></p-toast>

<div *ngIf="!isDeleted && resource.status !== 'deleted'" class="row">
    <div class="col-8">
        <div *ngIf="type == 'item'">
            <img *ngIf="resource.imgPath.length == 0" src="../../../assets/img/{{type}}.png" class="img-fluid" height="200" width="300" [alt]="resource.title"/>
            <img *ngIf="resource.imgPath.length != 0" src="https://localhost:8080{{resource.imgPath}}" class="img-fluid" height="200" width="300" [alt]="resource.title"/>
        </div>
        <div *ngIf="type == 'venue'">
            <!-- <p-carousel *ngIf="resource.imgPath.length > 0" [value]="resource.imgPath">
                <ng-template let-img pTemplate="item">
                    <img src="https://localhost:8080{{img}}" class="img-fluid" style="width: 500px; height:400px; object-fit: cover;">
                </ng-template>
            </p-carousel> -->
            <p-galleria #galleria [(value)]="venueImages" [responsiveOptions]="responsiveOptions" [(activeIndex)]="activeIndex" [numVisible]="5" [containerStyle]="{'max-width':'640px'}" [containerClass]="galleriaClass()" [showThumbnails]="showThumbnails"
                [showItemNavigators]="true" [showItemNavigatorsOnHover]="true" [circular]="true" [autoPlay]="true" [transitionInterval]="3000"> 
                <ng-template pTemplate="item" let-item>
                    <img [src]="item" [ngStyle]="{'width': !fullscreen ? '100%' : '', 'display': !fullscreen ? 'block' : ''}" />
                </ng-template>
                <ng-template pTemplate="thumbnail" let-item>
                    <div class="p-grid p-nogutter p-justify-center">
                        <img [src]="item" class="img-fluid" width="100" height="100" />
                    </div>
                </ng-template>
                <ng-template pTemplate="footer" let-item>
                    <div class="custom-galleria-footer">
                        <button type="button" pButton icon="pi pi-list" (click)="onThumbnailButtonClick()"></button>
                        <span *ngIf="venueImages"  class="title-container">
                            <span>{{activeIndex + 1}}/{{venueImages.length}}</span>
                            <span class="title">Picture {{activeIndex+1}}</span>
                        </span>
                        <button type="button" pButton [icon]="fullScreenIcon()" (click)="toggleFullScreen()" class="fullscreen-button"></button>
                    </div>
                </ng-template>
            </p-galleria>
            <div *ngIf="resource.imgPath.length == 0">
                <img src="../../../assets/img/venue.png" class="img-fluid" style="width: 300px; height:300px; object-fit: cover;">
            </div>
        </div>
        <div *ngIf="type == 'manpower'">
            <img *ngIf="owner.profilePic.length == 0" src="../../../assets/img/profilePic_Placeholder.png" class="img-fluid" height="250" width="250" [alt]="resource.title"/>
            <img *ngIf="owner.profilePic.length != 0" src="{{owner.profilePic}}" class="img-fluid" height="250" width="250" [alt]="resource.title"/>
        </div>
        <div *ngIf="type == 'knowledge'" class="row mt-md-1 p-2 bg-secondary">
            <div class="col-8">
            <div *ngFor="let o of owner; let i = index" style="display: inline-block; width: 20%;">
                <div *ngIf="i<3">
                    <div class="mr-md-2">
                        <img *ngIf="o.profilePic.length == 0" src="../../../assets/img/profilePic_Placeholder.png" class="img-fluid rounded-circle" style="height: 70px; width: 70px; object-fit: cover;" alt="Profile pic"/>
                        <img *ngIf="o.profilePic.length != 0" src="{{o.profilePic}}" class="img-fluid rounded-circle" style="height: 70px; width: 70px; object-fit: cover;" alt="Profile pic"/> 
                    </div>
                </div>
            </div>
            <div *ngIf="owner.length == 1" class="mt-md-1 text-light" style="display: inline-block;">
                Written by <div *ngIf="owner[0].role" style="display: inline-block;">
                    <a href="/profile?username={{owner[0].username}}&userType=individual" target="_blank">{{owner[0].name}}</a>
                    ({{owner[0].username}})
                </div>
                <div *ngIf="owner[0].members" style="display: inline-block;" class="ml-md-2">
                    <a href="/profile?username={{owner[0].username}}&userType=institution" target="_blank">{{owner[0].name}}</a>
                    ({{owner[0].username}})
                </div>
            </div>
            </div>
            <div class="col-4 mt-md-1 text-light">
                {{formatDate(resource.updatedAt)}}
            </div>
            <div *ngIf="owner.length > 1">
                <a class="btn text-light" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Written by <u>{{owner[0].name}} and {{owner.length - 1}} others</u>
                </a>
                <div class="collapse" id="collapseExample" style="width: 100%;">
                    <div class="card card-body">
                        <div *ngFor="let os of owner">
                            <img *ngIf="os.profilePic.length == 0" src="../../../assets/img/profilePic_Placeholder.png" class="img-fluid rounded-circle" style="height: 70px; width: 70px; object-fit: cover;" alt="Profile pic"/>
                            <img *ngIf="os.profilePic.length != 0" src="{{os.profilePic}}" class="img-fluid rounded-circle border" style="height: 70px; width: 70px; object-fit: cover;" alt="Profile pic"/> 
                            <div *ngIf="os.role" style="display: inline-block;" class="ml-md-2">
                                <a href="/profile?username={{os.username}}&userType=individual" target="_blank">{{os.name}}</a>
                                ({{os.username}})
                            </div>
                            <div *ngIf="os.members" style="display: inline-block;" class="ml-md-2">
                                <a href="/profile?username={{os.username}}&userType=institution" target="_blank">{{os.name}}</a>
                                ({{os.username}})
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="type == 'item' || type == 'manpower' || type == 'venue'" class="row mt-md-1 p-2 bg-secondary">
            <div class="col-2">
                <div *ngIf="owner.profilePic.length == 0">
                    <img  src="../../../assets/img/profilePic_Placeholder.png" class="img-fluid rounded-circle" style="height: 70px; width: 70px; object-fit: cover;" alt="Profile pic"/>
                
                </div>
                <div *ngIf="owner.profilePic.length != 0">
                    <img  src="{{owner.profilePic}}" class="img-fluid rounded-circle" style="height: 70px; width: 70px; object-fit: cover;" alt="Profile pic"/>
                </div>
                
            </div>
            <div class="col-6 mt-md-1 text-light">
                <div *ngIf="owner.role">
                    <a href="/profile?username={{owner.username}}&userType=individual" target="_blank">{{owner.name}}</a>
                </div>
                <div *ngIf="owner.members">
                    <a href="/profile?username={{owner.username}}&userType=institution" target="_blank">{{owner.name}}</a>
                </div>
                {{owner.username}}
            </div>
            <div class="col-4 mt-md-1 text-light">
                {{formatDate(resource.updatedAt)}}
            </div>
        </div>
        <div class="row mt-md-1 p-2 bg-light">
            <div class="col-8">
                <h5>{{resource.title}}</h5>
                <div *ngIf="type =='venue'" class="mb-md-1">{{resource.address}}</div>
                <h6 class="text-secondary">{{resource.desc}}</h6>
                <h6 *ngIf="type != 'knowledge'" class="text-secondary">Country: {{resource.country}}</h6>
                <h6 *ngIf="type =='knowledge'" class="text-secondary">
                    <span *ngIf="resource.attachment.length == 0">Attachment: -</span>
                    <span *ngIf="resource.attachment.length > 0">Attachment: {{attachmentPath}}</span>
                    <span *ngIf="resource.attachment.length > 0" class="ml-md-2">
                        <button pButton class="p-button-rounded" title="Download attachment" icon="pi pi-download" (click)="downloadAttachment(resource.attachment)"></button>
                    </span>
                </h6>
                
                <h6 class="text-secondary">Status: {{resource.status}}</h6>
                <p-inputSwitch *ngIf="isOwner" [ngModel]="checkStatus()" (onChange)="handleChangeChecked($event)"></p-inputSwitch>
                    
            </div>
            <div class="col-4">
                <div class="float-right">
                    <i class="pi pi-tag"></i>
                    <span class="{{type}}type rounded-sm text-white">&nbsp;{{type}}&nbsp;</span>
                </div>
                <br/>
                <div *ngIf="isOwner" class="float-right mt-md-2">
                    <a href="/resource/editDetails?id={{resource.id}}&type={{type}}" class="btn btn-primary float-right"><i class="pi pi-pencil"></i>Edit</a>
                    <button class="btn btn-danger float-right" (click)="deleteResource()"><i class="pi pi-trash"></i>Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="isOwner" class="col-4">
        <button class="btn btn-primary">Suggest projects</button>
        <div class="card">
            <div class="card-header">
                Suggested projects
            </div>
            <div class="card-body">
                Proj 1
            </div>
        </div>
    </div>
    <div *ngIf="!isOwner" class="col-4">
        <button class="btn btn-primary">Request</button>
    </div>
</div>

<div *ngIf="isDeleted || resource.status == 'deleted'">
    <div class="alert alert-info">
        Resource has been deleted.
    </div>
</div>