<h2>Resource details</h2>

<p-toast key="toastMsg" [baseZIndex]="100"></p-toast>

<div *ngIf="!isDeleted && resource.status !== 'deleted'" class="row">
    <div class="col-8">
        <!-- <div *ngIf="type == 'item'">
            <img *ngIf="resource.imgPath.length == 0" src="../../../assets/img/{{type}}.png" class="img-fluid" height="200" width="300" [alt]="resource.title"/>
            <img *ngIf="resource.imgPath.length != 0" src="https://localhost:8080{{resource.imgPath}}" class="img-fluid" height="200" width="300" [alt]="resource.title"/>
        </div> -->
        <div *ngIf="type == 'venue' || type == 'item'">
            <!-- <p-carousel *ngIf="resource.imgPath.length > 0" [value]="resource.imgPath">
                <ng-template let-img pTemplate="item">
                    <img src="https://localhost:8080{{img}}" class="img-fluid" style="width: 500px; height:400px; object-fit: cover;">
                </ng-template>
            </p-carousel> -->
            <p-galleria #galleria [(value)]="itemVenueImages" [responsiveOptions]="responsiveOptions" [(activeIndex)]="activeIndex" [numVisible]="5" [containerStyle]="{'max-width':'640px'}" [containerClass]="galleriaClass()" [showThumbnails]="showThumbnails"
                [showItemNavigators]="true" [showItemNavigatorsOnHover]="true" [circular]="true" [autoPlay]="true" [transitionInterval]="3000"> 
                <ng-template pTemplate="item" let-item>
                    <img [src]="item" [ngStyle]="{'width': !fullscreen ? '100%' : '', 'display': !fullscreen ? 'block' : ''}" />
                </ng-template>
                <ng-template pTemplate="thumbnail" let-item>
                    <div class="p-grid p-nogutter p-justify-center">
                        <img [src]="item" class="img-fluid" width="100" height="100" />
                    </div>
                </ng-template>
                <ng-template pTemplate="footer" let-item>
                    <div class="custom-galleria-footer">
                        <button type="button" pButton icon="pi pi-list" (click)="onThumbnailButtonClick()"></button>
                        <span *ngIf="itemVenueImages"  class="title-container">
                            <span>{{activeIndex + 1}}/{{itemVenueImages.length}}</span>
                            <span class="title">Picture {{activeIndex+1}}</span>
                        </span>
                        <button type="button" pButton [icon]="fullScreenIcon()" (click)="toggleFullScreen()" class="fullscreen-button"></button>
                    </div>
                </ng-template>
            </p-galleria>
            <div *ngIf="resource.imgPath.length == 0">
                <img *ngIf="type == 'venue'" src="../../../assets/img/venue.png" class="img-fluid" style="width: 300px; height:300px; object-fit: cover;">
                <img *ngIf="type == 'item'" src="../../../assets/img/item.png" class="img-fluid" style="width: 300px; height: 300px; object-fit: cover;">
            </div>
        </div>
        <div *ngIf="type == 'manpower'">
            <img *ngIf="owner.profilePic.length == 0" src="../../../assets/img/profilePic_Placeholder.png" class="img-fluid" height="250" width="250" [alt]="resource.title"/>
            <img *ngIf="owner.profilePic.length != 0" src="{{owner.profilePic}}" class="img-fluid" height="250" width="250" [alt]="resource.title"/>
        </div>
        <div *ngIf="type == 'knowledge'" class="row mt-md-1 p-2 bg-secondary">
            <div class="col-8">
            <div *ngFor="let o of owner; let i = index" style="display: inline-block; width: 20%;">
                <div *ngIf="i<3">
                    <div class="mr-md-2">
                        <img *ngIf="o.profilePic.length == 0" src="../../../assets/img/profilePic_Placeholder.png" class="img-fluid rounded-circle" style="height: 70px; width: 70px; object-fit: cover;" alt="Profile pic"/>
                        <img *ngIf="o.profilePic.length != 0" src="{{o.profilePic}}" class="img-fluid rounded-circle" style="height: 70px; width: 70px; object-fit: cover;" alt="Profile pic"/> 
                    </div>
                </div>
            </div>
            <div *ngIf="owner.length == 1" class="mt-md-1 text-light" style="display: inline-block;">
                Written by <div *ngIf="owner[0].role" style="display: inline-block;">
                    <a href="/profile?username={{owner[0].username}}&userType=individual" target="_blank">{{owner[0].name}}</a>
                    ({{owner[0].username}})
                </div>
                <div *ngIf="owner[0].members" style="display: inline-block;" class="ml-md-2">
                    <a href="/profile?username={{owner[0].username}}&userType=institution" target="_blank">{{owner[0].name}}</a>
                    ({{owner[0].username}})
                </div>
            </div>
            </div>
            <div class="col-4 mt-md-1 text-light">
                Last modified: {{formatDate(resource.updatedAt)}}
                <button *ngIf="isOwner" class="btn btn-light float-right" data-toggle="modal" data-target="#suggestModal">Suggest projects</button>
            </div>
            <div *ngIf="owner.length > 1">
                <a class="btn text-light" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Written by <u>{{owner[0].name}} and {{owner.length - 1}} others</u>
                </a>
                <div class="collapse" id="collapseExample" style="width: 100%;">
                    <div class="card card-body">
                        <div *ngFor="let os of owner">
                            <img *ngIf="os.profilePic.length == 0" src="../../../assets/img/profilePic_Placeholder.png" class="img-fluid rounded-circle" style="height: 70px; width: 70px; object-fit: cover;" alt="Profile pic"/>
                            <img *ngIf="os.profilePic.length != 0" src="{{os.profilePic}}" class="img-fluid rounded-circle border" style="height: 70px; width: 70px; object-fit: cover;" alt="Profile pic"/> 
                            <div *ngIf="os.role" style="display: inline-block;" class="ml-md-2">
                                <a href="/profile?username={{os.username}}&userType=individual" target="_blank">{{os.name}}</a>
                                ({{os.username}})
                            </div>
                            <div *ngIf="os.members" style="display: inline-block;" class="ml-md-2">
                                <a href="/profile?username={{os.username}}&userType=institution" target="_blank">{{os.name}}</a>
                                ({{os.username}})
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="type == 'item' || type == 'manpower' || type == 'venue'" class="row mt-md-1 p-2 bg-secondary">
            <div class="col-2">
                <div *ngIf="owner.profilePic.length == 0">
                    <img  src="../../../assets/img/profilePic_Placeholder.png" class="img-fluid rounded-circle" style="height: 70px; width: 70px; object-fit: cover;" alt="Profile pic"/>
                
                </div>
                <div *ngIf="owner.profilePic.length != 0">
                    <img  src="{{owner.profilePic}}" class="img-fluid rounded-circle" style="height: 70px; width: 70px; object-fit: cover;" alt="Profile pic"/>
                </div>
                
            </div>
            <div class="col-6 mt-md-1 text-light">
                <div *ngIf="owner.role">
                    <a href="/profile?username={{owner.username}}&userType=individual" target="_blank">{{owner.name}}</a>
                </div>
                <div *ngIf="owner.members">
                    <a href="/profile?username={{owner.username}}&userType=institution" target="_blank">{{owner.name}}</a>
                </div>
                {{owner.username}}
            </div>
            <div class="col-4 mt-md-1 text-light">
                Last modified: {{formatDate(resource.updatedAt)}}
                <button *ngIf="isOwner" class="btn btn-light float-right" data-toggle="modal" data-target="#suggestModal">Suggest projects</button>
            </div>
        </div>
        <div class="row mt-md-1 p-2 bg-light">
            <div class="col-8">
                <h5>{{resource.title}}</h5>
                <div *ngIf="type =='venue'" class="mb-md-1">{{resource.address}}</div>
                <h6 class="text-secondary">{{resource.desc}}</h6>
                <h6 *ngIf="type != 'knowledge'" class="text-secondary">Country: {{resource.country}}</h6>
                <h6 *ngIf="type =='knowledge'" class="text-secondary">
                    <span *ngIf="resource.attachment.length == 0">Attachment: -</span>
                    <span *ngIf="resource.attachment.length > 0">Attachment: {{attachmentPath}}</span>
                    <span *ngIf="resource.attachment.length > 0" class="ml-md-2">
                        <button pButton class="p-button-rounded" title="Download attachment" icon="pi pi-download" (click)="downloadAttachment(resource.attachment)"></button>
                    </span>
                </h6>
                
                <h6 class="text-secondary">Status: {{resource.status}}</h6>
                <p-inputSwitch *ngIf="isOwner" [ngModel]="checkStatus()" (onChange)="handleChangeChecked($event)"></p-inputSwitch>
                    
            </div>
            <div class="col-4">
                <div class="float-right">
                    <i class="pi pi-tag"></i>
                    <span class="{{type}}type rounded-sm text-white">&nbsp;{{type}}&nbsp;</span>
                </div>
                <br/>
                <div *ngIf="isOwner" class="float-right mt-md-2">
                    <a href="/resource/editDetails?id={{resource.id}}&type={{type}}" class="btn btn-primary float-right"><i class="pi pi-pencil"></i>Edit</a>
                    <button class="btn btn-danger float-right" (click)="deleteResource()"><i class="pi pi-trash"></i>Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="isOwner" class="col-4">
        <h4>Outgoing Project Requests</h4>
        <ul class="nav nav-tabs" id="outgoingTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pendingProj-tab" data-toggle="tab" href="#pendingProj" role="tab" aria-controls="pendingProj" aria-selected="true">Pending</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="acceptedProj-tab" data-toggle="tab" href="#acceptedProj" role="tab" aria-controls="acceptedProj" aria-selected="false">Accepted</a>
            </li>
        </ul>
        <div class="tab-content" id="outgoingTabContent">
            <div class="tab-pane fade show active" id="pendingProj" role="tabpanel" aria-labelledby="pendingProj-tab">
                <br/>
                <div *ngIf="pendingProjectReqs.length == 0">You have no pending project requests.</div>
                <div *ngIf="pendingProjectReqs.length != 0">You have {{pendingProjectReqs.length}} pending project request(s).</div><br/>
                <div *ngFor="let req of pendingProjectReqs">
                    <div class="card bg-light">
                        <div class="card-body">
                            <b>Project: <a href="/project/projectDetails?id={{req.projectId}}">{{req.projectTitle}}</a></b><br/>
                            Description: {{req.desc}}<br/>
                            Request sent at: {{formatDate(req.createdAt)}}<br/>
                            <button class="btn btn-danger float-right" type="button" (click)="cancelProjectReq(req.id)">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="acceptedProj" role="tabpanel" aria-labelledby="acceptedProj-tab">
                <br/>
                <div *ngIf="acceptedProjectReqs.length == 0">You have no accepted project requests.</div>
                <div *ngIf="acceptedProjectReqs.length != 0">You have {{acceptedProjectReqs.length}} accepted project request(s).</div><br/>
                <div *ngFor="let req of acceptedProjectReqs">
                    <div class="card bg-light">
                        <div class="card-body">
                            <b>Project: <a href="/project/projectDetails?id={{req.projectId}}">{{req.projectTitle}}</a></b><br/>
                            <p *ngIf="req.desc.length != 0">
                                Description: {{req.desc}}<br/>
                            </p>
                            <p *ngIf="req.desc.length == 0">
                                Description: -<br/>
                            </p>
                            Request accepted at: {{formatDate(req.updatedAt)}}<br/>
                            <button class="btn btn-danger float-right" type="button" (click)="cancelProjectReq(req.id)">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <h4>Incoming Resource Requests</h4>
        <ul class="nav nav-tabs" id="incomingTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pending-tab" data-toggle="tab" href="#pending" role="tab" aria-controls="pending" aria-selected="true">Pending</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="accepted-tab" data-toggle="tab" href="#accepted" role="tab" aria-controls="accepted" aria-selected="false">Accepted</a>
            </li>
        </ul>
        <div class="tab-content" id="incomingTabContent">
            <div class="tab-pane fade show active" id="pending" role="tabpanel" aria-labelledby="pending-tab">
                <br/>
                <div *ngIf="pendingResourceReqs.length == 0">You have no pending resource requests.</div>
                <div *ngIf="pendingResourceReqs.length != 0">You have {{pendingResourceReqs.length}} pending resource request(s).</div><br/>
                <div *ngFor="let req of pendingResourceReqs">
                    <div class="card bg-light">
                        <div class="card-body">
                            <b>Project: <a href="/project/projectDetails?id={{req.projectId}}">{{req.projectTitle}}</a></b><br/>
                            Description: {{req.desc}} <br>
                            Request received at: {{formatDate(req.createdAt)}}<br/>
                            <br/><br/>
                            <button class="btn btn-danger float-right ml-2" type="button" (click)="declineResourceReq(req.id)">
                                Decline
                            </button>
                            <button class="btn btn-success float-right" type="button" (click)="acceptResourceReq(req.id)">
                                Accept
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="accepted" role="tabpanel" aria-labelledby="accepted-tab">
                <br/>
                <div *ngIf="acceptedResourceReqs.length == 0">You have no accepted resource requests.</div>
                <div *ngIf="acceptedResourceReqs.length != 0">You have {{acceptedResourceReqs.length}} accepted resource request(s).</div><br/>
                <div *ngFor="let req of acceptedResourceReqs">
                    <div class="card bg-light">
                        <div class="card-body">
                            <b>Project: <a href="/project/projectDetails?id={{req.projectId}}">{{req.projectTitle}}</a></b><br/>
                            <p *ngIf="req.desc.length != 0">
                                Description: {{req.desc}}<br/>
                            </p>
                            <p *ngIf="req.desc.length == 0">
                                Description: -<br/>
                            </p>
                            Request accepted at: {{formatDate(req.updatedAt)}}<br/>
                            <button class="btn btn-danger float-right" type="button" (click)="cancelResourceReq(req.id)">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div *ngIf="!isOwner && type != 'knowledge'" class="col-4">
        <button class="btn btn-primary" data-toggle="modal" data-target="#requestModal">Request</button>
    </div>
    <div *ngIf="!isOwner && type == 'knowledge'" class="col-4">
        <button class="btn btn-primary" data-toggle="modal" data-target="#useKnowledgeModal">Use in My Project</button>
    </div>

    <div class="modal fade" data-backdrop="static" id="requestModal" tabindex="-1" role="dialog" aria-labelledby="requestModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="requestModalLabel">Request Resource</h5>
                    <button type="button" (click)="closeModal()" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div *ngIf="!isRequestSuccessful">
                        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                            <!-- show current user's projects and get them to choose one -->
                            <div class="form-group row">
                                <label for="project" class="col-sm-3 col-form-label">Select Project</label>
                                <div class="col-sm-9">
                                    <select class="form-control" name="project" [(ngModel)]="selectedProjectId" required #project="ngModel" (click)="updateSelectedProject($event)">
                                        <option *ngFor="let p of myProjects" value={{p.id}}>{{p.title}}</option>
                                    </select>
                                    <div class="alert-danger" *ngIf="f.submitted && project.invalid">
                                        <div *ngIf="project.errors.required">
                                            No project selected. Please select a project!
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- if the selected project currently doesn't have a corresponding resource need -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="autogenerate" [checked]="autogenerateYes" (change)="updateAutogenerate($event);">
                                <label class="form-check-label" for="autogenerate">
                                    I don't have a resource need for this yet, auto-generate it for me
                                </label>
                            </div><br/>
                            <!-- show resource needs of selected project and get user to choose one -->
                            <div class="form-group row" *ngIf= "!autogenerateYes">
                                <label for="resourceNeed" class="col-sm-3 col-form-label">Select Resource Need</label>
                                <div class="col-sm-9">
                                    <p *ngIf="projectSelected && resourceNeeds.length == 0">There are no {{type}} resource needs for this project.</p>
                                    <select *ngIf="projectSelected && resourceNeeds.length != 0" class="form-control" name="resourceNeed" [(ngModel)]="selectedResourceNeedId" required #resourceNeed="ngModel" (click)="updateSelectedResourceNeed($event)">
                                        <option *ngFor="let r of resourceNeeds" value={{r.id}}>{{r.title}}</option>
                                    </select>
                                </div>
                            </div>
                            <!-- input description for resource request -->
                            <div class="form-group row">
                                <label for="desc" class="col-sm-3 col-form-label">Description (optional)</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" name="desc" [(ngModel)]="form.desc" #desc="ngModel" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-block">Request</button>
                            </div>
                        </form>
                    </div>
                    <div *ngIf="isRequestSuccessful">
                        <div class="alert alert-success">
                            Your request has been submitted successfully! <br>
                            Check your request status on your project requests page > Outgoing Requests
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" data-backdrop="static" id="useKnowledgeModal" tabindex="-1" role="dialog" aria-labelledby="useKnowledgeModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="useKnowledgeModalLabel">Use Knowledge Resource</h5>
                    <button type="button" (click)="closeModal()" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div *ngIf="!isRequestSuccessful">
                        <form name="form" (ngSubmit)="fs.form.valid && onSubmitKnowledge()" #fs="ngForm" novalidate>
                            This will notify the owner(s) of the knowledge resource that you have used their knowledge resource in your project.<br/><br/>
                            <!-- show current user's projects and get them to choose one -->
                            <div class="form-group row">
                                <label for="project" class="col-sm-3 col-form-label">Select Project</label>
                                <div class="col-sm-9">
                                    <select class="form-control" name="project" [(ngModel)]="selectedProjectId" required #project="ngModel" (click)="updateSelectedProject($event)">
                                        <option *ngFor="let p of myProjects" value={{p.id}}>{{p.title}}</option>
                                    </select>
                                    <div *ngIf="selectedProject">
                                        You have selected {{selectedProject}}
                                    </div>
                                    <div class="alert-danger" *ngIf="fs.submitted && project.invalid">
                                        <div *ngIf="project.errors.required">
                                            No project selected. Please select a project!
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- if the selected project currently doesn't have a corresponding resource need -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="autogenerate" [checked]="autogenerateYes" (change)="updateAutogenerate($event);">
                                <label class="form-check-label" for="autogenerate">
                                    I don't have a resource need for this yet, auto-generate it for me
                                </label>
                            </div><br/>
                            <!-- show resource needs of selected project and get user to choose one -->
                            <div class="form-group row" *ngIf= "!autogenerateYes">
                                <label for="resourceNeed" class="col-sm-3 col-form-label">Select Resource Need:</label>
                                <p *ngIf="projectSelected && resourceNeeds.length == 0">There are no {{type}} resource needs for this project.</p>
                                <div class="col-sm-9">
                                    <select *ngIf="projectSelected && resourceNeeds.length != 0" class="form-control" name="resourceNeed" [(ngModel)]="selectedResourceNeedId" required #resourceNeed="ngModel" (click)="updateSelectedResourceNeed($event)">
                                        <option *ngFor="let r of resourceNeeds" value={{r.id}}>{{r.title}}</option>
                                    </select>
                                </div>
                            </div>
                            <!-- input description for resource request -->
                            <div class="form-group row">
                                <label for="desc" class="col-sm-3 col-form-label">Description (optional)</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" name="desc" [(ngModel)]="form.desc" #desc="ngModel" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-block">Submit</button>
                            </div>
                        </form>
                    </div>
                    <div *ngIf="isRequestSuccessful">
                        <div class="alert alert-success">
                            You have successfully used this knowledge for your project! <br>
                            The resource has been listed under your project resources > Resources Obtained.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="suggestModal" tabindex="-1" role="dialog" aria-labelledby="suggestModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="suggestModalLabel">Suggested Projects</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Click on the project to view more details and request to contribute!<br/>
                    <div *ngIf="suggestedProjects.length == 0">
                        Sorry, there are currently no suggested projects.
                    </div>
                    <div *ngFor="let p of suggestedProjects">
                        <div class="card bg-light">
                            <div class="card-body">
                              <div class="row">
                                <div class="col-3">
                                    <b>SDGs:</b><br/>
                                    <div *ngIf="p.projectSDGs.length == 0" style="display:inline-block;">
                                        -
                                    </div>
                                    <div *ngFor="let sdg of p.projectSDGs" style="display:inline-block;">
                                        <button class="sdg sdg{{sdg}} mr-md-1">{{sdg}}</button>
                                    </div>
                                </div>
                                <div class="col-9">
                                    <b>Project: <a href="/project/projectDetails?id={{p.projectId}}">{{p.projectTitle}}</a></b><br/>
                                    Resource need: {{p.title}}<br/>
                                    Description: <span *ngIf="p.desc.length == 0">-</span>
                                    <span *ngIf="p.desc.length > 0">{{p.desc}}</span>
                                </div>
                              </div>   
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isDeleted || resource.status == 'deleted'">
    <div class="alert alert-info">
        Resource has been deleted.
    </div>
</div>