:host ::ng-deep .custom-galleria.p-galleria.fullscreen {
    display: flex;
    flex-direction: column;
  }
  
  :host ::ng-deep .custom-galleria.p-galleria.fullscreen .p-galleria-content {
    flex-grow: 1;
    justify-content: center;
  }
  
  :host ::ng-deep .custom-galleria.p-galleria .p-galleria-content {
    position: relative;
  }
  
  :host ::ng-deep .custom-galleria.p-galleria .p-galleria-thumbnail-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  :host ::ng-deep .custom-galleria.p-galleria .p-galleria-thumbnail-items-container {
    width: 100%;
  }
  
  :host ::ng-deep .custom-galleria.p-galleria .custom-galleria-footer {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    color: #ffffff;
  }
  
  :host ::ng-deep .custom-galleria.p-galleria .custom-galleria-footer > button {
    background-color: transparent;
    color: #ffffff;
    border: 0 none;
    border-radius: 0;
    margin: 0.2rem 0;
  }
  
  :host ::ng-deep .custom-galleria.p-galleria .custom-galleria-footer > button.fullscreen-button {
    margin-left: auto;
  }
  
  :host ::ng-deep .custom-galleria.p-galleria .custom-galleria-footer > button:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  :host ::ng-deep .custom-galleria.p-galleria .title-container > span {
    font-size: 0.9rem;
    padding-left: 0.829rem;
  }
  
  :host ::ng-deep .custom-galleria.p-galleria .title-container > span.title {
    font-weight: bold;
  }