.pendingStatus {
    background-color: rgb(235, 141, 33);
    color: white;
}

.progressStatus {
    background-color: rgb(221, 160, 221);
    color: white;
}

.solvedStatus {
    background-color: rgb(83, 207, 10);
    color: white;
}

.declinedStatus {
    background-color: rgb(170, 170, 170);
    color: white;
}