<p-toast key="toastMsg" [baseZIndex]="100"></p-toast>
<div class="container bg-light p-3 my-3 col-9">
    <div class="row">
        <div class="col-6">
            <h3>
                Report: {{report.title}}
            </h3>
            <div class="text mb-md-1">Submitted at {{formatDate(report.createdAt)}}</div>
            <div class="mb-md-1">Status:
                <span class="rounded-pill {{report.status}}Status pl-2 pr-2">
                    <span *ngIf="report.status == 'progress'">in</span> {{report.status}}
                </span>
            </div>
        </div>
        <div class="col-6" *ngIf="report.targetUsername != loggedInUser.username && report.reporterUsername != loggedInUser.username">
            <div *ngIf="report.status == 'pending'">
                <button class="btn btn-danger float-right" (click)="updateReport(report.id, 'declined')">
                    <i class="pi pi-times"></i>&nbsp;Decline</button>
                <button class="btn btn-success mr-md-2 float-right" (click)="updateReport(report.id, 'progress')">
                    <i class="pi pi-check"></i>&nbsp;Accept</button>
            </div>
            <div *ngIf="report.status == 'progress'">
                <button class="btn btn-success float-right" (click)="updateReport(report.id, 'solved')">
                    <i class="pi pi-check"></i>&nbsp;Mark as Solved</button>
            </div>
        </div>
    </div>
    <hr>
    <div>
        <h5>Summary:</h5>
        <div class="text-justify">{{report.summary}}</div>
    </div>
</div>
<div class="container bg-light p-3 my-3 col-9">
    <div class="row">
        <div class="col-6 border-right border-dark">
            <h5>Report on:
                <button class="btn btn-primary float-right" data-toggle="modal" data-target="#ReportOnModal">
                    <i class="pi pi-ellipsis-h"></i>
                </button>
            </h5>
            <div *ngIf="type=='project'">
                <a style="font-size: large;" href="/project/projectDetails?id={{report.targetId}}">{{report.targetTitle}}</a>
                <br>
                Project Status: {{report.targetStatus}}
                <br>
                Project Founder:
                <span *ngIf="report.hostAccount.profilePic == 0">
                    <img src="../../assets/img/profilePic_Placeholder.png" class="img-fluid rounded-circle mr-2" style="width: 40px;height: 40px;object-fit: cover;">
                </span>
                <span *ngIf="report.hostAccount.profilePic != 0">
                    <img src="{{report.hostAccount.profilePic}}" class="img-fluid rounded-circle mr-2" style="width: 40px;height: 40px;object-fit: cover;">
                </span>
                <a *ngIf="report.targetHostType == 'user'" href="/profile?username={{report.hostAccount.username}}&userType=individual">{{report.hostAccount.name}}</a>
                <a *ngIf="report.targetHostType == 'institution'" href="/profile?username={{report.hostAccount.username}}&userType=institution">{{report.hostAccount.name}}</a>
            </div>
            <div *ngIf="type=='user'">
                <span *ngIf="report.targetImg.length == 0">
                    <img src="../../assets/img/profilePic_Placeholder.png" class="img-fluid rounded-circle mr-2" style="width: 40px;height: 40px;object-fit: cover;">
                </span>
                <span *ngIf="report.targetImg.length != 0">
                    <img src="https://localhost:8080{{report.targetImg}}" class="img-fluid rounded-circle mr-2" style="width: 40px;height: 40px;object-fit: cover;">
                </span>
                <a style="font-size: large;" href="/profile?username={{report.targetUsername}}&userType=individual">{{report.targetName}}</a>
                <br>
                Account Status: {{report.targetStatus}}
            </div>
            <div *ngIf="type=='institution'">
                <span *ngIf="report.targetImg.length == 0">
                    <img src="../../assets/img/profilePic_Placeholder.png" class="img-fluid rounded-circle mr-2" style="width: 40px;height: 40px;object-fit: cover;">
                </span>
                <span *ngIf="report.targetImg.length != 0">
                    <img src="https://localhost:8080{{report.targetImg}}" class="img-fluid rounded-circle mr-2" style="width: 40px;height: 40px;object-fit: cover;">
                </span>
                <a style="font-size: large;" href="/profile?username={{report.targetUsername}}&userType=institution">{{report.targetName}}</a>
                <br>
                Account Status: {{report.targetStatus}}
            </div>
        </div>
        <div class="col-6">
            <h5>Submitted by:
                <button class="btn btn-primary float-right" data-toggle="modal" data-target="#SubmittedByModal">
                    <i class="pi pi-ellipsis-h"></i>
                </button>
            </h5>
            <span *ngIf="(report.reporterImgPath.length == 0)">
                <img src="../../../assets/img/profilePic_Placeholder.png" class="img-fluid rounded-circle mr-2" style="width: 40px;height: 40px;object-fit: cover;">
            </span>
            <span *ngIf="report.reporterImgPath.length != 0">
                <img src="https://localhost:8080{{report.reporterImgPath}}" class="img-fluid rounded-circle mr-2" style="width: 40px;height: 40px;object-fit: cover;">
            </span>
            <span *ngIf="report.reporterType == 'user'">
                <a style="font-size: large;" href="/profile?username={{report.reporterUsername}}&userType=individual">{{report.reporterName}}</a>
            </span>
            <span *ngIf="report.reporterType == 'institution'">
                <a style="font-size: large;" href="/profile?username={{report.reporterUsername}}&userType=institution">{{report.reporterName}}</a>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-6 border-right border-dark">
            <!-- <div *ngIf="type=='project'">
                <button class="btn btn-success float-left mt-3" type="button" aria-haspopup="true" aria-expanded="false" (click)="activateProject(report.targetId)">
                    Activate
                </button>
                <button class="btn btn-danger float-left ml-2 mt-3" type="button" aria-haspopup="true" aria-expanded="false" (click)="suspendProject(report.targetId)">
                    Suspend
                </button>
                <button type="button" (click)="viewReported()" class="btn btn-primary float-left ml-2 mt-3">Audit</button>
            </div> -->
            <!-- <div *ngIf="type=='user'">
                <button class="btn btn-success float-left mt-3" type="button" aria-haspopup="true" aria-expanded="false" (click)="activateUser(report.targetId)">
                    Activate
                </button>
                <button class="btn btn-danger float-left ml-2 mt-3" type="button" aria-haspopup="true" aria-expanded="false" (click)="suspendUser(report.targetId)">
                    Suspend
                </button>
                <button type="button" (click)="viewReported()" class="btn btn-primary float-left ml-2 mt-3">Audit</button>
            </div> -->
            <!-- <div *ngIf="type=='institution'">
                <button class="btn btn-success float-left mt-3" type="button" aria-haspopup="true" aria-expanded="false" (click)="activateInstitution(report.targetId)">
                    Activate
                </button>
                <button class="btn btn-danger float-left ml-2 mt-3" type="button" aria-haspopup="true" aria-expanded="false" (click)="suspendInstitution(report.targetId)">
                    Suspend
                </button>
                <button type="button" (click)="viewReported()" class="btn btn-primary float-left ml-2 mt-3">Audit</button>
            </div> -->
            <br>
        </div>
        <div class="col-6">
            <!-- <button type="button" (click)="viewReporter()" class="btn btn-primary float-left ml-2 mt-3">Audit</button>
            <br> -->
        </div>
    </div>
</div>

<div class="modal fade text-dark" id="ReportOnModal" tabindex="-1" role="dialog" aria-labelledby="ReportOnModal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div *ngIf="type=='project'">
                    <button class="btn btn-block text-success" (click)="activateProject(report.targetId)">
                        <i class="pi pi-check-circle"></i>&nbsp;Activate
                    </button>
                    <hr>
                    <button class="btn btn-block text-danger" (click)="suspendProject(report.targetId)">
                        <i class="pi pi-times-circle"></i>&nbsp;Suspend
                    </button>
                    <hr>
                    <button class="btn btn-block text-primary" (click)="chatUser(report.targetHostType,report.targetHost)">
                        <i class="pi pi-comment"></i>&nbsp;Chat Project Founder
                    </button>
                    <hr>
                    <a href="/admin/user-management/profile?type={{type}}&id={{report.targetId}}" class="btn btn-block text-primary">View Audit</a>
                </div>
                <div *ngIf="type=='user'">
                    <div *ngIf="checkAccess()">
                        <button class="btn btn-block text-success" (click)="activateUser(report.targetId)">
                            <i class="pi pi-check-circle"></i>&nbsp;Activate
                        </button>
                        <hr>
                        <button class="btn btn-block text-danger" (click)="suspendUser(report.targetId)">
                            <i class="pi pi-times-circle"></i>&nbsp;Suspend
                        </button>
                        <hr>
                        <button class="btn btn-block text-primary" (click)="chatUser('user',report.targetId)">
                            <i class="pi pi-comment"></i>&nbsp;Chat
                        </button>
                        <hr>
                    </div>
                    <a href="/admin/user-management/profile?username={{report.targetUsername}}&type=individual&id={{report.targetId}}" class="btn btn-block text-primary">View Audit</a>
                </div>
                <div *ngIf="type=='institution'">
                    <button class="btn btn-block text-success" (click)="activateInstitution(report.targetId)">
                        <i class="pi pi-check-circle"></i>&nbsp;Activate
                    </button>
                    <hr>
                    <button class="btn btn-block text-danger" (click)="suspendInstitution(report.targetId)">
                        <i class="pi pi-times-circle"></i>&nbsp;Suspend
                    </button>
                    <hr>
                    <button class="btn btn-block text-primary" (click)="chatUser('institution',report.targetId)">
                        <i class="pi pi-comment"></i>&nbsp;Chat
                    </button>
                    <hr>
                    <a href="/admin/user-management/profile?username={{report.targetUsername}}&type=institution&id={{report.targetId}}" class="btn btn-block text-primary">View Audit</a>
                </div>
                <hr>
                <button class="btn btn-block" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade text-dark" id="SubmittedByModal" tabindex="-1" role="dialog" aria-labelledby="SubmittedByModal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div *ngIf="report.reporterUsername != loggedInUser.username">
                    <button class="btn btn-block text-primary" (click)="chatUser(report.reporterType,report.reporterId)">
                        <i class="pi pi-comment"></i>&nbsp;Chat
                    </button>
                    <hr>
                </div>
                <a *ngIf="report.reporterType == 'user'" href="/admin/user-management/profile?username={{report.reporterUsername}}&type=individual&id={{report.reporterId}}" class="btn btn-block text-primary">View Audit</a>
                <a *ngIf="report.reporterType == 'institution'" href="/admin/user-management/profile?username={{report.reporterUsername}}&type=institution&id={{report.reporterId}}" class="btn btn-block text-primary">View Audit</a>                
                <hr>
                <button class="btn btn-block" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>