<p-toast key="toastMsg" [baseZIndex]="100"></p-toast>

<div class="row">
    <div class="col-9">
        <div class="row bg-secondary text-white">
            <div class="col-3">
                <div *ngIf="project.imgPath.length != 0">
                    <img class="card-img-top rounded-circle img-fluid mx-auto d-block" src={{imgString}} style="margin: 25px; width: 150px; height: 150px; object-fit: cover;"
                        alt="Profile picture">
                </div>
                <div *ngIf="project.imgPath.length == 0">
                    <img class="card-img-top rounded-circle img-fluid mx-auto d-block" src="../../../assets/img/team.jpg" style="margin: 25px; width: 150px; height: 150px; object-fit: cover;"
                        alt="Project picture">
                </div>

            </div>
            <div class="col-5">
                <h3 class="card-title text-left mt-md-4 mb-md-0">{{ project.title }}</h3>
                <!--h6 class="card-title text-left mt-md-3">Description: {{project.desc}}</h6-->
                <h6 class="card-title text-left mt-md-1">Status: {{project.status}}</h6>
                <h6 class="card-title text-left">Country: {{project.country}}</h6>
                <h6 class="card-title text-left">Level of difficulty: {{project.rating}}</h6>
                <h6 class="card-title text-left">SDGs:
                    <div *ngIf="project.SDGs.length == 0" style="display:inline-block;">
                        -
                    </div>
                    <div *ngFor="let sdg of project.SDGs" style="display:inline-block;">
                        <button class="sdg sdg{{sdg}} mr-md-1">{{sdg}}</button>
                    </div>
                </h6>
            </div>

            <div class="col-4">
                <div *ngIf=isCreator||isAdmin>
                    <a *ngIf=isOngoing class="btn btn-primary mt-3 float-right" href="/project/editDetails?id={{project.id}}" role="button" style="margin: 3px; width: 80%">
                        <i class="pi pi-pencil"></i>
                        Edit Project
                    </a>
                    <a *ngIf=!isOngoing class="btn btn-primary mt-3 disabled float-right" aria-disabled="true" role="button" style="margin: 3px; width: 80%">
                        <i class="pi pi-pencil"></i>
                        Edit Project
                    </a>
                    <!-- <a *ngIf=isOngoing&&isCreator class="btn btn-light" href="/project/editAdmin?id={{project.id}}" role="button" style="margin: 3px; width: 170px">
                        <i class="pi pi-user-edit"></i>
                        Edit Admins
                    </a>
                    <a *ngIf=!isOngoing&&isCreator class="btn btn-light disabled" aria-disabled="true" role="button" style="margin: 3px; width: 170px">
                        <i class="pi pi-user-edit"></i>
                        Edit Admins
                    </a> -->
                    <a *ngIf=isOngoing&&isCreator class="btn btn-success text-white float-right" (click)=completeProject(project.title) role="button"
                        style="margin: 3px; width: 80%">
                        <i class="pi pi-check"></i>
                        Mark Complete
                    </a>
                    <a *ngIf=!isOngoing&&isCreator class="btn btn-success text-white disabled float-right" aria-disabled="true" role="button"
                        style="margin: 3px; width: 80%">
                        <i class="pi pi-check"></i>
                        Mark Complete
                    </a>
                    <a *ngIf=isOngoing&&isCreator class="btn btn-danger mb-3 text-white float-right" (click)="deleteProject(project.title)" role="button"
                        style="margin: 3px; width: 80%">
                        <i class="pi pi-trash"></i>
                        Delete Project
                    </a>
                    <a *ngIf=!isOngoing&&isCreator class="btn btn-danger mb-3 text-white disabled float-right" aria-disabled="true" role="button"
                        style="margin: 3px; width: 80%">
                        <i class="pi pi-trash"></i>
                        Delete Project
                    </a>
                </div>
            </div>

        </div>

        <div class="row mt-1 bg-info text-white">
            <h6 class="card-title text-left text-justify" style="margin: 20px">Description: {{project.desc}}</h6>
        </div>

        <div *ngIf="calendarOn" class="row mt-3">
            <div class="bg-secondary text-center p-2 text-white rounded-sm" style="width: 100%">Project Milestones
                <button pButton *ngIf="isOngoing&&(isCreator||isAdmin)" type="button" icon="pi pi-plus" class="p-button-rounded float-right"
                    data-toggle="modal" data-target="#createEventModal">
                </button>
            </div>

            <div class="card" style="width: 100%">

                <p-fullCalendar [events]="events" [options]="options"></p-fullCalendar>
            </div>
        </div>

        <div class="modal fade" data-backdrop="static" id="updateEventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Update Milestone</h5>
                        <button type="button" class="close" (click)="closeModal()" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div *ngIf="!uEventNotif">
                            <form name="form" (ngSubmit)="fe.form.valid && onEventUpdate()" #fe="ngForm" novalidate>
                                <div class="form-group row">
                                    <label for="title" class="col-sm-4 col-form-label">Title</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" name="title" [(ngModel)]="updateEvent.title" required #title="ngModel" />
                                    </div>
                                    <div class="alert-danger" *ngIf="fe.submitted && title.invalid">
                                        <div *ngIf="title.errors.required">Title is required</div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="startDate" class="col-sm-4 col-form-label">Start Date</label>
                                    <div class="col-sm-6">
                                        <p-calendar [baseZIndex]="90" name="startDate" [(ngModel)]="updateEvent.start" dateFormat="yy-mm-dd" [showIcon]="true" [minDate]="minimumDate"
                                            [monthNavigator]="true" [yearNavigator]="true" yearRange="2020:2025" required #startDate="ngModel"></p-calendar>
                                    </div>
                                    <div class="alert-danger" *ngIf="fe.submitted && startDate.invalid">
                                        <div *ngIf="startDate.errors.required">Start date is required</div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="endDate" class="col-sm-4 col-form-label">End Date</label>
                                    <div class="col-sm-6">
                                        <p-calendar [baseZIndex]="90" name="endDate" [(ngModel)]="updateEvent.end" dateFormat="yy-mm-dd" [showIcon]="true" [minDate]="minimumDate"
                                            [monthNavigator]="true" [yearNavigator]="true" yearRange="2020:2025" required #endDate="ngModel"></p-calendar>
                                    </div>
                                    <div class="alert-danger" *ngIf="fe.submitted && endDate.invalid">
                                        <div *ngIf="endDate.errors.required">End date is required</div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="type" class="col-sm-4 col-form-label">Milestone Type</label>
                                    <div class="col-sm-7">
                                        <div *ngIf="updateEvent.type=='Public'">
                                            <select class="form-control" name="type" [(ngModel)]="updateEvent.type" required #type="ngModel">
                                                <option selected value="Public">Public</option>
                                                <option value="Private">Private</option>
                                            </select>
                                        </div>
                                        <div *ngIf="updateEvent.type=='Private'">
                                            <select class="form-control" name="type" [(ngModel)]="updateEvent.type" required #type="ngModel">
                                                <option value="Public">Public</option>
                                                <option selected value="Private">Private</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!--div class="alert-danger" *ngIf="fe.submitted && type.invalid">
                                                <div *ngIf="type.errors.required">Event type is required</div>
                                            </div-->
                                </div>
                                <br>
                                <div class="form-group">
                                    <button class="btn btn-primary btn-block">Update</button>
                                </div>
                            </form>
                        </div>
                        <div *ngIf="uEventNotif">
                            <div class="alert alert-success">
                                Milestone has been updated!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" data-backdrop="static" id="createEventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">New Milestone</h5>
                        <button type="button" class="close" (click)="closeModal()" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div *ngIf="!cEventNotif">
                            <form name="form" (ngSubmit)="fd.form.valid && onEventPost()" #fd="ngForm" novalidate>
                                <div class="form-group row">
                                    <label for="title" class="col-sm-4 col-form-label">Title</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" name="title" [(ngModel)]="form.title" required #title="ngModel" />
                                    </div>
                                    <div class="alert-danger" *ngIf="fd.submitted && title.invalid">
                                        <div *ngIf="title.errors.required">Title is required</div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="startDate" class="col-sm-4 col-form-label">Start Date</label>
                                    <div class="col-sm-6">
                                        <p-calendar [baseZIndex]="90" name="date" [(ngModel)]="form.startDate" dateFormat="yy-mm-dd" [showIcon]="true" [minDate]="minimumDate"
                                            [monthNavigator]="true" [yearNavigator]="true" yearRange="2020:2025" required #startDate="ngModel"></p-calendar>
                                    </div>
                                    <div class="alert-danger" *ngIf="fd.submitted && startDate.invalid">
                                        <div *ngIf="startDate.errors.required">Start date is required</div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="endDate" class="col-sm-4 col-form-label">End Date</label>
                                    <div class="col-sm-6">
                                        <p-calendar [baseZIndex]="90" name="date" [(ngModel)]="form.endDate" dateFormat="yy-mm-dd" [showIcon]="true" [minDate]="minimumDate"
                                            [monthNavigator]="true" [yearNavigator]="true" yearRange="2020:2025" required #endDate="ngModel"></p-calendar>
                                    </div>
                                    <div class="alert-danger" *ngIf="fd.submitted && endDate.invalid">
                                        <div *ngIf="endDate.errors.required">End date is required</div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="type" class="col-sm-4 col-form-label">Milestone Type</label>
                                    <div class="col-sm-7">
                                        <select class="form-control" name="type" [(ngModel)]="form.type" required #type="ngModel">
                                            <option value="" selected hidden>Choose...</option>
                                            <option value="Public">Public</option>
                                            <option value="Private">Private</option>
                                        </select>
                                    </div>
                                    <div class="alert-danger" *ngIf="fd.submitted && type.invalid">
                                        <div *ngIf="type.errors.required">Event type is required</div>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <button class="btn btn-primary btn-block">Create</button>
                                </div>
                            </form>
                        </div>
                        <div *ngIf="cEventNotif">
                            <div class="alert alert-success">
                                Milestone has been created!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-4">
                <div *ngIf="!calendarOn" class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-9 mt-md-1">Project Team:</div>
                            <div class="col-3">
                                <a *ngIf=isOngoing&&isCreator href="/project/editAdmin?id={{project.id}}" role="button" style="height: 35px; width: 40px">
                                    <button pButton class="p-button-rounded" icon="pi pi-user-edit"></button>
                                </a>
                                <a *ngIf=!isOngoing&&isCreator aria-disabled="true" role="button" style="height: 35px; width: 40px">
                                    <button pButton disabled class="p-button-rounded" icon="pi pi-user-edit"></button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--div class="card-body row">
                        <div class="col-4">
                            <div *ngIf="host.profilePic.length > 0">
                                <img src={{host.profilePic}} class="rounded-circle img-fluid" style="width: 50px; height: 50px; object-fit: cover;" alt="Profile picture"
                                />
                            </div>
                            <div *ngIf="host.profilePic.length == 0">
                                <img src="../../assets/img/profilePic_Placeholder.png" class="rounded-circle img-fluid" style="width: 50px; height: 50px; object-fit: cover;"
                                    alt="Profile picture" />
                            </div>
                        </div>
                        <br/>
                        <div class="col-8">
                            <a href="/profile?username={{host.username}}&userType=individual">{{host.name}}</a>
                            <br/>
                            <div class="text-secondary" style="font-size: small;">Project Creator</div>
                        </div>
                    </div-->
                </div>
                <!-- <div class="card mt-2">
                    <div class="card-header">
                        Project Admins:
                        
                    </div>
                </div> -->

                <!--div *ngIf="admins.length == 0">
                    <div class="card">
                        <div class="card-body row">
                            <p style="margin-left: 10px">There are no project admins for now.</p>
                        </div>
                    </div>

                </div>
                <div *ngFor="let admin of admins">
                    <div class="card">
                        <div class="card-body row">
                            <div class="col-4">
                                <div *ngIf="admin.profilePic.length > 0">
                                    <img src={{admin.profilePic}} class="rounded-circle img-fluid" style="width: 50px; height: 50px; object-fit: cover;" alt="Profile picture"
                                    />
                                </div>
                                <div *ngIf="admin.profilePic.length == 0">
                                    <img src="../../assets/img/profilePic_Placeholder.png" class="rounded-circle img-fluid" style="width: 50px; height: 50px; object-fit: cover;"
                                        alt="Profile picture" />
                                </div>
                            </div>
                            <br/>
                            <div class="col-8">
                                <a href="/profile?username={{admin.username}}&userType=individual">{{admin.name}}</a>
                                <br/>
                                <div class="text-secondary" style="font-size: small;">Project Admin</div>
                            </div>
                        </div>
                    </div>
                </div-->

                <div *ngIf="!calendarOn">
                    <div *ngFor="let con of contributors">
                        <div class="card">
                            <div class="card-body row">
                                <div class="col-4">
                                    <div *ngIf="con.contributorImgPath.length > 0">
                                        <img src={{con.contributorImgPath}} class="rounded-circle img-fluid" style="width: 50px; height: 50px; object-fit: cover;"
                                            alt="Profile picture" />
                                    </div>
                                    <div *ngIf="con.contributorImgPath.length == 0">
                                        <img src="../../assets/img/profilePic_Placeholder.png" class="rounded-circle img-fluid" style="width: 50px; height: 50px; object-fit: cover;"
                                            alt="Profile picture" />
                                    </div>
                                </div>
                                <div class="col-8">
                                    <a href="/profile?username={{con.contributorUsername}}&userType=individual">{{con.contributorName}}</a>
                                    <br/>
                                    <div class="text-secondary" style="font-size: small;">Project {{con.contributionType}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="card mt-2">
                    <div class="card-header">
                        Project Contributors:
                    </div>
                </div> -->
            </div>
            <div class="col-8">
                <div class="container-fluid">
                    <div *ngIf="!calendarOn" class="card">
                        <div *ngIf="!isCreator && !isAdmin" class="bg-secondary text-center p-2 text-white rounded-sm">Project Posts</div>
                        <button *ngIf=isOngoing&&(isCreator||isAdmin) class="btn btn-primary btn-block" data-toggle="modal" data-target="#createPostModal">Create Post</button>
                    </div>
                    <br>
                    <!--div class="card border-dark">
                        <h5 class="card-title text-center mt-md-3">
                            Project Feed
                        </h5>
                    </div-->
                    <div *ngIf="!calendarOn">
                        <div *ngFor="let p of projPosts">
                            <div class="card mb-md-2">
                                <div *ngIf="p.imgPath.length == 0">
                                    <img class="card-img-top img-fluid" src="../../assets/img/team.jpg" alt="Project picture" style="height: 200px; object-fit: cover;">
                                </div>
                                <div *ngIf="p.imgPath.length > 0">
                                    <img class="card-img-top img-fluid" src="https://localhost:8080{{p.imgPath}}" alt="Project picture" style="height: 200px; object-fit: cover;">
                                </div>
                                <div class="card-body border-dark col ml-2">
                                    <a *ngIf=isOngoing&&(isCreator||isAdmin) class="btn btn-danger mb-3 text-white float-right" role="button" style="margin: 3px;"
                                        (click)=confirmDeletePost(p.id)>
                                        <i class="pi pi-trash"></i>
                                    </a>
                                    <a *ngIf=isOngoing&&(isCreator||isAdmin) class="btn btn-primary mb-3 text-white float-right" role="button" style="margin: 3px;"
                                        data-toggle="modal" data-target="#updatePostModal" (click)=getPost(p.id,p.title,p.desc,p.imgPath)>
                                        <i class="pi pi-pencil"></i>
                                    </a>

                                    <br>
                                    <h5 class="card-title text-left">
                                        <strong>{{p.title}}</strong>
                                    </h5>
                                    <h6 class="card-title text-left">{{p.desc}}</h6>
                                    <h6 class="card-title text-left text-secondary">
                                        <small>Created on: {{formatDate(p.createdAt)}}</small>
                                    </h6>
                                    <h6 class="card-title text-left text-secondary">
                                        <small>Last updated: {{formatDate(p.updatedAt)}} by {{p.accountUsername}}</small>
                                    </h6>

                                    <button type="button" (click)=getComments(p.id) class="btn btn-link" data-toggle="modal" data-target="#commentModal"> View Comments</button>
                                    <!--div *ngFor="let c of allComments">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <strong>{{c.accountUsername}}: </strong> {{c.comment}}
                                            <a *ngIf=isOngoing&&(isCreator||isAdmin) class="btn btn-danger mb-3 text-white float-right" role="button" style="margin: 3px;"
                                                (click)=confirmDelCom(c.id)>
                                                <i class="pi pi-trash"></i>
                                            </a>
                                            <br>
                                            <small>{{formatDate(c.createdAt)}}</small>
                                        </li>

                                    </ul>
                                </div>
                                <br>
                                <a class="btn btn-primary mb-3 text-white float-right" role="button" style="margin: 3px;" (click)=addComment(p.id)>
                                    Add
                                </a>
                                <textarea class="form-control" name="comment" [(ngModel)]="newComment" required #comment="ngModel" rows="1" style="width: 85%"></textarea-->

                                </div>
                                <!-- <div class="card-body col border-dark">

                            </div> -->

                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalScrollableTitle">Comments</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div *ngIf=!checkComment>
                                    There are no comments for this post
                                </div>
                                <div *ngFor="let c of allComments">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <strong>{{c.accountUsername}}: </strong> {{c.comment}}
                                            <a *ngIf=isOngoing&&myComment(c.accountId) class="btn btn-light mb-3 float-right" role="button" style="margin: 3px;" (click)=confirmDelCom(c.id)>
                                                <i class="pi pi-trash"></i>
                                            </a>
                                            <br>
                                            <small>{{formatDate(c.createdAt)}}</small>
                                        </li>

                                    </ul>
                                </div>
                                <br>
                                <a class="btn btn-primary mb-3 text-white float-right" role="button" style="margin: 3px;" (click)=addComment()>
                                    Post
                                </a>
                                <textarea class="form-control" name="comment" [(ngModel)]="newComment" required #comment="ngModel" rows="1" style="width: 85%"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="updatePostModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Update Post</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form name="form" (ngSubmit)="fc.form.valid && onUpdatePost()" #fc="ngForm" novalidate>
                                    <div class="form-group row">
                                        <label for="title" class="col-sm-3 col-form-label">Title</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" name="title" [(ngModel)]="updatePost.title" required #title="ngModel" />
                                        </div>
                                        <div class="alert-danger" *ngIf="fa.submitted && title.invalid">
                                            <div *ngIf="title.errors.required">Title is required</div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="desc" class="col-sm-3 col-form-label">Description</label>
                                        <div class="col-sm-8">
                                            <textarea class="form-control" name="desc" [(ngModel)]="updatePost.desc" required #desc="ngModel" rows="3"></textarea>
                                        </div>
                                        <div class="alert-danger" *ngIf="fa.submitted && desc.invalid">
                                            <div *ngIf="desc.errors.required">Description is required</div>
                                        </div>
                                    </div>
                                    <form>
                                        <input type="file" name="image" (change)="selectImage($event)" />
                                    </form>
                                    <br>
                                    <div class="form-group">
                                        <button class="btn btn-primary btn-block">Update</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="createPostModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">New Post</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form name="form" (ngSubmit)="fb.form.valid && onPost()" #fb="ngForm" novalidate>
                                    <div class="form-group row">
                                        <label for="title" class="col-sm-3 col-form-label">Title</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" name="title" [(ngModel)]="form.title" required #title="ngModel" />
                                        </div>
                                        <div class="alert-danger" *ngIf="fa.submitted && title.invalid">
                                            <div *ngIf="title.errors.required">Title is required</div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="desc" class="col-sm-3 col-form-label">Description</label>
                                        <div class="col-sm-8">
                                            <textarea class="form-control" name="desc" [(ngModel)]="form.desc" required #desc="ngModel" rows="3"></textarea>
                                        </div>
                                        <div class="alert-danger" *ngIf="fa.submitted && desc.invalid">
                                            <div *ngIf="desc.errors.required">Description is required</div>
                                        </div>
                                    </div>
                                    <form>
                                        <input type="file" name="image" (change)="selectImage($event)" />
                                    </form>
                                    <br>
                                    <div class="form-group">
                                        <button class="btn btn-primary btn-block">Create</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-3">
        <div class="card bg-secondary mb-md-1">
            <div class="card-header">
                <div class="row">
                    <div class="card border-0 bg-secondary" style="width: 75%; margin-left: 5%">
                        <a href="/project/resources?id={{projectId}}" class="text-white">
                            <u>See project resources</u>
                        </a>
                    </div>
                    <div class="card border-0 bg-secondary" style="width: 20%">
                        <a href="/project/resources?id={{projectId}}" class="text-white">
                            <i class="pi pi-arrow-circle-right ml-md-2" style="font-size: 1.5em;"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <div *ngIf="isCreator||isAdmin" class="card bg-secondary mb-md-1">
            <div class="card-header">
                <div class="row">
                    <div class="card border-0 bg-secondary" style="width: 75%; margin-left: 5%">
                        <a href="/project/requests?id={{projectId}}" class="text-white">
                            <u>See project requests</u>
                        </a>
                    </div>
                    <div class="card border-0 bg-secondary" style="width: 20%">
                        <a href="/project/requests?id={{projectId}}" class="text-white">
                            <i class="pi pi-arrow-circle-right ml-md-2" style="font-size: 1.5em;"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-md-1">
            <div class="btn-group" role="group" aria-label="Basic example" style="width: 100%">
                <button type="button" class="btn btn-primary" (click)="switchCalendarOn()">View Schedule</button>
                <button type="button" class="btn btn-light" (click)="switchCalendarOff()">Hide Schedule</button>
            </div>
        </div>
        <div class="sticky">
            <div *ngIf="calendarOn">
                <div *ngIf=eventOn>
                    <div class="card border-0">
                        <h5 class="card-title text-left mt-md-1">
                            Milestone Details:
                        </h5>
                        <h6 class="card-title text-left text-secondary">Milestone Title:
                            <br>
                            <strong>{{eventTitle}}</strong>
                        </h6>
                        <h6 class="card-title text-left text-secondary">Milestone Start Date:
                            <br>
                            <strong>{{formatDate(eventStart)}}</strong>
                        </h6>
                        <h6 class="card-title text-left text-secondary">Milestone End Date:
                            <br>
                            <strong>{{formatDate(eventEnd)}}</strong>
                        </h6>
                        <div *ngIf="(isContributor)">
                            <span class="badge badge-pill {{tempType}}">{{tempType}}</span>
                        </div>
                        <div class="row">
                            <a *ngIf="(isCreator||isAdmin)&&isOngoing" class="btn btn-primary text-white" role="button" style="margin: 3%; width: 25%;"
                                data-toggle="modal" data-target="#updateEventModal">
                                <i class="pi pi-pencil"></i>
                            </a>
                            <a *ngIf="(isCreator||isAdmin)&&isOngoing" class="btn btn-danger text-white" role="button" style="margin: 3%; width: 25%"
                                (click)="confirmDelEvent()">
                                <i class="pi pi-trash"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!calendarOn">
            <div class="card-header bg-secondary text-white">
                <i class="pi pi-chart-bar"></i>
                <h5 style="display: inline-block;" class="mt-md-1 mb-md-0 ml-md-2">KPIs</h5>
                <button pButton *ngIf="(isCreator||isAdmin)&&isOngoing" type="button" icon="pi pi-plus" class="p-button-rounded float-right"
                    data-toggle="modal" data-target="#kpiModal" title="Add KPI">
                </button>
            </div>

            <div *ngIf="KPIs.length == 0" class="alert alert-info mt-md-1">
                This project has no KPI yet.
            </div>

            <div *ngFor="let kpi of KPIs">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="card border-0" style="width:75%">
                                <h5 class="card-title text-left mt-md-1" style="margin-left: 5%;">
                                    {{kpi.title}}
                                </h5>
                                <h6 class="card-title text-left text-secondary" style="margin-left: 5%;">{{kpi.desc}} </h6>
                                <h6 class="card-title text-left text-secondary" style="margin-left: 5%;">Completion: {{kpi.completion}}% </h6>
                            </div>
                            <div class="card border-0" style="width:25%">
                                <a *ngIf="(isCreator||isAdmin)&&isOngoing" class="btn btn-primary text-white" role="button" style="margin: 3px" (click)=getForm(kpi.id,kpi.title,kpi.desc,kpi.completion)
                                    data-toggle="modal" data-target="#editModal">
                                    <i class="pi pi-pencil"></i>
                                </a>
                                <a *ngIf="(isCreator||isAdmin)&&isOngoing" class="btn btn-danger text-white" role="button" style="margin: 3px" (click)=confirmDeleteKPI(kpi.id)>
                                    <i class="pi pi-trash"></i>
                                </a>
                            </div>
                        </div>

                    </li>
                </ul>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel">Update KPI</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form name="formU" (ngSubmit)="f.form.valid && onUpdate()" #f="ngForm" novalidate>
                            <div class="form-group row">
                                <label for="titleU" class="col-sm-3 col-form-label">Title</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="titleU" [(ngModel)]="updateForm.title" required #titleU="ngModel" />
                                </div>
                                <div class="alert-danger" *ngIf="f.submitted && titleU.invalid">
                                    <div *ngIf="titleU.errors.required">Title is required</div>
                                    <!-- <div *ngIf="titleU.errors.minlength">
                                        Title must be at least 3 characters
                                    </div> -->
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="descU" class="col-sm-3 col-form-label">Description</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" name="descU" [(ngModel)]="updateForm.desc" required #descU="ngModel" rows="3"></textarea>
                                </div>
                                <div class="alert-danger" *ngIf="f.submitted && descU.invalid">
                                    <div *ngIf="descU.errors.required">Description is required</div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="completionU" class="col-sm-3 col-form-label">Completion</label>
                                <div class="col-sm-8">
                                    <input type="number" class="form-control" name="completionU" [(ngModel)]="updateForm.completion" required min="0" max="100"
                                        #completionU="ngModel" />
                                </div>
                                <div class="alert-danger" *ngIf="f.submitted && completionU.invalid">
                                    <div *ngIf="completionU.errors.required">Completion rate is required</div>
                                    <div *ngIf="completionU.errors.min">
                                        Completion rate cannot be below 0
                                    </div>
                                    <div *ngIf="completionU.errors.max">
                                        Completion rate cannot be above 100
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-block">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="kpiModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add KPI</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form name="form" (ngSubmit)="fa.form.valid && onSubmit()" #fa="ngForm" novalidate>
                            <div class="form-group row">
                                <label for="title" class="col-sm-3 col-form-label">Title</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="title" [(ngModel)]="form.title" required #title="ngModel" />
                                </div>
                                <div class="alert-danger" *ngIf="fa.submitted && title.invalid">
                                    <div *ngIf="title.errors.required">Title is required</div>
                                    <!-- <div *ngIf="title.errors.minlength">
                                        Title must be at least 3 characters
                                    </div> -->
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="desc" class="col-sm-3 col-form-label">Description</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" name="desc" [(ngModel)]="form.desc" required #desc="ngModel" rows="3"></textarea>
                                </div>
                                <div class="alert-danger" *ngIf="fa.submitted && desc.invalid">
                                    <div *ngIf="desc.errors.required">Description is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-block">Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>