<div class="container p-3 my-3 bg-dark text-white">
    <div class="row">
        <div class="col-3">
            <div *ngIf="user.profilePic.length == 0">
                <img class="card-img-top rounded-circle img-fluid mx-auto d-block" src="../../assets/img/profilePic_Placeholder.png" style="margin: 10px; width: 150px; height: 150px; object-fit: cover;"
                    alt="Profile picture">
            </div>
            <div *ngIf="user.profilePic.length != 0">
                <img class="card-img-top rounded-circle img-fluid mx-auto d-block" src={{user.profilePic}} style="margin: 10px; width: 150px; height: 150px; object-fit: cover;"
                    alt="Profile picture">
            </div>
            <div *ngIf=isVerified>
                <img src="../../assets/img/verified.jpg" style="width: 30px; height: 30px;" class="center">
            </div>
        </div>
        <div class="col-7">
            <h4 class="card-title text-left mt-md-3">{{ user.name }}
                <div style="font-size:medium; display: inline-block;">({{ user.username }})</div>
            </h4>
            <h6 class="card-title text-left mt-md-3">{{ user.country }}</h6>
            <h6 class="card-title text-left mt-md-1">{{ user.occupation }}</h6>
            <h6 class="card-title text-left mt-md-1">{{ user.address }}</h6>
            <h6 class="card-title text-left mt-md-1">{{ user.phone }}</h6>
            <h6 class="card-title text-left mt-md-1">{{ user.bio }}</h6>
            <h6 class="card-title text-left mt-md-1"><a [href]="user.website">{{ user.website }}</a></h6>
        </div>
        <div class="col-2">
            <!-- <div class="btn-group"> -->
            <a href="/editProfile" class="btn btn-primary mb-md-2">
                <fa-icon [icon]="faPencilAlt" size="1x"></fa-icon>
            </a>
            <br/>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                <fa-icon [icon]="faShareAlt" size="1x"></fa-icon>
            </button>
            <!-- </div> -->

            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-dark" id="exampleModalLongTitle">Share Profile</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-dark">
                            <button class="btn" shareButton="facebook" url="{{shareLink}}">
                                <fa-icon [icon]="faFacebookSquare" size="2x"></fa-icon>
                            </button>
                            <button class="btn" shareButton="twitter" url="{{shareLink}}">
                                <fa-icon [icon]="faTwitter" size="2x"></fa-icon>
                            </button>
                            <button class="btn" shareButton="linkedin" url="{{shareLink}}">
                                <fa-icon [icon]="faLinkedin" size="2x"></fa-icon>
                            </button>
                            <button class="btn" shareButton="whatsapp" url="{{shareLink}}">
                                <fa-icon [icon]="faWhatsapp" size="2x" [styles]="{'color':'green'}"></fa-icon>
                            </button>
                            <button class="btn" shareButton="telegram" url="{{shareLink}}">
                                <fa-icon [icon]="faTelegram" size="2x"></fa-icon>
                            </button>
                            <br />
                            <div class="card">
                                <div class="card-header" #container>
                                    <div class="row">
                                        <div class="col-11 mt-md-2"><a href={{shareLink}}>{{shareLink}}</a></div>
                                        <div class="col-1"><button class="btn float-right" ngxClipboard [cbContent]="shareLink" [container]="container">
                                            <fa-icon style="color: grey;" [icon]="faCopy" size="lg"></fa-icon>
                                        </button></div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" #container2>
                                    <div class="row">
                                        <div class="col-11"><code>&lt;iframe src="{{iFrameLink}}" title="User Profile" width="500" height="500"&gt;&lt;/iframe&gt;</code></div>
                                        <div class="col-1"><button class="btn float-right" ngxClipboard [cbContent]="copyIFrameLink" [container]="container2">
                                            <fa-icon style="color: grey;" [icon]="faCopy" size="lg"></fa-icon>
                                        </button></div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="embed-responsive embed-responsive-4by3"> -->
                                <iframe class="embed-responsive-item" [src]="iFrameLink | safe: 'resourceUrl'" title="User Profile" width="500" height="500">
                                </iframe>
                            <!-- </div> -->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container p-3 my-3 bg-primary text-white">
    <div class="row">
        <div class="col-6 bg-primary text-white border-0">
            <h6 class="card-title text-left mt-md-3 center" style="margin: 15px">SDGs: 
                <div *ngIf="user.SDGs.length == 0" style="display:inline-block;">
                    -
                </div>
                <div *ngFor="let sdg of user.SDGs" style="display:inline-block;">
                    <button class="sdg sdg{{sdg}} mr-md-1">{{sdg}}</button>
                </div>
            </h6>
            <h6 *ngIf=isIndividual class="card-title text-left mt-md-3 center" style="margin: 15px">Skills:
                <div *ngIf="user.skills.length == 0" style="display:inline-block;">
                    -
                </div>
                <div *ngFor="let s of user.skills" style="display: inline-block;">
                    <button class="btn btn-secondary mr-md-1 rounded-pill">{{s}}</button>
                </div>
            </h6>
        </div>
        <div class="col-3 bg-primary text-white border-0" *ngIf=isIndividual>
            <h6 class="card-title text-left mt-md-3 center" style="margin: 15px">My Points: {{ user.points }}</h6>
            <h6 class="card-title text-left mt-md-3 center" style="margin: 15px">Gender: {{ user.gender }}</h6>
        </div>
        <div class="col-3 bg-primary text-white border-0" *ngIf=isIndividual>
            <h6 class="card-title text-left mt-md-3" style="margin: 15px">My Wallet: {{ user.wallet }}</h6>
        </div>
    </div>
</div>

<div class="container" style="height: 100%;">
    <div class="row">
        <div class="card" style="width: 50%; float: left;">
            <!-- <div class="card"> -->
            <div class="card-body w-100">
                <h5 class="card-title">My Current Projects</h5>
                <div *ngIf="currentProj.length == 0">
                    Start or join a new project now!
                </div>
                <div *ngFor="let proj of currentProj">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="row">
                                <!--div class="card border-0" style="width:20%">
                                    <div *ngIf="b.imgPath == '' ">
                                        <img class="card-img-top rounded-circle img-fluid mx-auto d-block" src="../../assets/img/profilePic_Placeholder.png" style="margin:15px; width: 50px; height: 50px; object-fit: cover;"
                                            alt="Badge picture">
                                    </div>
                                    <div *ngIf="b.imgPath.length != 0">
                                        <img class="card-img-top rounded-circle img-fluid mx-auto d-block" src={{b.imgPath}} style="margin:15px; width: 50px; height: 50px; object-fit: cover;"
                                            alt="Badge picture">
                                    </div>
                                </div-->
                                <div class="card border-0" style="width:80%">
                                    <h6 class="card-title text-left mt-md-3" style="margin-left: 5%;"> Title: {{proj.title}} </h6>
                                    <h6 class="card-title text-left mt-md-3" style="margin-left: 5%;"> Description: {{proj.desc}} </h6>
                                </div>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>

            <div class="card-body w-100">
                <h5 class="card-title">My Past Projects</h5>
                <div *ngIf="pastProj.length == 0">
                    Start or join a new project now!
                </div>
                <div *ngFor="let project of pastProj">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="row">
                                <!--div class="card border-0" style="width:20%">
                                        <div *ngIf="b.imgPath == '' ">
                                            <img class="card-img-top rounded-circle img-fluid mx-auto d-block" src="../../assets/img/profilePic_Placeholder.png" style="margin:15px; width: 50px; height: 50px; object-fit: cover;"
                                                alt="Badge picture">
                                        </div>
                                        <div *ngIf="b.imgPath.length != 0">
                                            <img class="card-img-top rounded-circle img-fluid mx-auto d-block" src={{b.imgPath}} style="margin:15px; width: 50px; height: 50px; object-fit: cover;"
                                                alt="Badge picture">
                                        </div>
                                    </div-->
                                <div class="card border-0" style="width:80%">
                                    <h6 class="card-title text-left mt-md-3" style="margin-left: 5%;"> Title: {{project.title}} </h6>
                                    <h6 class="card-title text-left mt-md-3" style="margin-left: 5%;"> Description: {{project.desc}} </h6>
                                </div>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>
            <!-- </div> -->
        </div>

        <div class="card" style="width: 50%; float: right;">
            <div class="ml-auto" style="width: 100%">
                <div class="card-body" *ngIf=isIndividual>
                    <h5 class="card-title">My Badges</h5>
                    <div *ngIf="badges.length == 0">
                        Contribute to collect points and unlock badges!
                    </div>
                    <div *ngFor="let b of badges">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="card border-0" style="width:20%">
                                        <div *ngIf="b.imgPath == '' ">
                                            <img class="card-img-top rounded-circle img-fluid mx-auto d-block" src="../../assets/img/profilePic_Placeholder.png" style="margin:15px; width: 50px; height: 50px; object-fit: cover;"
                                                alt="Badge picture">
                                        </div>
                                        <div *ngIf="b.imgPath.length != 0">
                                            <img class="card-img-top rounded-circle img-fluid mx-auto d-block" src="../../assets/img/badge.png" style="margin:15px; width: 50px; height: 50px; object-fit: cover;"
                                                alt="Badge picture">
                                        </div>
                                    </div>
                                    <div class="card border-0" style="width:80%">
                                        <h6 class="card-title text-left mt-md-3" style="margin-left: 5%;"> Title: {{b.title}} </h6>
                                        <h6 class="card-title text-left mt-md-3" style="margin-left: 5%;"> Description: {{b.description}} </h6>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="card-body" *ngIf=!isIndividual>
                    <h5 class="card-title">My Affiliation</h5>
                    <a href="/institution/affiliation">See affiliated users</a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">My Resources</h5>

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="personal-tab" data-toggle="tab" href="#personal" role="tab" aria-controls="personal" aria-selected="true">Personal Feed</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="knowledge-tab" data-toggle="tab" href="#knowledge" role="tab" aria-controls="knowledge" aria-selected="false">Knowledge Resources</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="offer-tab" data-toggle="tab" href="#offer" role="tab" aria-controls="offer" aria-selected="false">Resource Offers</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="personal" role="tabpanel" aria-labelledby="personal-tab">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="card border-0" style="width:20%">
                                            <img class="card-img-top rounded-circle img-fluid mx-auto d-block" style="float: left; margin:15px; width: 50px; height: 50px; object-fit: cover;"
                                                src="../../assets/img/profilePic_Placeholder.png" alt="Profile picture">
                                        </div>
                                        <div class="card border-0" style="width:80%">
                                            <h6 class="card-title text-left mt-md-3" style="margin: 10px;"> Created Project 1</h6>
                                            <h6 class="card-title text-left mt-md-3" style="margin: 10px;"> Project Owner</h6>
                                            <h6 class="card-title text-left mt-md-3" style="margin: 10px;"> Created 10/9/2020</h6>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="card border-0" style="width:20%">
                                            <img class="card-img-top rounded-circle img-fluid mx-auto d-block" style="float: left; margin:15px; width: 50px; height: 50px; object-fit: cover;"
                                                src="../../assets/img/profilePic_Placeholder.png" alt="Profile picture">
                                        </div>
                                        <div class="card border-0" style="width:80%">
                                            <h6 class="card-title text-left mt-md-3" style="margin: 10px;"> Joined Project 2</h6>
                                            <h6 class="card-title text-left mt-md-3" style="margin: 10px;"> Manpower Contributor</h6>
                                            <h6 class="card-title text-left mt-md-3" style="margin: 10px;"> Joined 12/9/2020</h6>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="knowledge" role="tabpanel" aria-labelledby="knowledge-tab">
                            <div *ngIf="knowledge.length == 0" class="mt-md-3">
                                Start sharing your knowledge resource!
                            </div>
                            <div *ngFor="let k of knowledge">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <div class="row">
                                            <!--div class="card border-0" style="width:20%">
                                                <div *ngIf="b.imgPath == '' ">
                                                    <img class="card-img-top rounded-circle img-fluid mx-auto d-block" src="../../assets/img/profilePic_Placeholder.png" style="margin:15px; width: 50px; height: 50px; object-fit: cover;"
                                                        alt="Badge picture">
                                                </div>
                                                <div *ngIf="b.imgPath.length != 0">
                                                    <img class="card-img-top rounded-circle img-fluid mx-auto d-block" src={{b.imgPath}} style="margin:15px; width: 50px; height: 50px; object-fit: cover;"
                                                        alt="Badge picture">
                                                </div>
                                            </div-->
                                            <div class="card border-0" style="width:80%">
                                                <h6 class="card-title text-left mt-md-3" style="margin-left: 5%;"> Title: {{k.title}} </h6>
                                                <h6 class="card-title text-left mt-md-3" style="margin-left: 5%;"> Description: {{k.desc}} </h6>
                                            </div>
                                        </div>

                                    </li>
                                </ul>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="offer" role="tabpanel" aria-labelledby="offer-tab">
                            <div *ngIf="item.length == 0" class="mt-md-3">
                                Start offering your item/venue/manpower resources!
                            </div>
                            <div *ngFor="let i of item">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <div class="row">
                                            <!--div class="card border-0" style="width:20%">
                                                        <div *ngIf="b.imgPath == '' ">
                                                            <img class="card-img-top rounded-circle img-fluid mx-auto d-block" src="../../assets/img/profilePic_Placeholder.png" style="margin:15px; width: 50px; height: 50px; object-fit: cover;"
                                                                alt="Badge picture">
                                                        </div>
                                                        <div *ngIf="b.imgPath.length != 0">
                                                            <img class="card-img-top rounded-circle img-fluid mx-auto d-block" src={{b.imgPath}} style="margin:15px; width: 50px; height: 50px; object-fit: cover;"
                                                                alt="Badge picture">
                                                        </div>
                                                    </div-->
                                            <div class="card border-0" style="width:80%">
                                                <h6 class="card-title text-left mt-md-3" style="margin-left: 5%;"> Title: {{i.title}} </h6>
                                                <h6 class="card-title text-left mt-md-3" style="margin-left: 5%;"> Description: {{i.desc}} </h6>
                                            </div>
                                        </div>

                                    </li>
                                </ul>
                            </div>

                            <div *ngFor="let m of manpower">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <div class="row">
                                            <!--div class="card border-0" style="width:20%">
                                                    <div *ngIf="b.imgPath == '' ">
                                                        <img class="card-img-top rounded-circle img-fluid mx-auto d-block" src="../../assets/img/profilePic_Placeholder.png" style="margin:15px; width: 50px; height: 50px; object-fit: cover;"
                                                            alt="Badge picture">
                                                    </div>
                                                    <div *ngIf="b.imgPath.length != 0">
                                                        <img class="card-img-top rounded-circle img-fluid mx-auto d-block" src={{b.imgPath}} style="margin:15px; width: 50px; height: 50px; object-fit: cover;"
                                                            alt="Badge picture">
                                                    </div>
                                                </div-->
                                            <div class="card border-0" style="width:80%">
                                                <h6 class="card-title text-left mt-md-3" style="margin-left: 5%;"> Title: {{m.title}} </h6>
                                                <h6 class="card-title text-left mt-md-3" style="margin-left: 5%;"> Description: {{m.desc}} </h6>
                                            </div>
                                        </div>

                                    </li>
                                </ul>
                            </div>

                            <div *ngFor="let v of venue">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <div class="row">
                                            <!--div class="card border-0" style="width:20%">
                                                        <div *ngIf="b.imgPath == '' ">
                                                            <img class="card-img-top rounded-circle img-fluid mx-auto d-block" src="../../assets/img/profilePic_Placeholder.png" style="margin:15px; width: 50px; height: 50px; object-fit: cover;"
                                                                alt="Badge picture">
                                                        </div>
                                                        <div *ngIf="b.imgPath.length != 0">
                                                            <img class="card-img-top rounded-circle img-fluid mx-auto d-block" src={{b.imgPath}} style="margin:15px; width: 50px; height: 50px; object-fit: cover;"
                                                                alt="Badge picture">
                                                        </div>
                                                    </div-->
                                            <div class="card border-0" style="width:80%">
                                                <h6 class="card-title text-left mt-md-3" style="margin-left: 5%;"> Title: {{v.title}} </h6>
                                                <h6 class="card-title text-left mt-md-3" style="margin-left: 5%;"> Description: {{v.desc}} </h6>
                                            </div>
                                        </div>

                                    </li>
                                </ul>
                            </div>

                            <!--ul class="list-group">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="card border-0" style="width:20%">
                                            <img class="card-img-top rounded-circle img-fluid mx-auto d-block" style="float: left; margin:15px; width: 50px; height: 50px; object-fit: cover;"
                                                src="../../assets/img/green_exclamation.jpg" alt="Offer Icon">
                                        </div>
                                        <div class="card border-0" style="width:80%">
                                            <h6 class="card-title text-left mt-md-3" style="margin: 10px;"> Project Title 5</h6>
                                            <h6 class="card-title text-left mt-md-3" style="margin: 10px;"> Manpower Offered</h6>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="card border-0" style="width:20%">
                                            <img class="card-img-top rounded-circle img-fluid mx-auto d-block" style="float: left; margin:15px; width: 50px; height: 50px; object-fit: cover;"
                                                src="../../assets/img/green_exclamation.jpg" alt="Offer Icon">
                                        </div>
                                        <div class="card border-0" style="width:80%">
                                            <h6 class="card-title text-left mt-md-3" style="margin: 10px;"> Project Title 6</h6>
                                            <h6 class="card-title text-left mt-md-3" style="margin: 10px;"> Venue Offered</h6>
                                        </div>
                                    </div>
                                </li>
                            </ul-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>