<p-toast key="toastMsg" [baseZIndex]="100"></p-toast>

<div class="container p-3 my-3 bg-light border">
    <div class="row">
        <div class="col-3">
            <div *ngIf="user.profilePic.length == 0">
                <img class="card-img-top rounded-circle img-fluid mx-auto d-block" src="../../assets/img/profilePic_Placeholder.png" style="margin: 10px; width: 150px; height: 150px; object-fit: cover;"
                    alt="Profile picture">
            </div>
            <div *ngIf="user.profilePic.length != 0">
                <img class="card-img-top rounded-circle img-fluid mx-auto d-block" src={{user.profilePic}} style="margin: 10px; width: 150px; height: 150px; object-fit: cover;"
                    alt="Profile picture">
            </div>
            <div *ngIf=isVerified>
                <img src="../../assets/img/verified.jpg" style="width: 30px; height: 30px;" class="center">
            </div>
        </div>
        <div class="col-7">
            <h4 class="card-title text-left mt-md-3">{{ user.name }}
                <div *ngIf="isIndividual && user.salutation.length > 0" style="font-size:medium; display: inline-block;">({{ user.salutation }})</div>
                <div *ngIf="isIndividual && user.salutation.length == 0" style="font-size:medium; display: inline-block;">(-)</div>
            </h4>
            <div class="mt-md-1">{{ user.username }}</div>
            <div class="mt-md-1"><i class="pi pi-map-marker"></i>&nbsp;{{ user.country }}</div>
            <div *ngIf="user.occupation" class="mt-md-1"><i class="pi pi-user"></i>&nbsp;{{ user.occupation }}</div>
            <div *ngIf="user.address" class="mt-md-1"><i class="pi pi-home"></i>&nbsp;{{ user.address }}</div>
            <div *ngIf="user.phone" class="mt-md-1"><fa-icon [icon]="faPhoneAlt"></fa-icon>&nbsp;{{ user.phone }}</div>
            <div *ngIf="user.website" class="mt-md-1">
                <i class="pi pi-globe"></i>&nbsp;<a *ngIf="user.website" [href]="user.website">{{ user.website }}</a>
            </div>
        </div>
        <div class="col-2">
            <div *ngIf="isOwner && isLoggedIn">
                <a href="/editProfile" class="btn btn-primary mb-md-2">
                    <fa-icon [icon]="faPencilAlt" size="1x"></fa-icon>
                </a>
                <br/>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary mb-md-2" data-toggle="modal" data-target="#exampleModalCenter">
                    <fa-icon [icon]="faShareAlt" size="1x"></fa-icon>
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-dark" id="exampleModalLongTitle">Share Profile</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body text-dark">
                                <button class="btn fb" shareButton="facebook" url="{{shareLink}}">
                                    <fa-icon [icon]="faFacebookSquare" size="2x"></fa-icon>
                                </button>
                                <button class="btn twitter" shareButton="twitter" url="{{shareLink}}">
                                    <fa-icon [icon]="faTwitter" size="2x"></fa-icon>
                                </button>
                                <button class="btn linkedin" shareButton="linkedin" url="{{shareLink}}">
                                    <fa-icon [icon]="faLinkedin" size="2x"></fa-icon>
                                </button>
                                <button class="btn whatsapp" shareButton="whatsapp" url="{{shareLink}}">
                                    <fa-icon [icon]="faWhatsapp" size="2x"></fa-icon>
                                </button>
                                <button class="btn telegram" shareButton="telegram" url="{{shareLink}}">
                                    <fa-icon [icon]="faTelegram" size="2x"></fa-icon>
                                </button>
                                <br />
                                <div class="card">
                                    <div class="card-header" #container>
                                        <div class="row">
                                            <div class="col-11 mt-md-2">
                                                <a href={{shareLink}}>{{shareLink}}</a>
                                            </div>
                                            <div class="col-1">
                                                <button class="btn float-right" (click)="copied()" ngxClipboard [cbContent]="shareLink" [container]="container">
                                                    <fa-icon style="color: grey;" [icon]="faCopy" size="lg"></fa-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" #container2>
                                        <div class="row">
                                            <div class="col-11">
                                                <code>&lt;iframe src="{{iFrameLink}}" title="User Profile" width="500" height="500"&gt;&lt;/iframe&gt;</code>
                                            </div>
                                            <div class="col-1">
                                                <button class="btn float-right" (click)="copied()" ngxClipboard [cbContent]="copyIFrameLink" [container]="container2">
                                                    <fa-icon style="color: grey;" [icon]="faCopy" size="lg"></fa-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="embed-responsive embed-responsive-4by3"> -->
                                <div class="text-center">
                                    <iframe class="embed-responsive-item" [src]="iFrameLink | safe: 'resourceUrl'" title="User Profile" width="500" height="500">
                                    </iframe>
                                </div>
                                <!-- </div> -->
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="!isOwner && isLoggedIn">
                <button class="btn btn-primary" data-toggle="modal" data-target="#ReportModal">
                    <i class="pi pi-ellipsis-h"></i>
                </button>

                <div class="modal fade text-dark" data-backdrop="static" id="ReportModal" tabindex="-1" role="dialog" aria-labelledby="ReportModal"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div *ngIf="isReport" class="modal-header">
                                <h5 class="modal-title" id="ReportModalLabel">Report User</h5>
                                <button type="button" (click)="closeModal()" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div *ngIf="giveTestimonial" class="modal-header">
                                <h5 class="modal-title" id="GiveTestimonialModalLabel">Give Testimonial</h5>
                                <button type="button" (click)="closeModal()" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div *ngIf="requestTestimonial" class="modal-header">
                                <h5 class="modal-title" id="RequestTestimonialModalLabel">Request Testimonial</h5>
                                <button type="button" (click)="closeModal()" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div *ngIf="!isReport && (!giveTestimonial && !requestTestimonial)">
                                    <button class="btn btn-block" style="color: blue;" (click)="giveTestimonialYes(); findCommonProjects()">Give testimonial for {{user.name}}</button>
                                    <hr>
                                    <button class="btn btn-block" style="color: blue;" (click)="requestTestimonialYes(); findCommonProjects()">Request testimonial from {{user.name}}</button>
                                    <hr>
                                </div>
                                
                                <div *ngIf="!isReport">
                                    <button class="btn btn-block" (click)="chatUser('normal')">Chat</button>
                                    <hr>
                                    <div *ngIf="isAdmin">
                                        <button class="btn btn-block" (click)="chatUser('admin')">Chat as Admin</button>
                                        <hr>
                                    </div>
                                    <button class="btn btn-block" style="color: red;" (click)="clickReport()">Report User</button>
                                    <hr>
                                    <button class="btn btn-block" data-dismiss="modal">Cancel</button>
                                </div>
                                <div *ngIf="giveTestimonial">
                                    <div *ngIf="!giveTestimonialSuccessful">
                                        <form name="form" (ngSubmit)="gtf.form.valid && submitGiveTestimonial()" #gtf="ngForm" novalidate>
                                            <div class="form-group">
                                                <label for="project" class="col-form-label"><b>Project</b></label>
                                                <div>
                                                    Please indicate a project that you have worked on with {{user.name}}.
                                                    <div *ngIf="commonProjects.length == 0" style="color: red;">You do not have any projects in common with {{user.name}}.</div>
                                                    <select *ngIf="commonProjects.length != 0" class="form-control" name="project" [(ngModel)]="form.projectId" required #project="ngModel">
                                                        <option *ngFor="let p of commonProjects" value={{p.id}}>{{p.title}}</option>
                                                    </select>
                                                </div>
                                                <div class="alert-danger" *ngIf="gtf.submitted && !project">Project is required</div>
                                            </div>
                                            <div class="form-group">
                                                <label for="desc" class="col-form-label"><b>Testimonial</b></label>
                                                <div>
                                                  <textarea rows="5" class="form-control" name="desc" [(ngModel)]="form.desc" required #desc="ngModel"></textarea>
                                                </div>
                                                <div class="alert-danger" *ngIf="gtf.submitted && desc.invalid">
                                                  <div *ngIf="desc.errors.required">Description is required</div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary btn-block">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div *ngIf="giveTestimonialSuccessful">
                                        <div class="alert alert-success">
                                            Your testimonial has been submitted successfully; {{user.name}} will be notified.<br>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="requestTestimonial">
                                    <div *ngIf="!requestTestimonialSuccessful">
                                        <form name="form" (ngSubmit)="rtf.form.valid && submitRequestTestimonial()" #rtf="ngForm" novalidate>
                                            <div class="form-group">
                                                <label for="project" class="col-form-label"><b>Project</b></label>
                                                <div>
                                                    Please indicate a project that you have worked on with {{user.name}}.
                                                    <div *ngIf="commonProjects.length == 0" style="color: red;">You do not have any current or past projects.</div>
                                                    <select *ngIf="commonProjects.length != 0" class="form-control" name="project" [(ngModel)]="form.projectId" required #project="ngModel">
                                                        <option *ngFor="let p of commonProjects" value={{p.id}}>{{p.title}}</option>
                                                    </select>
                                                </div>
                                                <div class="alert-danger" *ngIf="rtf.submitted && !project">Project is required</div>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary btn-block">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div *ngIf="requestTestimonialSuccessful">
                                        <div class="alert alert-success">
                                            Success: {{user.name}} will be notified of your testimonial request.<br>
                                            You can monitor the status of your request under <a href="/testimonial">Testimonials</a>.
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="isReport">
                                    <div *ngIf="!isReportSuccessful">
                                        <form name="form" (ngSubmit)="f.form.valid && submitReport()" #f="ngForm" novalidate>
                                            <div class="form-group">
                                                <label for="title" class="col-form-label">Title</label>
                                                <div>
                                                    <input type="text" class="form-control" name="title" [(ngModel)]="form.title" required #title="ngModel" />
                                                </div>
                                                <div class="alert-danger" *ngIf="f.submitted && title.invalid">
                                                    <div *ngIf="title.errors.required">Title is required</div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="summary" class="col-form-label">Summary</label>
                                                <div>
                                                    <textarea rows="5" class="form-control" name="summary" [(ngModel)]="form.summary" required #summary="ngModel"></textarea>
                                                </div>
                                                <div class="alert-danger" *ngIf="f.submitted && summary.invalid">
                                                    <div *ngIf="summary.errors.required">Summary is required</div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary btn-block">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div *ngIf="isReportSuccessful">
                                        <div class="alert alert-success">
                                            Your report has been submitted successfully.
                                            <br> You can monitor the status of your report under
                                            <a href="/reports-submitted">My Reports</a>.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div *ngIf="user.bio" class="card bg-light mt-2">
    <div class="card-body">
        <h5>Bio</h5>
        <div class="text-justify">
            {{user.bio}}
        </div>
    </div>
</div>

<div class="card bg-light mt-2">
    <div class="card-body">
                <h5>SDGs
                    <button class="btn btn-primary float-right" data-toggle="modal" data-target="#SDGtargets">
                        See SDG Targets
                    </button>
                </h5>
                <div *ngIf="user.SDGs.length == 0">
                    -
                </div>
                <div *ngFor="let sdg of user.SDGs" style="display:inline-block;">
                    <button class="sdg sdg{{sdg}} mr-md-1">{{sdg}}</button>
                </div>
                <div *ngIf="isIndividual">
                    <h5 class="mt-2">Skills
                        <button *ngIf="isIndividual" class="btn btn-primary float-right" data-toggle="modal" data-target="#individualAffiliations">
                            See affiliated institutions
                        </button>
                    </h5>
                    <div *ngIf="user.skills.length == 0">
                        -
                    </div>
                    <div *ngFor="let s of user.skills" style="display: inline-block;">
                        <button class="btn btn-secondary mr-md-1 rounded-pill">{{s}}</button>
                    </div>
                </div>
    </div>
</div>

<div *ngIf="isOwner && isIndividual" class="row mt-2">
    <div class="col-4">
        <div class="card bg-light p-3">
            <h5>My Points</h5>
            <div>{{user.points}}</div>
        </div>
    </div>
    <div class="col-4">
        <div class="card bg-light p-3">
            <h5>My Wallet</h5>
            <div>{{user.wallet}}</div>
        </div>
    </div>
    <div class="col-4">
        <div class="card bg-light p-3">
            <h5>Tier</h5>
            <span *ngIf="user.tier.length == 0">-</span>
            <span class="rounded-pill pl-2 pr-2 {{user.tier}}" style="width: fit-content;">{{ user.tier }}</span>
        </div>
    </div>
</div>

<!-- Modal See SDG targets -->
<div class="modal fade" id="SDGtargets" tabindex="-1" role="dialog" aria-labelledby="SDGtargetsTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark" id="exampleModalLongTitle">SDG Targets</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-dark">
                <div *ngIf="targets.length == 0">
                    No SDG targets.
                </div>
                <div *ngFor="let t of targets">
                    <div class="card">
                        <div class="row p-2">
                            <div class="col-1">
                                <button class="sdg sdg{{t.SDG}} mr-md-1">{{t.SDG}}.{{t.targetCode}}</button>
                            </div>
                            <div class="col-11 mt-md-2">
                                <h6>{{t.desc}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" *ngIf="isOwner && isLoggedIn">
                <a class="btn btn-primary mb-md-2" href="/edit-target?type=user">
                    <fa-icon [icon]="faPencilAlt" size="1x">Edit SDG Targets</fa-icon> Edit SDG Targets
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Modal See affiliated institutions -->
<div class="modal fade" id="individualAffiliations" tabindex="-1" role="dialog" aria-labelledby="individualAffiliationsTitle"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title text-dark" id="exampleModalLongTitle">My Affiliations</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body text-dark">
            <div *ngIf="indAffiliations.length == 0">
                No affiliated institution.
            </div>
            <div *ngFor="let a of indAffiliations">
                <div class="card">
                    <div class="row p-2">
                        <div class="col-3">
                            <img *ngIf="a.profilePic.length == 0" src="../../assets/img/profilePic_Placeholder.png" class="img-fluid rounded-circle"
                                style="height: 60px; width: 60px; object-fit: cover;" alt="Profile pic">
                            <img *ngIf="a.profilePic.length > 0" src={{a.profilePic}} class="img-fluid rounded-circle" style="height: 60px; width: 60px; object-fit: cover;"
                                alt="Profile pic">
                        </div>
                        <div class="col-9 mt-md-2">
                            <h5>
                                <a href="/profile?username={{a.username}}&userType=institution">{{a.name}}</a>
                            </h5>
                            {{a.username}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
</div>

<!-- <div class="p-3 mt-2 bg-dark text-white">
    <div class="row">
        <div class="col-6">
            <h6 class="card-title text-left mt-md-3" style="margin: 15px">SDGs:
                <div *ngIf="user.SDGs.length == 0" style="display:inline-block;">
                    -
                </div>
                <div *ngFor="let sdg of user.SDGs" style="display:inline-block;">
                    <button class="sdg sdg{{sdg}} mr-md-1">{{sdg}}</button>
                </div>
            </h6>
            <h6 *ngIf=isIndividual class="card-title text-left mt-md-3" style="margin: 15px">Skills:
                <div *ngIf="user.skills.length == 0" style="display:inline-block;">
                    -
                </div>
                <div *ngFor="let s of user.skills" style="display: inline-block;">
                    <button class="btn btn-secondary mr-md-1 rounded-pill">{{s}}</button>
                </div>
            </h6>
            <h6 class="card-title text-left mt-md-3" style="margin: 15px">
                <button type="button" class="btn btn-warning ml-md-2 mt-md-4" data-toggle="modal" data-target="#SDGtargets">
                    SDG Targets
                </button>
            </h6>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-6 bg-primary text-white border-0" *ngIf="isIndividual">
                    <h6 *ngIf="isOwner" class="card-title text-left mt-md-3">My Points: {{ user.points }}</h6>
                    Tier:
                    <span class="rounded-pill pl-2 pr-2 {{user.tier}}">{{ user.tier }}</span>
                </div>
                <div class="col-6 bg-primary text-white border-0" *ngIf="isIndividual && isOwner">
                    <h6 class="card-title text-left mt-md-3">My Wallet: {{ user.wallet }}</h6>
                </div>
            </div>
            <div class="row">
                <button *ngIf="isIndividual" type="button" class="btn btn-warning ml-md-2 mt-md-4" data-toggle="modal" data-target="#individualAffiliations">
                    See affiliated institutions
                </button>
            </div>
        </div>
    </div>
</div> -->

<div class="mt-2 mb-4" style="height: 100%;">
    <div class="row">
        <div class="card" style="width: 50%; float: left;">
            <!-- <div class="card"> -->
            <div class="card-body w-100">
                <h5 class="card-title">My Current Projects</h5>
                <div *ngIf="currentProj.length == 0">
                    <div *ngIf="isOwner">
                        Start or join a new project now!
                    </div>
                    <div *ngIf="!isOwner">
                        No project found.
                    </div>
                </div>
                <div *ngIf="currentProj.length > 0">
                    <div *ngFor="let proj of currentProj; let p = index">
                        <div *ngIf="p<3">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="card border-0" style="width:20%">
                                            <div *ngIf="proj.imgPath == '' ">
                                                <img class="card-img-top rounded-circle img-fluid mx-auto d-block" src="../../assets/img/team.jpg" style="margin:15px; width: 50px; height: 50px; object-fit: cover;"
                                                    alt="Project picture">
                                            </div>
                                            <div *ngIf="proj.imgPath.length != 0">
                                                <img class="card-img-top rounded-circle img-fluid mx-auto d-block" src="https://localhost:8080{{proj.imgPath}}" style="margin:15px; width: 50px; height: 50px; object-fit: cover;"
                                                    alt="Project picture">
                                            </div>
                                        </div>
                                        <div class="card border-0" style="width:80%">
                                            <h5 class="card-title text-left mt-md-3" style="margin-left: 5%;">
                                                <a href="/project/projectDetails?id={{proj.id}}">{{proj.title}}</a>
                                            </h5>
                                            <h6 class="card-title text-left text-secondary mt-md-1 p-text-nowrap p-text-truncate" style="width: 90%; margin-left: 5%;">{{proj.desc}} </h6>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a href="/project/myProjects?username={{user.username}}&type={{userType}}">See all</a>
                </div>
            </div>

            <div class="card-body w-100" *ngIf=!isIndividual>
                <h5 class="card-title">Affiliated Users</h5>
                <div *ngFor="let member of institutionAffiliations; let p = index">
                    <div *ngIf="p<3">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="card border-0" style="width:20%">
                                        <div *ngIf="member.profilePic == '' ">
                                            <img class="card-img-top rounded-circle img-fluid mx-auto d-block" src="../../assets/img/profilePic_Placeholder.png" style="margin:15px; width: 50px; height: 50px; object-fit: cover;"
                                                alt="Profile picture">
                                        </div>
                                        <div *ngIf="member.profilePic.length != 0">
                                            <img class="card-img-top rounded-circle img-fluid mx-auto d-block" src="{{member.profilePic}}" style="margin:15px; width: 50px; height: 50px; object-fit: cover;"
                                                alt="Profile picture">
                                        </div>
                                    </div>
                                    <div class="card border-0" style="width:80%">
                                        <h5 class="card-title text-left mt-md-3" style="margin-left: 5%;"><a href="/profile?username={{member.username}}&userType=individual">{{member.name}}</a></h5>
                                        <h6 class="card-title text-left text-secondary" style="margin-left: 5%;">{{member.country}}</h6>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <a href="/institution/affiliation?username={{username}}">See all</a>
            </div>
            <div class="card-body">
                <h5 class="card-title">My Activities</h5>

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="personal-tab" data-toggle="tab" href="#personal" role="tab" aria-controls="personal" aria-selected="true">Feed</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="knowledge-tab" data-toggle="tab" href="#knowledge" role="tab" aria-controls="knowledge" aria-selected="false">Knowledges</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="offer-tab" data-toggle="tab" href="#offer" role="tab" aria-controls="offer" aria-selected="false">Resource Offers</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade show active scroll" id="personal" role="tabpanel" aria-labelledby="personal-tab">
                        <ul class="list-group">
                            <div *ngIf="feed.length == 0" class="mt-3">
                                No feed found.
                            </div>
                            <li *ngFor="let f of feed" class="list-group-item">
                                <div class="row">
                                    <div class="col-2">
                                        <div *ngIf="user.profilePic.length == 0">
                                            <img class="rounded-circle img-fluid" style="width: 50px; height: 50px; object-fit: cover;"
                                                src="../../assets/img/profilePic_Placeholder.png" alt="Profile picture">
                                        </div>
                                        <div *ngIf="user.profilePic.length > 0">
                                            <img class="rounded-circle img-fluid border" style="width: 50px; height: 50px; object-fit: cover;"
                                                src="{{user.profilePic}}" alt="Profile picture">
                                        </div>
                                    </div>
                                    <div class="col-10">
                                        <h6 class="card-title">{{f.title}}
                                            <span class="float-right" style="font-size: small;">{{formatDate(f.createdAt)}}</span>
                                        </h6>
                                        <h6 class="card-title mb-0 text-secondary" style="font-size:90%;">{{f.desc}}</h6>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="knowledge" role="tabpanel" aria-labelledby="knowledge-tab">
                        <div *ngIf="knowledge.length == 0" class="mt-md-3">
                            No knowledge resource found.
                        </div>
                        <div *ngIf="knowledge.length > 0">
                            <div *ngFor="let k of knowledge; let z = index">
                                <div *ngIf="z<3">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <div class="card border-0">
                                                <h5 class="card-title text-left mt-md-3" style="margin-left: 5%;"><a href="/resource/resourceDetails?id={{k.id}}&type=knowledge">{{k.title}}</a></h5>
                                                <h6 class="card-title text-left text-secondary mt-md-1 p-text-nowrap p-text-truncate" style="width: 90%; margin-left: 5%;">{{k.desc}} </h6>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <a href="/resource/myResources?username={{user.username}}&type={{userType}}">See all</a>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="offer" role="tabpanel" aria-labelledby="offer-tab">
                        <div *ngIf="item.length == 0 && manpower.length == 0 && venue.length == 0 && paid.length == 0" class="mt-md-3">
                            No resource found.
                        </div>
                        <div *ngIf="resourceOffers.length > 0">
                        <div *ngFor="let ro of resourceOffers; let x = index">
                            <div *ngIf="x<3">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="card border-0" style="width:20%">
                                            <div *ngIf="ro.type == 'item' || ro.type == 'paid'">
                                                <div *ngIf="ro.imgPath == '' ">
                                                    <img class="card-img-top rounded-circle img-fluid mx-auto d-block" src="../../assets/img/item.png" style="margin:15px; width: 50px; height: 50px; object-fit: cover;"
                                                        alt="Item picture">
                                                </div>
                                                <div *ngIf="ro.imgPath.length != 0">
                                                    <img class="card-img-top rounded-circle img-fluid mx-auto d-block" src="https://localhost:8080{{ro.imgPath[0]}}" style="margin:15px; width: 50px; height: 50px; object-fit: cover;"
                                                        alt="Item picture">
                                                </div>
                                            </div>
                                            <div *ngIf="ro.type == 'manpower'">
                                                <div *ngIf="user.profilePic.length == 0">
                                                    <img class="card-img-top rounded-circle img-fluid mx-auto d-block" src="../../assets/img/profilePic_Placeholder.png" style="margin:15px; width: 50px; height: 50px; object-fit: cover;"
                                                        alt="Manpower picture">
                                                </div>
                                                <div *ngIf="user.profilePic.length != 0">
                                                    <img class="card-img-top rounded-circle img-fluid mx-auto d-block" src="{{user.profilePic}}" style="margin:15px; width: 50px; height: 50px; object-fit: cover;"
                                                        alt="Manpower picture">
                                                </div>
                                            </div>
                                            <div *ngIf="ro.type == 'venue'">
                                                <div *ngIf="ro.imgPath.length == 0 ">
                                                    <img class="card-img-top rounded-circle img-fluid mx-auto d-block" src="../../assets/img/venue.png" style="margin:15px; width: 50px; height: 50px; object-fit: cover;"
                                                        alt="Venue picture">
                                                </div>
                                                <div *ngIf="ro.imgPath.length != 0">
                                                    <img class="card-img-top rounded-circle img-fluid mx-auto d-block" src="https://localhost:8080{{ro.imgPath[0]}}" style="margin:15px; width: 50px; height: 50px; object-fit: cover;"
                                                        alt="Venue picture">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card border-0" style="width:80%">
                                            <h5 class="card-title text-left mt-md-3" style="margin-left: 5%;">
                                                <a *ngIf="ro.type != 'paid'" href="/resource/resourceDetails?id={{ro.id}}&type={{ro.type}}">{{ro.title}}</a>
                                                <a *ngIf="ro.type == 'paid'" href="/resource/paid/details?id={{ro.id}}">{{ro.title}}</a>
                                                <div *ngIf="ro.type != 'paid'" class="float-right">
                                                    <i class="pi pi-tag"></i>
                                                    <span class="ml-md-1 mr-md-2 {{ro.type}}type text-white rounded-sm" style="font-size: small;">&nbsp;{{ro.type}}&nbsp;</span>
                                                </div>
                                                <div *ngIf="ro.type == 'paid'" class="float-right">
                                                        <i class="pi pi-tag"></i>
                                                        <span class="ml-md-1 mr-md-2 {{ro.type}}type text-white rounded-sm" style="font-size: small;">&nbsp;{{ro.category}}&nbsp;</span>
                                                    </div>    
                                            </h5>
                                            <h6 class="card-title text-left text-secondary mt-1 p-text-nowrap p-text-truncate" style="width: 90%; margin-left: 5%;" *ngIf="ro.type =='paid'">
                                                    Price: US${{ro.price}}
                                            </h6>
                                            <h6 class="card-title text-left text-secondary mt-md-1 p-text-nowrap p-text-truncate" style="width: 90%; margin-left: 5%;">
                                                {{ro.desc}}
                                            </h6>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            </div>
                        </div>
                            <a href="/resource/myResources?username={{user.username}}&type={{userType}}">See all</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card" style="width: 50%; float: right;">
            <div class="ml-auto" style="width: 100%">
                <div class="card-body" *ngIf=isIndividual>
                    <h5 class="card-title">My Badges</h5>
                    <div *ngIf="badges.length == 0">
                        <div *ngIf="isOwner">
                            Start contributing to collect points and unlock badges!
                        </div>
                        <div *ngIf="!isOwner">
                            No badge found.
                        </div>
                    </div>
                    <div *ngFor="let b of badges">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="card border-0" style="width:20%">
                                        <div>
                                            <img class="card-img-top rounded-circle img-fluid mx-auto d-block" src="https://localhost:8080{{b.imgPath}}" style="margin:15px; width: 50px; height: 50px; object-fit: cover;"
                                                alt="Badge picture">
                                        </div>
                                    </div>
                                    <div class="card border-0" style="width:80%">
                                        <h5 class="card-title text-left mt-md-3" style="margin-left: 5%;">{{b.title}} </h5>
                                        <h6 class="card-title text-left text-secondary mt-md-1" style="margin-left: 5%;">{{b.description}} </h6>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="card-body">
                    <h5 class="card-title">My Past Involvements</h5>

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="admin-tab" data-toggle="tab" href="#admin" role="tab" aria-controls="admin" aria-selected="true">Founder/Admin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contributor-tab" data-toggle="tab" href="#contributor" role="tab" aria-controls="contributor" aria-selected="false">Contributor</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="admin" role="tabpanel" aria-labelledby="admin-tab">
                            <div *ngIf="pastAdminProj.length == 0">
                                <div class="card">
                                    <h6 class="card-title text-left text-muted m-3">No projects found.</h6>
                                </div>
                            </div>
                            <div *ngIf="pastAdminProj.length > 0">
                                <div *ngFor="let project of pastAdminProj; let p = index">
                                    <div *ngIf="p<3">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="card border-0" style="width:20%">
                                                        <div *ngIf="project.imgPath == '' ">
                                                            <img class="card-img-top rounded-circle img-fluid mx-auto d-block" src="../../assets/img/team.jpg" style="margin:15px; width: 50px; height: 50px; object-fit: cover;"
                                                                alt="Project picture">
                                                        </div>
                                                        <div *ngIf="project.imgPath.length != 0">
                                                            <img class="card-img-top rounded-circle img-fluid mx-auto d-block" src="https://localhost:8080{{project.imgPath}}" style="margin:15px; width: 50px; height: 50px; object-fit: cover;"
                                                                alt="Project picture">
                                                        </div>
                                                    </div>
                                                    <div class="card border-0" style="width:80%">
                                                        <h5 class="card-title text-left mt-md-3" style="margin-left: 5%;"><a href="/project/projectDetails?id={{project.id}}">{{project.title}}</a></h5>
                                                        <h6 class="card-title text-left text-secondary mt-md-1 p-text-nowrap p-text-truncate" style="width: 90%; margin-left: 5%;">{{project.desc}} </h6>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <a *ngIf="pastAdminProj.length != 0" href="/project/myProjects?username={{user.username}}&type={{userType}}">See all</a>
                            </div>
                        </div>
                        
                        <div class="tab-pane fade" id="contributor" role="tabpanel" aria-labelledby="contributor-tab">
                            <div *ngIf="pastContributorProj.length == 0">
                                <div class="card">
                                    <h6 class="card-title text-left text-muted m-3">No projects found.</h6>
                                </div>
                            </div>
                            <div *ngIf="pastContributorProj.length > 0">
                                <div *ngFor="let project of pastContributorProj; let p = index">
                                <div *ngIf="p<3">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="card border-0" style="width:20%">
                                                    <div *ngIf="project.imgPath == '' ">
                                                        <img class="card-img-top rounded-circle img-fluid mx-auto d-block" src="../../assets/img/team.jpg" style="margin:15px; width: 50px; height: 50px; object-fit: cover;"
                                                            alt="Project picture">
                                                    </div>
                                                    <div *ngIf="project.imgPath.length != 0">
                                                        <img class="card-img-top rounded-circle img-fluid mx-auto d-block" src="https://localhost:8080{{project.imgPath}}" style="margin:15px; width: 50px; height: 50px; object-fit: cover;"
                                                            alt="Project picture">
                                                    </div>
                                                </div>
                                                <div class="card border-0" style="width:80%">
                                                    <h5 class="card-title text-left mt-md-3" style="margin-left: 5%;"><a href="/project/projectDetails?id={{project.id}}">{{project.title}}</a></h5>
                                                    <h6 class="card-title text-left text-secondary mt-md-1 p-text-nowrap p-text-truncate" style="width: 90%; margin-left: 5%;">{{project.desc}} </h6>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <a *ngIf="pastContributorProj.length != 0" href="/project/myProjects?username={{user.username}}&type={{userType}}">See all</a>
                            </div>
                        </div>
                    </div>
                </div>

                <br><br>
                <!-- <div class="card-body"> -->
                    <div class="row">
                        <div class="col-4 d-flex flex-column">
                            <h5 class="card-title" class="my-auto">My Testimonials</h5>
                        </div>
                        <div class="col-8">
                            <div *ngIf="isOwner" class="btn btn-primary float-right"><a class="text-white" href="/testimonial"><i class="pi pi-pencil"></i></a></div>
                            <!-- <button *ngIf="!isOwner" class="btn btn-primary float-right" data-toggle="modal" data-target="#ReportModal" (click)="giveTestimonialYes(); findCommonProjects()">
                                Give {{user.name}} a testimonial
                            </button> -->
                        </div>
                    </div>
                    <div *ngIf="testimonials.length == 0">
                        <div class="card">
                            <h6 class="card-title text-left text-muted m-3">No testimonials found.</h6>
                            <h6 class="card-title text-left text-muted m-3" *ngIf="isOwner">
                                You may request other users to leave you a testimonial.
                            </h6>
                        </div>
                    </div>
                    <div *ngIf="testimonials.length > 0" class="scroll">
                        <div *ngFor="let testimonial of testimonials; let p = index">
                            <div *ngIf="p<3">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="card border-0">
                                                <h6 style="margin-left: 5%">
                                                    Given by: 
                                                    <span *ngIf="testimonial.creatorImg.length == 0">
                                                        <img src="../../assets/img/profilePic_Placeholder.png" class="img-fluid rounded-circle" style="height: 40px;width: 40px; object-fit: cover;">
                                                    </span>
                                                    <span *ngIf="testimonial.creatorImg.length > 0">
                                                        <img src="https://localhost:8080{{testimonial.creatorImg}}" class="img-fluid rounded-circle" style="height: 40px;width: 40px; object-fit: cover;">
                                                    </span>
                                                    <span *ngIf="testimonial.creatorType == 'user'">
                                                        <a href="/profile?username={{testimonial.creatorUsername}}&userType=individual"> {{testimonial.creatorName}}</a>
                                                    </span>
                                                    <span *ngIf="testimonial.creatorType == 'institution'">
                                                        <a href="/profile?username={{testimonial.creatorUsername}}&userType=institution"> {{testimonial.creatorName}}</a>
                                                    </span>
                                                </h6>
                                                <h6 class="card-title text-left mt-md-3" style="margin-left: 5%;">Project: <a href="/project/projectDetails?id={{testimonial.projectId}}">{{testimonial.projectTitle}}</a></h6>
                                                <h6 class="card-title text-left text-secondary mt-md-1" style="width: 90%; margin-left: 5%;">{{testimonial.desc}} </h6>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                <!-- </div> -->
            </div>
        </div>
    </div>
</div>