.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.fb {
  color : #3b5998;
}

.twitter {
  color: #00acee;
}

.telegram {
  color: #0088cc;
}

.whatsapp {
  color: #25d366;
}

.linkedin {
  color: #0e76a8;
}

.gold {
  background-color: rgb(205, 157, 25);
  color: white;
}

.silver {
  background-color: rgb(170, 170, 170);
  color: white;
}

.bronze {
  background-color: rgb(185, 114, 45);
  color: white;
}

.scroll {
  width: 100%;
  height: 300px;
  overflow: auto;
}