<div class="row">
    <div class="col-2 bg-light p-2">
        <div class="mb-md-2"><a href="/reward">Marketplace</a></div>
        <div class="mb-md-2"><a href="/reward/offering">My Reward Offering</a></div>
        <div class="mb-md-2" *ngIf= "userType == 'user'">My Rewards</div>
    </div>
    
    <div class="col-10">
        <div class="row">
            <div class="col-9">
                <h2>My Rewards</h2>
            </div>
            <div class="col-3">
                Your Tier: <span class="rounded-pill pl-2 pr-2 {{userTier}}">{{userTier}}</span><br>
                <p *ngIf="userType == 'user'">
                    Your Wallet: {{wallet}}
                </p>
            </div>
        </div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="active-tab" data-toggle="tab" href="#active" role="tab" aria-controls="active" aria-selected="true">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="claimed-tab" data-toggle="tab" href="#claimed" role="tab" aria-controls="claimed" aria-selected="false">Claimed</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="cancelled-tab" data-toggle="tab" href="#cancelled" role="tab" aria-controls="cancelled" aria-selected="false">Cancelled</a>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="active" role="tabpanel" aria-labelledby="active-tab">
                <div class="card">
                    <p-dataView #re [value]="activeVouchers" [paginator]="true" [rows]="9" filterBy="title" [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
                        <ng-template pTemplate="header">
                            <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
                                <p-dropdown [options]="sortOptions" [(ngModel)]="sortKeyActive" placeholder="Sort By End Date" (onChange)="onSortChange($event)" styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
                                <p-dropdown [options]="countryOptions" [(ngModel)]="filterKeyCountryActive" placeholder="Filter By Country" (onChange)="filterCountryActive($event)"
                                    styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
                                <span class="p-input-icon-left p-mb-2 p-mb-md-0">
                                    <i class="pi pi-search"></i>
                                    <input type="search" pInputText placeholder="Search by Title" (input)="re.filter($event.target.value)">
                                </span>
                            </div>
                        </ng-template>
                        <ng-template let-voucher pTemplate="gridItem">
                            <div class="p-col-12 p-md-4">
                                <div class="product-grid-item card p-2">
                                    <div class="product-grid-item-content mt-1 mr-1">
                                        <!-- <span class="rounded-pill pl-2 pr-2 {{reward.minTier}} float-left">{{reward.minTier}}</span> -->
                                        <div class="small mb-md-1 float-right">Redeemed at: {{formatDate(voucher.createdAt)}}</div>
                                        <img *ngIf="voucher.rewardImgPath.length == 0" src="../../../assets/img/rewardPlaceholder.png"
                                            class="img-fluid" style="width: 150px; height: 150px; object-fit: cover;" alt="Reward pic" />
                                        <img *ngIf="voucher.rewardImgPath.length != 0" src="https://localhost:8080{{voucher.rewardImgPath}}"
                                            class="img-fluid" style="width: 150px; height: 150px; object-fit: cover;" alt="Reward pic" />
                                        <div class="product-name">
                                            <button class="btn" data-toggle="modal" data-target="#ViewModal" (click)=setCurrentVoucher(voucher)>
                                                {{voucher.rewardTitle}}
                                            </button>
                                        </div>
                                        <div class="small mb-md-1">
                                            Country: {{voucher.rewardCountry}}<br/>
                                            End Date: {{formatDate(voucher.endDate)}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </p-dataView>
                </div>
            </div>

            <div class="modal fade" id="ViewModal" tabindex="-1" role="dialog" aria-labelledby="ViewModal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ViewModal">Voucher Details</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div *ngIf="isClaimSuccessful">
                                <div class="alert alert-success">
                                    Voucher has been claimed.
                                </div>
                            </div>
                            <div *ngIf="isTransferSuccessful">
                                <div class="alert alert-success">
                                    Voucher has been transferred to {{targetUserName}}.
                                </div>
                            </div>            
                            <span class="product-category">{{currentVoucher.rewardCountry}}</span>
                            <br>
                            <img *ngIf="currentVoucher.rewardImgPath.length == 0" src="../../../assets/img/rewardPlaceholder.png"
                                class="img-fluid" style="width: 500px; height: 200px; object-fit: cover;" alt="Reward pic" />
                            <img *ngIf="currentVoucher.rewardImgPath.length != 0" src="https://localhost:8080{{currentVoucher.rewardImgPath}}"
                                class="img-fluid" style="width: 500px; height: 200px; object-fit: cover;" alt="Reward pic" />
                            <br/><br/>
                            <button type="button" *ngIf="!transferYes" class="btn btn-info ml-1 float-right" (click)="setTransferYes(currentVoucher.id)">Transfer</button>
                            <button type="button" *ngIf="transferYes" class="btn btn-info ml-1 float-right" (click)="cancelTransfer()">Cancel transfer</button>
                            <button type="button" class="btn btn-success mr-md-2 float-right" (click)="claimVoucher(currentVoucher.id)">Claim</button>
                            <h5>{{currentVoucher.rewardTitle}}</h5>
                            <div>
                                Code: {{currentVoucher.code}}<br>
                                Use this code at the merchant to use your voucher, then click the Claim button.
                            </div>
                            <div *ngIf="currentVoucher.rewardDesc">Description: {{currentVoucher.rewardDesc}}</div>
                            <div *ngIf="!currentVoucher.rewardDesc">Description: -</div>
                            <br/>
                            <div class="row">
                                <div class="col-6">
                                    Redeemed at: {{formatDate(currentVoucher.createdAt)}}
                                </div>
                                <div class="col-6 text-right">
                                    End Date: {{formatDate(currentVoucher.endDate)}}
                                </div>
                            </div>
                            <div *ngIf="transferYes">
                                <br/>
                                <div *ngIf="!isTransferSuccessful">
                                    Select a user to transfer this voucher to:
                                    <form name="form" (ngSubmit)="f.form.valid && searchUsers()" #f="ngForm" novalidate>
                                        <div class="form-inline">
                                            <input
                                                type="text"
                                                class="form-control mr-md-2"
                                                name="search"
                                                [(ngModel)]="keyword"
                                                #search="ngModel"
                                                placeholder="Enter a username"
                                            />
                                            <button class="btn btn-primary" (click)=searchUsers()>Search</button>
                                        </div>
                                    </form>
                                    <br/>
                                    <div class="alert alert-warning" *ngIf="f.submitted && !isSearchSuccessful">
                                        {{ errorMsgSearch }}
                                    </div>
                                    <div *ngIf="isSearchSuccessful">
                                        <div *ngFor="let user of searchResults">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="card border-0 col-3" style="width:20%">
                                                            <div *ngIf="user.profilePic.length > 0">
                                                                <img
                                                                src={{user.profilePic}}
                                                                class="rounded-circle img-fluid"
                                                                style="width: 80px; height: 80px; object-fit: cover;"
                                                                alt="Profile picture"
                                                                />
                                                            </div>
                                                            <div *ngIf="user.profilePic.length == 0">
                                                                <img
                                                                src="../../assets/img/profilePic_Placeholder.png"
                                                                class="rounded-circle img-fluid"
                                                                style="width: 90px; height: 90px; object-fit: cover;"
                                                                alt="Profile picture"
                                                                />
                                                            </div>
                                                        </div>
                                                        <br/>
                                                        <div class="card border-0 col-5" style="width:80%">
                                                            Name: {{user.name}} <br/>
                                                            Username: {{user.username}}
                                                        </div>
                                                        <div class="col-4">
                                                            <button class="btn btn-primary float-right" (click)="transferVoucher(currentVoucher.id, user.id, user.name)">Transfer</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="claimed" role="tabpanel" aria-labelledby="claimed-tab">
                <div class="card">
                    <p-dataView #re [value]="claimedVouchers" [paginator]="true" [rows]="9" filterBy="title" [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
                        <ng-template pTemplate="header">
                            <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
                                <p-dropdown [options]="sortOptions" [(ngModel)]="sortKeyClaimed" placeholder="Sort By End Date" (onChange)="onSortChange($event)" styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
                                <p-dropdown [options]="countryOptions" [(ngModel)]="filterKeyCountryClaimed" placeholder="Filter By Country" (onChange)="filterCountryClaimed($event)"
                                    styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
                                <span class="p-input-icon-left p-mb-2 p-mb-md-0">
                                    <i class="pi pi-search"></i>
                                    <input type="search" pInputText placeholder="Search by Title" (input)="re.filter($event.target.value)">
                                </span>
                            </div>
                        </ng-template>
                        <ng-template let-voucher pTemplate="gridItem">
                            <div class="p-col-12 p-md-4">
                                <div class="product-grid-item card p-2">
                                    <div class="product-grid-item-content mt-1 mr-1">
                                        <!-- <span class="rounded-pill pl-2 pr-2 {{reward.minTier}} float-left">{{reward.minTier}}</span> -->
                                        <div class="small mb-md-1 float-right">Claimed at: {{formatDate(voucher.claimedAt)}}</div>
                                        <img *ngIf="voucher.rewardImgPath.length == 0" src="../../../assets/img/rewardPlaceholder.png"
                                            class="img-fluid" style="width: 150px; height: 150px; object-fit: cover;" alt="Reward pic" />
                                        <img *ngIf="voucher.rewardImgPath.length != 0" src="https://localhost:8080{{voucher.rewardImgPath}}"
                                            class="img-fluid" style="width: 150px; height: 150px; object-fit: cover;" alt="Reward pic" />
                                        <div class="product-name">
                                            <button class="btn" data-toggle="modal" data-target="#ViewModalClaimed" (click)=setCurrentVoucher(voucher)>
                                                {{voucher.rewardTitle}}
                                            </button>
                                        </div>
                                        <div class="small mb-md-1">
                                            Country: {{voucher.rewardCountry}}<br/>
                                            End Date: {{formatDate(voucher.endDate)}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </p-dataView>
                </div>
            </div>

            <div class="modal fade" id="ViewModalClaimed" tabindex="-1" role="dialog" aria-labelledby="ViewModal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ViewModal">Voucher Details</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <span class="product-category">{{currentVoucher.rewardCountry}}</span>
                            <br>
                            <img *ngIf="currentVoucher.rewardImgPath.length == 0" src="../../../assets/img/rewardPlaceholder.png"
                                class="img-fluid" style="width: 500px; height: 200px; object-fit: cover;" alt="Reward pic" />
                            <img *ngIf="currentVoucher.rewardImgPath.length != 0" src="https://localhost:8080{{currentVoucher.rewardImgPath}}"
                                class="img-fluid" style="width: 500px; height: 200px; object-fit: cover;" alt="Reward pic" />
                            <br/><br/>
                            <h5>{{currentVoucher.rewardTitle}}</h5>
                            <div>Code: {{currentVoucher.code}}</div>
                            <div *ngIf="currentVoucher.rewardDesc">Description: {{currentVoucher.rewardDesc}}</div>
                            <div *ngIf="!currentVoucher.rewardDesc">Description: -</div>
                            <br/>
                            <div class="row">
                                <div class="col-6">
                                    Claimed at: {{formatDate(currentVoucher.claimedAt)}}
                                </div>
                                <div class="col-6 text-right">
                                    End Date: {{formatDate(currentVoucher.endDate)}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="tab-pane fade" id="cancelled" role="tabpanel" aria-labelledby="cancelled-tab">
                <div class="card">
                    Cancelled rewards: for active (i.e. unclaimed vouchers) that were later removed by the reward offerer. I.e. the user who redeemed didn't get to claim the voucher.
                </div>
            </div>
        </div>
    </div>
</div>