<div class="card mx-auto bg-light" style="width: 50%;">
  <div class="card-body">
    <h3 class="text-center mb-md-3">
      Create Resource
    </h3>
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group row">
        <label for="type" class="col-sm-4 col-form-label">Resource Type</label>
        <div class="col-sm-8">
          <select class="form-control" name="type" [(ngModel)]="resourceType" required #type="ngModel">
            <option>Item</option>
            <option>Knowledge</option>
            <option *ngIf="userType == 'individual'">Manpower</option>
            <option>Venue</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="title" class="col-sm-4 col-form-label">Title</label>
        <div class="col-sm-8">
          <input
            type="text"
            class="form-control"
            name="title"
            [(ngModel)]="form.title"
            required
            minlength="3"
            #title="ngModel"
          />
        </div>
        <div class="alert-danger" *ngIf="f.submitted && title.invalid">
          <div *ngIf="title.errors.required">Title is required</div>
          <div *ngIf="title.errors.minlength">
            Title must be at least 3 characters
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="desc" class="col-sm-4 col-form-label">Description</label>
        <div class="col-sm-8">
          <textarea
            class="form-control"
            name="desc"
            [(ngModel)]="form.desc"
            required
            minlength="3"
            #desc="ngModel"
            rows="3"
          ></textarea>
        </div>
        <div class="alert-danger" *ngIf="f.submitted && desc.invalid">
          <div *ngIf="desc.errors.required">Description is required</div>
          <div *ngIf="desc.errors.minlength">
            Description must be at least 3 characters
          </div>
        </div>
      </div>
      <!-- allow creator to set address attribute for venue resources -->
      <div class="form-group row" *ngIf="resourceType == 'Venue'">
        <label for="address" class="col-sm-4 col-form-label">Address</label>
        <div class="col-sm-8">
          <input
            type="text"
            class="form-control"
            name="address"
            [(ngModel)]="form.address"
            required
            minlength="3"
            #address="ngModel"
          />
        </div>
        <div class="alert-danger" *ngIf="f.submitted && address.invalid">
          <div *ngIf="address.errors.required">Address is required</div>
          <div *ngIf="address.errors.minlength">
            Address must be at least 3 characters
          </div>
        </div>
      </div>
      <!-- allow creator to set country attribute for item and venue resources -->
      <div class="form-group row" *ngIf="resourceType == 'Item' || resourceType == 'Venue'">
        <label for="country" class="col-sm-4 col-form-label">Country</label>
        <div class="col-sm-8">
            <select class="form-control" name="country" [(ngModel)]="currentCountry" required #country="ngModel" (click)="updateCountry()">
              <option *ngFor="let c of countries" value={{c}}>{{c}}</option>
            </select>
        </div>
        <div class="alert-danger" *ngIf="f.submitted && country.invalid">
            <div *ngIf="country.errors.required">Country is required</div>
        </div>
    </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Create</button>
      </div>
      
      <div class="alert alert-warning" *ngIf="f.submitted && createFailed">
        Failed to create Resource! <br />{{ errorMessage }}
      </div>
    </form>
    <div class="alert alert-success" *ngIf="isSuccessful">
      {{ resourceType }} Resource successfully created!<br/>
      You can view and edit the new {{ resourceType }} Resource <a href="/resource/myResources?username={{user.username}}&type={{userType}}">here</a>
    </div>
  </div>
</div>