<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>Data Dashboard</h2>
        </div>
        <div class="col-6" style="float: right;">
            <a href="/dashboard/project" style="float: right;">
                View Data By SDG and Country >>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5>Numbers at A Glance</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="card">
            <div class="card-title">
                <h6 class="card-title text-center mt-md-3">
                    Number of active accounts
                </h6>
                <h3 style="text-align: center">{{activeAccNum}}</h3>
            </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
            <div class="card-title">
                <h6 class="card-title text-center mt-md-3">
                    Number of resource listings created
                </h6>
                <h3 style="text-align: center">{{resourcesNum}}</h3>
            </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
            <div class="card-title">
                <h6 class="card-title text-center mt-md-3">
                    Numbers of successful contributions
                </h6>
                <h3 style="text-align: center">{{contributionsNum}}</h3>
            </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
            <div class="card-title">
                <h6 class="card-title text-center mt-md-3">
                    Amount of funding raised
                </h6>
                <h3 style="text-align: center">{{fundingNum}}</h3>
            </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-6">
            <div class="card">
            <div class="card-title">
                <h6 class="card-title text-center mt-md-3">
                    Overall number of ongoing projects
                </h6>
                <h3 style="text-align: center">{{projectsOngoingNum}}</h3>
            </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-title">
                    <h6 class="card-title text-center mt-md-3">
                        Overall number of completed projects
                    </h6>
                    <h3 style="text-align: center">{{projectsCompletedNum}}</h3>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <h5>Data Visualization</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card">
            <div class="card-body">
                <h6 class="card-title text-center mt-md-3">
                    Resource listings based on Resource Type
                </h6>
                <p-chart type="doughnut" [data]="resources"></p-chart>
            </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
            <div class="card-body">
                <h6 class="card-title text-center mt-md-3">
                    Successful Resource Contribution based on Resource Type
                </h6>
                <p-chart type="doughnut" [data]="contributions"></p-chart>
            </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-6">
            <div class="card">
            <div class="card-body">
                <h6 class="card-title text-center mt-md-3">
                    Number of new accounts created in 2020
                </h6>
                <p-chart type="bar" [data]="accBar"></p-chart>
            </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
            <div class="card-body">
                <h6 class="card-title text-center mt-md-3">
                    Cumulative number of projects in 2020
                </h6>
                <p-chart type="line" [data]="projectsLine"></p-chart>
            </div>
            </div>
        </div>
    </div>
</div>