<h2>Resource Details</h2>

<p-toast key="toastMsg" [baseZIndex]="100"></p-toast>

<div *ngIf="resource.status != 'deleted'">
    <div class="row">
        <div class="col-7">
            <div *ngIf="resourceImages.length == 0">
                <img src="../../../assets/img/imgPlaceholder.png" class="img-fluid">
            </div>
            <p-galleria #galleria [(value)]="resourceImages" [responsiveOptions]="responsiveOptions" [(activeIndex)]="activeIndex" [numVisible]="5" [containerStyle]="{'max-width':'100%'}" [containerClass]="galleriaClass()" [showThumbnails]="showThumbnails"
                [showItemNavigators]="true" [showItemNavigatorsOnHover]="true" [circular]="true" [autoPlay]="true" [transitionInterval]="3000"> 
                <ng-template pTemplate="item" let-item>
                    <img [src]="item" [ngStyle]="{'width': !fullscreen ? '100%' : '', 'display': !fullscreen ? 'block' : ''}" />
                </ng-template>
                <ng-template pTemplate="thumbnail" let-item>
                    <div class="p-grid p-nogutter p-justify-center">
                        <img [src]="item" class="img-fluid" width="100" height="100" />
                    </div>
                </ng-template>
                <ng-template pTemplate="footer" let-item>
                    <div class="custom-galleria-footer">
                        <button type="button" pButton icon="pi pi-list" (click)="onThumbnailButtonClick()"></button>
                        <span *ngIf="resourceImages"  class="title-container">
                            <span>{{activeIndex + 1}}/{{resourceImages.length}}</span>
                            <span class="title">Picture {{activeIndex+1}}</span>
                        </span>
                        <button type="button" pButton [icon]="fullScreenIcon()" (click)="toggleFullScreen()" class="fullscreen-button"></button>
                    </div>
                </ng-template>
            </p-galleria>
        </div>
        <div class="col-5">
            <div class="row">
                <h3 [ngClass]="{'col-10': isOwner, 'col-12': !isOwner}">{{resource.title}}</h3>
                <p-inputSwitch class="col-2 float-right" *ngIf="isOwner" [ngModel]="resource.status == 'active'" (onChange)="handleChangeChecked($event)"></p-inputSwitch>
            </div>
            <div class="text-secondary">Last modified: {{formatDate(resource.updatedAt)}}</div>
            
            <div class="bg-light p-2 mb-2">
                <div style="font-size: x-large;">Details</div>
                {{resource.desc}}
                <div><i class="pi pi-map-marker"></i> {{resource.country}}</div>
                <div><i class="pi pi-tag"></i> {{resource.category}}</div>
            </div>
            
            <div class="bg-light p-2 mb-2">
                <div style="font-size: x-large;">Offered by</div>
                <span *ngIf="resource.ownerImg.length == 0">
                    <img src="../../../assets/img/profilePic_Placeholder.png" class="img-fluid rounded-circle" style="height: 50px; width: 50px; object-fit: cover;"> 
                </span>
                <span *ngIf="resource.ownerImg.length > 0">
                    <img src="https://localhost:8080{{resource.ownerImg}}" class="img-fluid rounded-circle" style="height: 50px; width: 50px; object-fit: cover;"> 
                </span>

                <span class="ml-2" *ngIf="resource.ownerType == 'user'"><a href="/profile?username={{resource.ownerUsername}}&userType=individual">{{resource.ownerName}}</a></span>
                <span class="ml-2" *ngIf="resource.ownerType == 'institution'"><a href="/profile?username={{resource.ownerUsername}}&userType=institution">{{resource.ownerName}}</a></span>
            </div>
            <div class="bg-light p-2">
                <div style="font-size: x-large;">Price</div>
                <div style="font-size: xx-large;">USD{{resource.price}}</div>
            </div>
            <br>
            <div>
                <button *ngIf="!isOwner" class="btn btn-primary btn-block" data-toggle="modal" data-target="#requestModal">Request to Purchase</button>
                <a href="/resource/editDetails?id={{id}}&type=paid" *ngIf="isOwner" class="btn btn-primary" style="width: 48%;"><i class="pi pi-pencil"></i>&nbsp;Edit</a>
                <button *ngIf="isOwner" class="btn btn-danger float-right" style="width: 48%;" (click)="updateStatus('deleted')"><i class="pi pi-trash"></i>&nbsp;Delete</button>
            </div>
        </div>
    </div>

    <div class="modal fade" data-backdrop="static" id="requestModal" tabindex="-1" role="dialog" aria-labelledby="requestModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="requestModalLabel">Request to Purchase Resource</h5>
                    <button type="button" (click)="closeModal()" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div *ngIf="!isRequestSuccessful">
                        <p>Select a project to purchase this resource for.</p>
                        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                            <!-- show current user's ongoing projects and get them to choose one -->
                            <div class="form-group row">
                                <label for="project" class="col-sm-3 col-form-label">Project</label>
                                <div class="col-sm-9" *ngIf="myProjects.length == 0">
                                    You currently have no ongoing projects.
                                </div>
                                <div class="col-sm-9" *ngIf="myProjects.length != 0">
                                    <select class="form-control" name="project" [(ngModel)]="selectedProjectId" required #project="ngModel" (click)="updateSelectedProject($event)">
                                        <option *ngFor="let p of myProjects" value={{p.id}}>{{p.title}}</option>
                                    </select>
                                    <div class="alert-danger" *ngIf="f.submitted && project.invalid">
                                        <div *ngIf="project.errors.required">
                                            No project selected. Please select a project!
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button *ngIf="myProjects.length != 0" class="btn btn-primary btn-block">Request to Purchase</button>
                                <button *ngIf="myProjects.length == 0" class="btn btn-primary btn-block" disabled>Request to Purchase</button>
                            </div>
                        </form>
                    </div>
                    <div *ngIf="isRequestSuccessful">
                        <div class="alert alert-success">
                            Your purchase request has been submitted successfully! <br>
                            Check your request status on <a href="/myPurchases">My Purchases</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="isOwner" class="mt-4 mb-4">
        <h3>Incoming requests</h3>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pending-tab" data-toggle="tab" href="#pending" role="tab" aria-controls="pending" aria-selected="true">Pending</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="accepted-tab" data-toggle="tab" href="#accepted" role="tab" aria-controls="accepted" aria-selected="false">Accepted</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="paid-tab" data-toggle="tab" href="#paid" role="tab" aria-controls="paid" aria-selected="false">Paid</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="cancelled-tab" data-toggle="tab" href="#cancelled" role="tab" aria-controls="cancelled" aria-selected="false">Cancelled</a>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent" style="height: 400px; overflow-y: auto;">
            <div class="tab-pane fade show active" id="pending" role="tabpanel" aria-labelledby="pending-tab">
                <div class="card p-2">
                    <h5 class="card-title">Pending Purchase Requests</h5>
                    <div *ngIf="pendingReqs.length == 0">You have no pending purchase requests.</div>
                    <div *ngIf="pendingReqs.length != 0">You have {{pendingReqs.length}} pending purchase request(s).</div>
                    <div *ngFor="let req of pendingReqs">
                        <div class="card bg-light">
                            <div class="card-body">
                                <h6 class="card-title">
                                    Project: <a href="/project/projectDetails?id={{req.projectId}}">{{req.projectTitle}}</a><br/><br/>
                                    Buyer:
                                    <span *ngIf="req.buyerType == 'user'"><a href="/profile?username={{req.buyerUsername}}&userType=individual">{{req.buyerName}}</a></span>
                                    <span *ngIf="req.buyerType == 'institution'"><a href="/profile?username={{req.buyerUsername}}&userType=institution">{{req.buyerName}}</a></span>
                                </h6>
                                Request received at: {{formatDate(req.createdAt)}}<br/>
                                <button class="btn btn-danger float-right ml-2" type="button" (click)="declineReq(req.id)">
                                    Decline
                                </button>
                                <button class="btn btn-success float-right" type="button" (click)="acceptReq(req.id)">
                                    Accept
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="accepted" role="tabpanel" aria-labelledby="accepted-tab">
                <div class="card p-2">
                    <h5 class="card-title">Accepted Purchase Requests</h5>
                    <div *ngIf="acceptedReqs.length == 0">You have no accepted purchase requests.</div>
                    <div *ngIf="acceptedReqs.length != 0">You have {{acceptedReqs.length}} accepted purchase request(s).</div>
                    <div *ngFor="let req of acceptedReqs">
                        <div class="card bg-light">
                            <div class="card-body">
                                <h6 class="card-title">
                                    Project: <a href="/project/projectDetails?id={{req.projectId}}">{{req.projectTitle}}</a><br/><br/>
                                    Buyer:
                                    <span *ngIf="req.buyerType == 'user'"><a href="/profile?username={{req.buyerUsername}}&userType=individual">{{req.buyerName}}</a></span>
                                    <span *ngIf="req.buyerType == 'institution'"><a href="/profile?username={{req.buyerUsername}}&userType=institution">{{req.buyerName}}</a></span>
                                </h6>
                                Request accepted at: {{formatDate(req.updatedAt)}}<br/>
                                <button class="btn btn-danger float-right ml-2" type="button" (click)="cancelReq(req.id)">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="paid" role="tabpanel" aria-labelledby="paid-tab">
                <div class="card p-2">
                    <h5 class="card-title">Paid Purchase Requests</h5>
                    <div *ngIf="confirmedReqs.length == 0">You have no paid purchase requests.</div>
                    <div *ngIf="confirmedReqs.length != 0">You have {{confirmedReqs.length}} paid purchase request(s). Please proceed to arrange with the buyer to deliver the resource to them.</div>
                    <div *ngFor="let req of confirmedReqs">
                        <div class="card bg-light">
                            <div class="card-body">
                                <h6 class="card-title">
                                    Project: <a href="/project/projectDetails?id={{req.projectId}}">{{req.projectTitle}}</a><br/><br/>
                                    Buyer:
                                    <span *ngIf="req.buyerType == 'user'"><a href="/profile?username={{req.buyerUsername}}&userType=individual">{{req.buyerName}}</a></span>
                                    <span *ngIf="req.buyerType == 'institution'"><a href="/profile?username={{req.buyerUsername}}&userType=institution">{{req.buyerName}}</a></span>
                                </h6>
                                Payment was made by buyer at: {{formatDate(req.updatedAt)}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="cancelled" role="tabpanel" aria-labelledby="cancelled-tab">
                <div class="card p-2">
                    <h5 class="card-title">Cancelled Purchase Requests</h5>
                    <div *ngIf="cancelledReqs.length == 0">You have no cancelled purchase requests.</div>
                    <div *ngIf="cancelledReqs.length != 0">You have {{cancelledReqs.length}} cancelled purchase request(s).</div>
                    <div *ngFor="let req of cancelledReqs">
                        <div class="card bg-light">
                            <div class="card-body">
                                <h6 class="card-title">
                                    Project: <a href="/project/projectDetails?id={{req.projectId}}">{{req.projectTitle}}</a><br/><br/>
                                    Buyer:
                                    <span *ngIf="req.buyerType == 'user'"><a href="/profile?username={{req.buyerUsername}}&userType=individual">{{req.buyerName}}</a></span>
                                    <span *ngIf="req.buyerType == 'institution'"><a href="/profile?username={{req.buyerUsername}}&userType=institution">{{req.buyerName}}</a></span>
                                </h6>
                                Request cancelled at: {{formatDate(req.updatedAt)}} <br>
                                <div *ngIf="req.cancelType == 'buyer'">
                                    Cancelled by: buyer
                                </div>
                                <div *ngIf="req.cancelType == 'seller'">
                                    Cancelled by: you
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="card-deck">
            <div class="card p-2">
                <h5 class="card-title">Pending Purchase Requests</h5>
                <div *ngIf="pendingReqs.length == 0">You have no pending purchase requests.</div>
                <div *ngIf="pendingReqs.length != 0">You have {{pendingReqs.length}} pending purchase request(s).</div>
                <div *ngFor="let req of pendingReqs">
                    <div class="card bg-light">
                        <div class="card-body">
                            <h6 class="card-title">
                                Project: <a href="/project/projectDetails?id={{req.projectId}}">{{req.projectTitle}}</a><br/><br/>
                                Buyer:
                                <span *ngIf="req.buyerType == 'user'"><a href="/profile?username={{req.buyerUsername}}&userType=individual">{{req.buyerName}}</a></span>
                                <span *ngIf="req.buyerType == 'institution'"><a href="/profile?username={{req.buyerUsername}}&userType=institution">{{req.buyerName}}</a></span>
                            </h6>
                            Request received at: {{formatDate(req.createdAt)}}<br/>
                            <button class="btn btn-danger float-right ml-2" type="button" (click)="declineReq(req.id)">
                                Decline
                            </button>
                            <button class="btn btn-success float-right" type="button" (click)="acceptReq(req.id)">
                                Accept
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card p-2">
                <h5 class="card-title">Accepted Purchase Requests</h5>
                <div *ngIf="acceptedReqs.length == 0">You have no accepted purchase requests.</div>
                <div *ngIf="acceptedReqs.length != 0">You have {{acceptedReqs.length}} accepted purchase request(s).</div>
                <div *ngFor="let req of acceptedReqs">
                    <div class="card bg-light">
                        <div class="card-body">
                            <h6 class="card-title">
                                Project: <a href="/project/projectDetails?id={{req.projectId}}">{{req.projectTitle}}</a><br/><br/>
                                Buyer:
                                <span *ngIf="req.buyerType == 'user'"><a href="/profile?username={{req.buyerUsername}}&userType=individual">{{req.buyerName}}</a></span>
                                <span *ngIf="req.buyerType == 'institution'"><a href="/profile?username={{req.buyerUsername}}&userType=institution">{{req.buyerName}}</a></span>
                            </h6>
                            Request accepted at: {{formatDate(req.updatedAt)}}<br/>
                            <button class="btn btn-danger float-right ml-2" type="button" (click)="cancelReq(req.id)">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card p-2">
                <h5 class="card-title">Confirmed Purchase Requests</h5>
                <div *ngIf="confirmedReqs.length == 0">You have no confirmed purchase requests.</div>
                <div *ngIf="confirmedReqs.length != 0">You have {{confirmedReqs.length}} confirmed purchase request(s). Please proceed to arrange with the buyer to deliver the resource to them.</div>
                <div *ngFor="let req of confirmedReqs">
                    <div class="card bg-light">
                        <div class="card-body">
                            <h6 class="card-title">
                                Project: <a href="/project/projectDetails?id={{req.projectId}}">{{req.projectTitle}}</a><br/><br/>
                                Buyer:
                                <span *ngIf="req.buyerType == 'user'"><a href="/profile?username={{req.buyerUsername}}&userType=individual">{{req.buyerName}}</a></span>
                                <span *ngIf="req.buyerType == 'institution'"><a href="/profile?username={{req.buyerUsername}}&userType=institution">{{req.buyerName}}</a></span>
                            </h6>
                            Payment was made by buyer at:<br/>{{formatDate(req.updatedAt)}}<br/>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- <div class="row">
            <div class="col-3 bg-light p-2">
                <h5>Pending Purchase Requests</h5>
                <div *ngIf="pendingReqs.length == 0">You have no pending purchase requests.</div>
                <div *ngIf="pendingReqs.length != 0">You have {{pendingReqs.length}} pending purchase request(s).</div>
                <div *ngFor="let req of pendingReqs">
                    <div class="card bg-light">
                        <div class="card-body">
                            <h6 class="card-title">
                                Project: <a href="/project/projectDetails?id={{req.projectId}}">{{req.projectTitle}}</a><br/><br/>
                                Buyer:
                                <span *ngIf="req.buyerType == 'user'"><a href="/profile?username={{req.buyerUsername}}&userType=individual">{{req.buyerName}}</a></span>
                                <span *ngIf="req.buyerType == 'institution'"><a href="/profile?username={{req.buyerUsername}}&userType=institution">{{req.buyerName}}</a></span>
                            </h6>
                            Request received at: {{formatDate(req.createdAt)}}<br/>
                            <button class="btn btn-danger float-right ml-2" type="button" (click)="declineReq(req.id)">
                                Decline
                            </button>
                            <button class="btn btn-success float-right" type="button" (click)="acceptReq(req.id)">
                                Accept
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 bg-light p-2 ml-md-2">
                <h5>Accepted Purchase Requests</h5>
                <div *ngIf="acceptedReqs.length == 0">You have no accepted purchase requests.</div>
                <div *ngIf="acceptedReqs.length != 0">You have {{acceptedReqs.length}} accepted purchase request(s).</div>
                <div *ngFor="let req of acceptedReqs">
                    <div class="card bg-light">
                        <div class="card-body">
                            <h6 class="card-title">
                                Project: <a href="/project/projectDetails?id={{req.projectId}}">{{req.projectTitle}}</a><br/><br/>
                                Buyer:
                                <span *ngIf="req.buyerType == 'user'"><a href="/profile?username={{req.buyerUsername}}&userType=individual">{{req.buyerName}}</a></span>
                                <span *ngIf="req.buyerType == 'institution'"><a href="/profile?username={{req.buyerUsername}}&userType=institution">{{req.buyerName}}</a></span>
                            </h6>
                            Request accepted at: {{formatDate(req.updatedAt)}}<br/>
                            <button class="btn btn-danger float-right ml-2" type="button" (click)="cancelReq(req.id)">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 bg-light p-2 ml-md-2">
                <h5>Confirmed Purchase Requests</h5>
                <div *ngIf="confirmedReqs.length == 0">You have no confirmed purchase requests.</div>
                <div *ngIf="confirmedReqs.length != 0">You have {{confirmedReqs.length}} confirmed purchase request(s). Please proceed to arrange with the buyer to deliver the resource to them.</div>
                <div *ngFor="let req of confirmedReqs">
                    <div class="card bg-light">
                        <div class="card-body">
                            <h6 class="card-title">
                                Project: <a href="/project/projectDetails?id={{req.projectId}}">{{req.projectTitle}}</a><br/><br/>
                                Buyer:
                                <span *ngIf="req.buyerType == 'user'"><a href="/profile?username={{req.buyerUsername}}&userType=individual">{{req.buyerName}}</a></span>
                                <span *ngIf="req.buyerType == 'institution'"><a href="/profile?username={{req.buyerUsername}}&userType=institution">{{req.buyerName}}</a></span>
                            </h6>
                            Payment was made by buyer at:<br/>{{formatDate(req.updatedAt)}}<br/>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>

<div *ngIf="resource.status == 'deleted'">
    <div class="alert alert-info">
        Resource has been deleted.
    </div>
</div>