<h2>My Resources
    <a href="/resource/createResource" class="btn btn-primary float-right">Create New Resource</a>
</h2>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="item-tab" data-toggle="tab" href="#item" role="tab" aria-controls="item" aria-selected="true">Item</a>
    </li>
    <li class="nav-item" *ngIf="isIndividual">
      <a class="nav-link" id="manpower-tab" data-toggle="tab" href="#manpower" role="tab" aria-controls="manpower" aria-selected="false">Manpower</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="venue-tab" data-toggle="tab" href="#venue" role="tab" aria-controls="venue" aria-selected="false">Venue</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="knowledge-tab" data-toggle="tab" href="#knowledge" role="tab" aria-controls="knowledge" aria-selected="false">Knowledge</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="item" role="tabpanel" aria-labelledby="item-tab">
        <div class="card">
            <p-dataView #dv [value]="items" [paginator]="true" [rows]="9" filterBy="title"
                [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
                <ng-template pTemplate="header">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
                        <p-dropdown [options]="sortOptions" [(ngModel)]="sortKeyItem" placeholder="Sort By Date" (onChange)="onSortChangeItem($event)" styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
                        <p-dropdown [options]="filterStatusOptions" [(ngModel)]="filterKeyItem" placeholder="Filter By Status" (onChange)="filterItemStatus($event)" styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
                        <span class="p-input-icon-left p-mb-2 p-mb-md-0">
                            <i class="pi pi-search"></i>
                            <input type="search" pInputText placeholder="Search by Title" (input)="dv.filter($event.target.value)">
                        </span>
                        <!-- <p-dataViewLayoutOptions></p-dataViewLayoutOptions> -->
                    </div>
                </ng-template>
                <ng-template let-item pTemplate="gridItem">
                    <div class="p-col-12 p-md-3">
                        <div class="product-grid-item card p-3">
                            <div class="product-grid-item-top">
                                <div>
                                    <i class="pi pi-tag product-category-icon"></i>
                                    <span class="product-category">Item</span>
                                </div>
                                <span class="float-right">{{formatDate(item.updatedAt)}}</span>
                            </div>
                            <div class="product-grid-item-content">
                                <img *ngIf="item.imgPath.length == 0" src="../../../assets/img/item.png" class="img-fluid" style="width: 100px; height: 100px; object-fit: cover;" [alt]="item.title"/>
                                <img *ngIf="item.imgPath.length != 0" src="https://localhost:8080{{item.imgPath}}" class="img-fluid" style="width: 100px; height: 100px; object-fit: cover;" [alt]="item.title"/>
                                <div class="product-name"><a href="/resource/resourceDetails?id={{item.id}}&type=item">{{item.title}}</a></div>
                                <div class="product-description">{{item.country}}</div>
                            </div>
                            <div class="product-grid-item-bottom">
                                <span class="product-category">{{item.status}}</span>
                                <p-inputSwitch [ngModel]="checkStatus(item)" (onChange)="handleChangeItem($event, item)"></p-inputSwitch>
                                <!-- <button *ngIf="item.status == 'active'" pButton type="button" label="Deactivate" (click)="deactivateItem(item)"
                                    class="p-button-sm p-button-rounded p-button-danger float-right"></button>

                                <button *ngIf="item.status == 'inactive'" pButton type="button" label="Activate" (click)="activateItem(item)"
                                    class="p-button-sm p-button-rounded p-button-success float-right"></button> -->
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataView>
        </div>
    </div>
    <div class="tab-pane fade" id="manpower" role="tabpanel" aria-labelledby="manpower-tab">
        <div class="card">
            <p-dataView #mp [value]="manpowers" [paginator]="true" [rows]="9" filterBy="title"
                [sortField]="sortFieldMpw" [sortOrder]="sortOrderMpw" layout="grid">
                <ng-template pTemplate="header">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
                        <p-dropdown [options]="sortOptions" [(ngModel)]="sortKeyMpw" placeholder="Sort By Date" (onChange)="onSortChangeManpower($event)" styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
                        <p-dropdown [options]="filterStatusOptions" [(ngModel)]="filterKeyMpw" placeholder="Filter By Status" (onChange)="filterManpowerStatus($event)" styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
                        <span class="p-input-icon-left p-mb-2 p-mb-md-0">
                            <i class="pi pi-search"></i>
                            <input type="search" pInputText placeholder="Search by Title" (input)="mp.filter($event.target.value)">
                        </span>
                        <!-- <p-dataViewLayoutOptions></p-dataViewLayoutOptions> -->
                    </div>
                </ng-template>
                <ng-template let-manpower pTemplate="gridItem">
                    <div class="p-col-12 p-md-4">
                        <div class="product-grid-item card p-3">
                            <div class="product-grid-item-top">
                                <div>
                                    <i class="pi pi-tag product-category-icon"></i>
                                    <span class="product-category">Manpower</span>
                                </div>
                                <span class="float-right">{{formatDate(manpower.updatedAt)}}</span>
                            </div>
                            <div class="product-grid-item-content">
                                <img *ngIf="user.profilePic.length == 0" src="../../../assets/img/profilePic_Placeholder.png" class="img-fluid" style="width: 100px; height: 100px; object-fit: cover;" alt="Profile pic"/>
                                <img *ngIf="user.profilePic.length != 0" src="{{user.profilePic}}" class="img-fluid" style="width: 100px; height: 100px; object-fit: cover;" alt="Profile pic"/>
                                <div class="product-name"><a href="/resource/resourceDetails?id={{manpower.id}}&type=manpower">{{manpower.title}}</a></div>
                                <!-- <div class="product-description">{{item.desc}}</div> -->
                                <div class="product-description">{{manpower.country}}</div>
                            </div>
                            <div class="product-grid-item-bottom">
                                <span class="product-price">{{manpower.status}}</span>
                                <p-inputSwitch [ngModel]="checkStatus(manpower)" (onChange)="handleChangeMpw($event, manpower)"></p-inputSwitch>
                                <!-- <button *ngIf="manpower.status == 'active'" pButton type="button" label="Deactivate" (click)="deactivateManpower(manpower)"
                                    class="p-button-sm p-button-rounded p-button-danger float-right"></button>

                                <button *ngIf="manpower.status == 'inactive'" pButton type="button" label="Activate" (click)="activateManpower(manpower)"
                                    class="p-button-sm p-button-rounded p-button-success float-right"></button> -->
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataView>
        </div>
    </div>
    <div class="tab-pane fade" id="venue" role="tabpanel" aria-labelledby="venue-tab">
        <div class="card">
            <p-dataView #ve [value]="venues" [paginator]="true" [rows]="9" filterBy="title"
                [sortField]="sortFieldVen" [sortOrder]="sortOrderVen" layout="grid">
                <ng-template pTemplate="header">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
                        <p-dropdown [options]="sortOptions" [(ngModel)]="sortKeyVen" placeholder="Sort By Date" (onChange)="onSortChangeVenue($event)" styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
                        <p-dropdown [options]="filterStatusOptions" [(ngModel)]="filterKeyVen" placeholder="Filter By Status" (onChange)="filterVenueStatus($event)" styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
                        <span class="p-input-icon-left p-mb-2 p-mb-md-0">
                            <i class="pi pi-search"></i>
                            <input type="search" pInputText placeholder="Search by Title" (input)="ve.filter($event.target.value)">
                        </span>
                        <!-- <p-dataViewLayoutOptions></p-dataViewLayoutOptions> -->
                    </div>
                </ng-template>
                <ng-template let-venue pTemplate="gridItem">
                    <div class="p-col-12 p-md-4">
                        <div class="product-grid-item card p-3">
                            <div class="product-grid-item-top">
                                <div>
                                    <i class="pi pi-tag product-category-icon"></i>
                                    <span class="product-category">Venue</span>
                                </div>
                                <span class="float-right">{{formatDate(venue.updatedAt)}}</span>
                            </div>
                            <div class="product-grid-item-content">
                                <img *ngIf="venue.imgPath.length == 0" src="../../../assets/img/venue.png" class="img-fluid" style="width: 100px; height: 100px; object-fit: cover;" [alt]="venue.title"/>
                                <img *ngIf="venue.imgPath.length != 0" src="https://localhost:8080{{venue.imgPath[0]}}" class="img-fluid" style="width: 100px; height: 100px; object-fit: cover;" [alt]="venue.title"/>
                                <div class="product-name"><a href="/resource/resourceDetails?id={{venue.id}}&type=venue">{{venue.title}}</a></div>
                                <div class="product-description">{{venue.country}}</div>
                            </div>
                            <div class="product-grid-item-bottom">
                                <span class="product-price">{{venue.status}}</span>
                                <p-inputSwitch [ngModel]="checkStatus(venue)" (onChange)="handleChangeVen($event, venue)"></p-inputSwitch>
                                <!-- <button *ngIf="venue.status == 'active'" pButton type="button" label="Deactivate" (click)="deactivateVenue(venue)"
                                    class="p-button-sm p-button-rounded p-button-danger float-right"></button>

                                <button *ngIf="venue.status == 'inactive'" pButton type="button" label="Activate" (click)="activateVenue(venue)"
                                    class="p-button-sm p-button-rounded p-button-success float-right"></button> -->
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataView>
        </div>
    </div>
    <div class="tab-pane fade" id="knowledge" role="tabpanel" aria-labelledby="knowledge-tab">
        <div class="card">
            <p-dataView #kn [value]="knowledges" [paginator]="true" [rows]="9" filterBy="title"
                [sortField]="sortFieldKno" [sortOrder]="sortOrderKno" layout="grid">
                <ng-template pTemplate="header">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
                        <p-dropdown [options]="sortOptions" [(ngModel)]="sortKeyKno" placeholder="Sort By Date" (onChange)="onSortChangeKnowledge($event)" styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
                        <p-dropdown [options]="filterStatusOptions" [(ngModel)]="filterKeyKno" placeholder="Filter By Status" (onChange)="filterKnowledgeStatus($event)" styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
                        <span class="p-input-icon-left p-mb-2 p-mb-md-0">
                            <i class="pi pi-search"></i>
                            <input type="search" pInputText placeholder="Search by Title" (input)="kn.filter($event.target.value)">
                        </span>
                        <!-- <p-dataViewLayoutOptions></p-dataViewLayoutOptions> -->
                    </div>
                </ng-template>
                <ng-template let-knowledge pTemplate="gridItem">
                    <div class="p-col-12 p-md-4">
                        <div class="product-grid-item card p-3">
                            <div class="product-grid-item-top">
                                <div>
                                    <i class="pi pi-tag product-category-icon"></i>
                                    <span class="product-category">Knowledge</span>
                                </div>
                                <span class="float-right">{{formatDate(knowledge.updatedAt)}}</span>
                            </div>
                            <div class="product-grid-item-content">
                                <div class="product-name"><a href="/resource/resourceDetails?id={{knowledge.id}}&type=knowledge">{{knowledge.title}}</a></div>
                                <div class="product-description"></div>
                            </div>
                            <div class="product-grid-item-bottom">
                                <span class="product-price">{{knowledge.status}}</span>
                                <p-inputSwitch [ngModel]="checkStatus(knowledge)" (onChange)="handleChangeKno($event, knowledge)"></p-inputSwitch>
                                <!-- <button *ngIf="knowledge.status == 'active'" pButton type="button" label="Deactivate" (click)="deactivateKnowledge(knowledge)"
                                    class="p-button-sm p-button-rounded p-button-danger float-right"></button>

                                <button *ngIf="knowledge.status == 'inactive'" pButton type="button" label="Activate" (click)="activateKnowledge(knowledge)"
                                    class="p-button-sm p-button-rounded p-button-success float-right"></button> -->
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataView>
        </div>
    </div>
</div>
