<h1 class="h1">User Sign Up</h1>
<a href="/signup/institution" class="btn btn-primary">Sign up as Institution</a>
<div class="col-md-12">
    <div class="card card-container">
      <form
        *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            name="name"
            [(ngModel)]="form.name"
            required
            minlength="3"
            #name="ngModel"
          />
          <div class="alert-danger" *ngIf="f.submitted && name.invalid">
            <div *ngIf="name.errors.required">Name is required</div>
            <div *ngIf="name.errors.minlength">
              Name must be at least 3 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            class="form-control"
            name="username"
            [(ngModel)]="form.username"
            required
            minlength="3"
            maxlength="20"
            #username="ngModel"
          />
          <div class="alert-danger" *ngIf="f.submitted && username.invalid">
            <div *ngIf="username.errors.required">Username is required</div>
            <div *ngIf="username.errors.minlength">
              Username must be at least 3 characters
            </div>
            <div *ngIf="username.errors.maxlength">
              Username must be at most 20 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            name="email"
            [(ngModel)]="form.email"
            required
            email
            #email="ngModel"
          />
          <div class="alert-danger" *ngIf="f.submitted && email.invalid">
            <div *ngIf="email.errors.required">Email is required</div>
            <div *ngIf="email.errors.email">
              Email must be a valid email address
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel"
          />
          <div class="alert-danger" *ngIf="f.submitted && password.invalid">
            <div *ngIf="password.errors.required">Password is required</div>
            <div *ngIf="password.errors.minlength">
              Password must be at least 6 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <input
            type="password"
            class="form-control"
            name="confirmPassword"
            [(ngModel)]="form.confirmPassword"
            required
            minlength="6"
            #confirmPassword="ngModel"
          />
          <div class="alert-danger" *ngIf="f.submitted && confirmPassword.invalid">
            <div *ngIf="confirmPassword.errors.required">Password is required</div>
            <div *ngIf="confirmPassword.errors.minlength">
              Password must be at least 6 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="country">Country</label>
          <input
            type="text"
            class="form-control"
            name="country"
            [(ngModel)]="form.country"
            required
            #country="ngModel"
          />
          <div class="alert-danger" *ngIf="f.submitted && country.invalid">
            <div *ngIf="country.errors.required">Country is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="gender">Gender</label>
          <select class="select" name="gender" [(ngModel)]="form.gender" required #gender="ngModel">
            <option selected>Choose...</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
          <div class="alert-danger" *ngIf="f.submitted && gender.invalid">
            <div *ngIf="gender.errors.required">Gender is required</div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block">Sign Up</button>
        </div>
  
        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
          Signup failed!<br />{{ errorMessage }}
        </div>
      </form>
  
      <div class="alert alert-success" *ngIf="isSuccessful">
        Your registration is successful!
      </div>
    </div>
</div>