<h2>Project Marketplace</h2>

<div class="card">
    <p-dataView #dv [value]="projects" [paginator]="true" [rows]="9" filterBy="title" layout="grid">
        <ng-template pTemplate="header">
            <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
                <p-multiSelect [options]="sdgOption" defaultLabel="All SDGs" [(ngModel)]="selectedSDGs" (onChange)="onSDGChange($event)"
                    optionLabel="name">
                    <ng-template let-value pTemplate="selectedItems">
                        <div class="country-item" style="display: inline-flex;" *ngFor="let option of selectedSDGs">
                            <span class="sdg sdg{{option.number}} mr-md-1">{{option.number}}</span>
                        </div>
                        <div *ngIf="!selectedSDGs || selectedSDGs.length === 0" class="country-placeholder">
                            Select SDGs
                        </div>
                    </ng-template>
                    <ng-template let-country pTemplate="item">
                        <div class="country-item">
                            <div>{{country.value.name}}</div>
                        </div>
                    </ng-template>
                </p-multiSelect>

                <p-dropdown [options]="countryOptions" [(ngModel)]="filterKeyCountry" placeholder="Filter By Country" (onChange)="onFilterCountry($event)"
                    styleClass="p-mb-2 p-mb-md-0"></p-dropdown>

                <!--p-multiSelect [options]="sdgOption" defaultLabel="All SDGs" [(ngModel)]="selectedSDGs" (onChange)="onSDGChange($event)"
                    optionLabel="name">
                    <ng-template let-value pTemplate="selectedItems">
                        <div class="country-item" style="display: inline-flex;" *ngFor="let option of selectedSDGs">
                            <span class="sdg sdg{{option.number}} mr-md-1">{{option.number}}</span>
                        </div>
                        <div *ngIf="!selectedSDGs || selectedSDGs.length === 0" class="country-placeholder">
                            Select SDGs
                        </div>
                    </ng-template>
                    <ng-template let-country pTemplate="item">
                        <div class="country-item">
                            <div>{{country.value.name}}</div>
                        </div>
                    </ng-template>
                </p-multiSelect-->
                <span class="p-input-icon-left p-mb-2 p-mb-md-0">
                    <i class="pi pi-search"></i>
                    <input type="search" pInputText placeholder="Search by Title" (input)="dv.filter($event.target.value)">
                </span>
            </div>
        </ng-template>
        <ng-template let-project pTemplate="gridItem">
            <div class="p-col-12 p-md-4">
                <div class="product-grid-item card p-3">
                    <div class="mb-md-2">
                        <div *ngFor="let sdg of project.SDGs" style="display:inline-block;">
                            <button class="sdg sdg{{sdg}} mr-md-1 small">{{sdg}}</button>
                        </div>
                        <span class="float-right">{{formatDate(project.createdAt)}}</span>
                    </div>
                    <div class="product-grid-item-content">
                        <img *ngIf="project.imgPath.length == 0" src="../../../assets/img/team.jpg" class="img-fluid" style="width: 100px; height: 100px; object-fit: cover;"
                            [alt]="project.title" />
                        <img *ngIf="project.imgPath.length != 0" src="https://localhost:8080{{project.imgPath}}" class="img-fluid" style="width: 100px; height: 100px; object-fit: cover;"
                            [alt]="project.title" />
                        <div class="product-name">
                            <a href="/project/projectDetails?id={{project.id}}">{{project.title}}</a>
                        </div>
                        <div>{{project.country}}</div>
                        
                    </div>
                    <div class="mt-md-3">
                        <a class="btn btn-primary float-right" style="bottom: 3%; right: 3%; position: absolute;" href="/project/resources?id={{project.id}}">Contribute</a>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>