<!-- <div>
    This is home
    <button class="btn btn-primary" (click)="test()">Test</button>
</div> -->
<div class="container">
    <div class="row">
      <div class="col-3">
        <div class="card">
          <div class="card-body">
            <div *ngIf="user.profilePic.length > 0">
              <img class="card-img-top rounded-circle img-fluid mx-auto d-block" style="width: 200px; height: 200px; object-fit: cover;" src={{user.profilePic}} alt="Profile picture">
            </div>
            <div *ngIf="user.profilePic.length == 0">
              <img
                src="../../assets/img/profilePic_Placeholder.png"
                class="rounded-circle img-fluid"
                style="width: 200px; height: 200px; object-fit: cover;"
                alt="Profile picture"
              />
            </div>
            <h5 class="card-title text-center mt-md-3">
              <a href="/ownProfile" class="text-dark"> {{ user.name }} </a>
            </h5>
          </div>
        </div>
      </div>
      <div class="col-7">
        News feed
      </div>
      <div class="col-2">
        Announcement
      </div>
    </div>
</div>
<div style="margin-top: 700px;">
    Test
</div>