<div class="container">
    <div class="row">
      <div class="col-2">
        <div class="card">
          <div class="card-body">
            <div *ngIf="user.profilePic.length > 0">
              <img class="card-img-top rounded-circle img-fluid mx-auto d-block" style="width: 120px; height: 120px; object-fit: cover;" src={{user.profilePic}} alt="Profile picture">
            </div>
            <div *ngIf="user.profilePic.length == 0">
              <img
                src="../../assets/img/profilePic_Placeholder.png"
                class="rounded-circle img-fluid"
                style="width: 120px; height: 120px; object-fit: cover;"
                alt="Profile picture"
              />
            </div>
            <h6 class="card-title text-center mt-md-3">
              <a href="/profile?username={{user.username}}&userType={{userType}}" class="text-dark">{{ user.name }}</a>
            </h6>
          </div>
        </div>
        <br/>
        <div class="card">
          <h6 class="card-title text-center mt-md-3">
            <a href="/chat" class="text-dark">Chats</a>
          </h6>
        </div>
        <div class="card">
          <h6 class="card-title text-center mt-md-3">
            <a href="#" class="text-dark">Notifications</a>
          </h6>
        </div>
        <div class="card">
          <h6 class="card-title text-center mt-md-3">
            <a href="/discover-weekly" class="text-dark">Discover Weekly</a>
          </h6>
        </div>
      </div>
      <div class="col-7">
        <!-- <div class="card"> -->
          <!-- <div class="card-body"> -->
            <div *ngFor="let n of newsFeed">
              <div class="card mb-md-2">
                <div *ngIf="n.imgPath.length == 0">
                  <img class="card-img-top img-fluid" src="../../assets/img/team.jpg" 
                    alt="Project picture" style="height: 300px; object-fit: cover;">
                </div>
                <div *ngIf="n.imgPath.length > 0">
                  <img class="card-img-top img-fluid" src="https://localhost:8080{{n.imgPath}}" 
                    alt="Project picture" style="height: 300px; object-fit: cover;">
                </div>
                <div class="row p-2">
                  <div class="col-2">
                    <div *ngIf="n.profilePic.length == 0">
                      <div *ngIf="n.hostType == 'user'">
                        <a href="/profile?username={{n.hostUsername}}&userType=individual"><img class="img-fluid rounded-circle" src="../../assets/img/profilePic_Placeholder.png"
                            alt="Profile picture" style="height: 60px; width: 60px; object-fit: cover;"></a>
                      </div>
                      <div *ngIf="n.hostType != 'user'">
                        <a href="/profile?username={{n.hostUsername}}&userType=institution"><img class="img-fluid rounded-circle" src="../../assets/img/profilePic_Placeholder.png"
                            alt="Profile picture" style="height: 60px; width: 60px; object-fit: cover;"></a>
                      </div>
                    </div>
                    <div *ngIf="n.profilePic.length > 0">
                      <div *ngIf="n.hostType == 'user'">
                        <a href="/profile?username={{n.hostUsername}}&userType=individual"><img class="img-fluid rounded-circle" src="{{n.profilePic}}"
                            alt="Profile picture" style="height: 60px; width: 60px; object-fit: cover;"></a>
                      </div>
                      <div *ngIf="n.hostType != 'user'">
                        <a href="/profile?username={{n.hostUsername}}&userType=institution"><img class="img-fluid rounded-circle" src="{{n.profilePic}}"
                            alt="Profile picture" style="height: 60px; width: 60px; object-fit: cover;"></a>
                      </div>
                    </div>
                  </div>
                  <div class="col-10">
                    <h5><a href="/project/projectDetails?id={{n.id}}">{{n.title}}</a>
                      <span class="ml-md-2 text-secondary" style="font-size: small;">{{formatDate(n.createdAt)}}</span>
                    <div class="float-right">
                      <span style="font-size: small;">SDGs:&nbsp;</span>
                      <div *ngFor="let s of n.SDGs" style="display:inline-block;">
                        <span class="sdg sdg{{s}}" style="font-size: small;">{{s}}</span>
                      </div>
                    </div>
                  </h5>
                    <h6 class="p-text-nowrap p-text-truncate text-secondary" style="width: 90%;">{{n.desc}}</h6>
                  </div>
                </div>
                
              </div>
            </div>
          <!-- </div> -->
        <!-- </div> -->
      </div>
      <div class="col-3">
        <div class="card">
          <div class="text-center pt-3">
            <h5>Announcement</h5>
          </div>
          <div *ngIf="announcements.length == 0">
            <div class="dropdown-divider"></div>
            <div class="card-body">
              No announcement found.
            </div>
          </div>
          <div *ngFor="let a of announcements; let p = index">
            <div *ngIf="p<3">
              <div class="dropdown-divider"></div>
              <div class="card-body">
                <h5><button class="announcement-title" data-toggle="modal" data-target="#viewAnnouncement" (click)="getAnnouncement(a)">{{a.title}}</button></h5>
                <div class="text-secondary">{{formatDate(a.updatedAt)}}</div>
                <div class="p-text-nowrap p-text-truncate" style="width: 100%">{{a.desc}}</div>
              </div>
            </div>
          </div>
        </div>
        <a *ngIf="announcements.length > 0" href="/announcements">See All</a>

        <div class="modal fade" id="viewAnnouncement" tabindex="-1" role="dialog" aria-labelledby="viewAnnouncementLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="viewAnnouncementLabel">View Announcement</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <h5>{{viewAnn.title}}</h5>
                  <div class="text-secondary mb-md-1">{{formatDate(viewAnn.updatedAt)}}</div>
                  <div class="text-justify">{{viewAnn.desc}}</div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
</div>