<h1>Profile Settings</h1>

<div id="accordion" style="width: 70%;">
    <!-- <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
            <label for="username">Username</label>
            <button class="btn btn-link collapsed float-right" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Edit
            </button>
        </h5>
      </div>
  
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
            <form name="formUsername"
            (ngSubmit)="f.form.valid && updateUsername()"
            #f="ngForm"
            novalidate>
            <input
            type="text"
            class="form-control"
            name="username"
            [(ngModel)]="user.username"
            required
            #username="ngModel"
            (click)="isUsernameSuccessful=false; f.submitted=false"
            />
            <div class="alert-danger" *ngIf="f.submitted && username.invalid">
                <div *ngIf="username.errors.required">Username is required</div>
            </div>
            <button class="btn btn-primary">Save</button>
            </form>
            <div class="alert alert-warning" *ngIf="f.submitted && !isUsernameSuccessful">
                Update failed!<br />{{ errMsgUsername }}
            </div>
            <div class="alert alert-success" *ngIf="isUsernameSuccessful">
                Username update is successful!
            </div>
        </div>
      </div>
    </div> -->
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
            <label for="email">Email address</label>
            <button class="btn btn-link collapsed float-right" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Edit
            </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
            <form name="formEmail"
            (ngSubmit)="fe.form.valid && updateEmail()"
            #fe="ngForm"
            novalidate>
            <input
                type="text"
                class="form-control"
                name="email"
                [(ngModel)]="user.email"
                required
                #email="ngModel"
                (click)="isEmailSuccessful=false; fe.submitted=false"
            />
            <div class="alert-danger" *ngIf="fe.submitted && email.invalid">
                <div *ngIf="email.errors.required">Email is required</div>
            </div>
            <button class="btn btn-primary">Save</button>
            </form>
            <div class="alert alert-warning" *ngIf="fe.submitted && !isEmailSuccessful">
                Update failed!<br />{{ errMsgEmail }}
            </div>
            <div class="alert alert-success" *ngIf="isEmailSuccessful">
                Email update is successful!
            </div>
        </div>
        </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
            <label for="password">Change Password</label>
            <button class="btn btn-link collapsed float-right" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Edit
            </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
            <form #formPassword = "ngForm"
            (ngSubmit)="formPassword.form.valid && changePassword(formPassword)"
            novalidate>
            <div class="form-group">
                <label for="oldPassword">Current Password</label>
                <input
                    type="password"
                    class="form-control"
                    name="oldPassword"
                    ngModel
                    required
                    minlength="8"
                    #oldPassword="ngModel"
                    (click)="isPassSuccessful=false; formPassword.submitted=false"
                />
                <div class="alert-danger" *ngIf="formPassword.submitted && !isPassSuccessful && oldPassword.invalid">
                    <div *ngIf="oldPassword.errors.required">Current password is required</div>
                    <div *ngIf="oldPassword.errors.minlength">
                    Password must be at least 8 characters
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="newPass">New Password</label>
                <input
                    type="password"
                    class="form-control"
                    name="newPassword"
                    ngModel
                    required
                    minlength="8"
                    #newPassword="ngModel"
                    (click)="isPassSuccessful=false; formPassword.submitted=false"
                />
                <div class="alert-danger" *ngIf="formPassword.submitted && !isPassSuccessful && newPassword.invalid">
                    <div *ngIf="newPassword.errors.required">New password is required</div>
                    <div *ngIf="newPassword.errors.minlength">
                    Password must be at least 8 characters
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="confirmPassword">Confirm New Password</label>
                <input
                    type="password"
                    class="form-control"
                    name="confirmPassword"
                    ngModel
                    required
                    minlength="8"
                    #confirmPassword="ngModel"
                    (click)="isPassSuccessful=false; formPassword.submitted=false"
                />
                <div class="alert-danger" *ngIf="formPassword.submitted && !isPassSuccessful && confirmPassword.invalid">
                    <div *ngIf="confirmPassword.errors.required">Confirm password is required</div>
                    <div *ngIf="confirmPassword.errors.minlength">
                    Password must be at least 8 characters
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Save</button>
            </div>
            </form>
            <div class="alert alert-warning" *ngIf="formPassword.submitted && !isPassSuccessful">
                Update failed!<br />{{ errMsgPass }}
            </div>
            <div class="alert alert-success" *ngIf="isPassSuccessful">
                Password update is successful!
            </div>
            
        </div>
      </div>
    </div>
    <div class="card" *ngIf=isIndividual>
        <div class="card-header" id="headingFour">
          <h5 class="mb-0">
              <label for="username">Verification</label>
              <button class="btn btn-link collapsed float-right" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Edit
              </button>
          </h5>
        </div>
    
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
                <div *ngIf=notVerified>
                    <div *ngIf=!isRequestSuccessful>
                        Verification allows you to create projects. <br/>
                        To request for verification, upload a <u>picture</u> of yourself holding your identification card. <br/>
                        Your identity will be verified by KoCoSD's admin. <br/>
                        <input class="mt-md-2" type="file" name="image" (change)="selectImage($event)" /> <br/>
                        <button class="btn btn-primary mt-md-2" (click)=requestVerification()>Request for verification</button>
                    </div>
                    <div class="alert alert-warning" *ngIf="isSubmitted && !isRequestSuccessful">
                        Request failed<br />{{ errMsgVerifyRequest }}
                    </div>
                    <div class="alert alert-success" *ngIf="isRequestSuccessful">
                        Your request has been sent! <br/>
                        Status: {{ verifyRequest.status }}
                    </div>
                </div>
                <div *ngIf=pendingVerified>
                    Your verification is being processed. For enquiries, contact kocosdofficial@gmail.com.
                </div>
                <div *ngIf=verified>
                    Your account is verified. <br/>
                    You are now able to create projects.
                </div>
            </div>
        </div>
    </div>
</div>